<div class="navbar-top sidebar-secondary-hidden">
	<!-- Main navbar -->
	<app-header></app-header>
	<!-- /main navbar -->
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-fixed">
				<div class="sidebar-content">

					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								<a href="#" class="media-left"><img src="assets/images/Images1/logoRight.png"
										class="img-circle img-sm" alt=""></a>
								<div class="media-body">
									<span class="media-heading text-semibold">Chinmaya Mission</span>
									<div class="text-size-mini text-muted">
										<i class="icon-pin text-size-small"></i> &nbsp;Maryland, MD
									</div>
								</div>

								<div class="media-right media-middle">
									<ul class="icons-list">
										<li>
											<a href="#"><i class="icon-cog3"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->


					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding mb-40">
							<ul class="navigation navigation-main navigation-accordion">
								<li>
									<a href="Dashboard.html"><img src="assets/images/SVG/01-dashboard-icon.svg"
											class="img_cls2 mr-5" alt="Dashboard"> <span>Dashboard</span></a>
								</li>
								<li>
									<a href="#"><img src="assets/images/SVG/Family.svg" class="img_cls2 mr-5" alt="">
										<span>Family</span></a>
									<ul>
										<li>
											<a href="manage_family.html"><img
													src="assets/images/SVG/03-manage family-icon.svg"
													class="img_cls2 mr-5" alt="Consultant">Manage Family</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#"><img src="assets/images/SVG/04-registration-icon.svg"
											class="img_cls2 mr-5" alt=""> <span>Registration</span></a>
									<ul>
										<li>
											<a href="membership.html"><img src="assets/images/SVG/Membership-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Membership</span></a>
										</li>
										<li>
											<div class="category-content1">
												<div class="form-group">
													<select name="select" class="form-control input-xs" required>
														<option value="">-Select Chapter-</option>
														<option value="">CSVA</option>
														<option value="">CHMD</option>
														<option value="">FEDMD</option>
														<option value="">CHRD</option>
													</select>
												</div>
											</div>
											<div class="ml-20">
												<a href="membership.html"><img
														src="assets/images/SVG/Balavihar-icon.svg" class="img_cls2 mr-5"
														alt=""><span>Balavihar</span></a>

												<a href="membership.html"><img
														src="assets/images/SVG/Shishuvihar-icon.svg"
														class="img_cls2 mr-5" alt=""><span>Shishuvihar</span></a>

												<a href="membership.html"><img
														src="assets/images/SVG/Amrutha Vihar-icon.svg"
														class="img_cls2 mr-5" alt=""><span>Amruthavihar</span></a>

												<a href="membership.html"><img
														src="assets/images/SVG/Dandiya Event-icon.svg"
														class="img_cls2 mr-5" alt=""><span>Dandia Event</span></a>
											</div>
										</li>
										<li>
											<a href="search_family_view.html"><img
													src="assets/images/SVG/05-search family view-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Search Family View</span></a>
										</li>
										<li>
											<a href="create_account.html"><img
													src="assets/images/SVG/06-add family register-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Add Family & Register</span></a>
										</li>
										<li>
											<a href="show_registration.html"><img
													src="assets/images/SVG/07-show summary registration-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Show Registration
													Summary</span></a>
										</li>
										<li>
											<a href="registration_review.html"><img
													src="assets/images/SVG/08-register review-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Registration Review</span></a>
										</li>
										<li>
											<a href="volunteer_signup.html"><img
													src="assets/images/SVG/09-volunteer signup-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Volunteer Signup</span></a>
										</li>
										<li>
											<a href="volunteer_assignments.html"><img
													src="assets/images/SVG/10-volunteer assignment-icon.svg"
													class="img_cls2 mr-5" alt="">Volunteer Assignments</a>
										</li>
										<li>
											<a href="payment_reconcilation.html"><img
													src="assets/images/SVG/11-paymentr econciliation-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Payment Reconcilation</span></a>
										</li>
										<li>
											<a href="sevak_names.html"><img
													src="assets/images/SVG/12-sevakname-icon.svg" class="img_cls2 mr-5"
													alt=""><span>Sevak Names</span></a>
										</li>
									</ul>
								</li>
								<li class="active">
									<a href="#"><img src="assets/images/SVG/13-configuration-icon.svg"
											class="img_cls2 mr-5" alt=""> <span>Configuration</span></a>
									<ul>
										<li>
											<a href="create_program.html"><img
													src="assets/images/SVG/14-create program-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Create Program</span></a>
										</li>
										<li>
											<a href="search_and_modify_program.html"><img
													src="assets/images/SVG/15-serch & modify program-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Search & Modify
													Program</span></a>
										</li>
										<li>
											<a href="view_program.html"><img
													src="assets/images/SVG/16-view program-icon.svg"
													class="img_cls2 mr-5" alt=""><span>View Program</span></a>
										</li>
										<li class="active">
											<a href="#"><img src="assets/images/SVG/17-access management-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Access Management</span></a>
											<ul>
												<li>
													<a href="role.html"><img src="assets/images/SVG/18-role-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Role</span></a>
												</li>
												<li>
													<a href="user.html"><img src="assets/images/SVG/19-user-icon.svg"
															class="img_cls2 mr-5" alt=""><span>User</span> </a>
												</li>
												<li class="active">
													<a href="search_role.html"><img
															src="assets/images/SVG/20-search role-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Search Role</span></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="createemailtemplate.html"><img
													src="assets/images/SVG/21-create email template-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Create Email Template</span></a>
										</li>
										<li>
											<a href="installment_payment_email_template.html"><img
													src="assets/images/SVG/22-installment payment email-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Installment Payment Email
													Template</span></a>
										</li>
										<li>
											<a href="class_rooms.html"><img
													src="assets/images/SVG/23-class rooms-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Class Rooms</span></a>
										</li>
										<li>
											<a href="donation_configurations.html"><img
													src="assets/images/SVG/24-donation configuration-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Donation Configuration</span></a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#"><img src="assets/images/SVG/25-event configuration-icon.svg"
											class="img_cls2 mr-5" alt=""> <span>Event Configuration</span></a>
									<ul>
										<li>
											<a href="create_event.html"><img
													src="assets/images/SVG/26-create event-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Create Event</span></a>
										</li>
										<li>
											<a href="search_and_modify_event.html"><img
													src="assets/images/SVG/27-search & modify event-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Search and Modify
													Event</span></a>
										</li>
										<li>
											<a href="view_event.html"><img
													src="assets/images/SVG/28-view event-icon.svg" class="img_cls2 mr-5"
													alt=""><span>View Event</span></a>
										</li>
										<li>
											<a href="event_reports.html"><img
													src="assets/images/SVG/29-eventr eport-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Event Reports</span></a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#"><img src="assets/images/SVG/30-reports-icon.svg" class="img_cls2 mr-5"
											alt=""> <span>Reports</span></a>
									<ul>
										<li>
											<a href="#"><img src="assets/images/SVG/31-roster-reports-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Roster Reports</span></a>
											<ul>
												<li>
													<a href="class.html"><img src="assets/images/SVG/32-class-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Class</span> </a>
												</li>
												<li>
													<a href="student_attendence.html"><img
															src="assets/images/SVG/33-student-attendance-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Student
															Attendence</span></a>
												</li>
												<li>
													<a href="student_name.html"><img
															src="assets/images/SVG/34-student-names-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Student Name</span></a>
												</li>
												<li>
													<a href="master_roster.html"><img
															src="assets/images/SVG/35-master-roster-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Master Roster</span></a>
												</li>
												<li>
													<a href="parent_email.html"><img
															src="assets/images/SVG/36-parent-email-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Parent Email</span></a>
												</li>
												<li>
													<a href="constant_contact_email_extract.html"><img
															src="assets/images/SVG/37-contant contact email extract-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Constant Contact Email
															Extract</span></a>
												</li>
												<li>
													<a href="family_report.html"><img
															src="assets/images/SVG/38-family-report-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Family Report</span></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="accounting_extract.html"><img
													src="assets/images/SVG/39-accounting-extract-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Accounting Extract</span></a>
										</li>
										<li>
											<a href="#"><img src="assets/images/SVG/40-summary-reports-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Summary Report</span></a>
											<ul>
												<li>
													<a href="post_registration_count.html"><img
															src="assets/images/SVG/41-post-registration-count-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Post Registration
															Count</span></a>
												</li>
												<li>
													<a href="pre_registration_count.html"><img
															src="assets/images/SVG/42-pre-registration-count-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Pre Registration
															Count</span></a>
												</li>
												<li>
													<a href="summary_count_by_signup_code.html"><img
															src="assets/images/SVG/43-summary-count-by-sign-up-code-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Summary Count By Sign-Up
															Code</span></a>
												</li>
												<li>
													<a href="summary_count_by_school_grade.html"><img
															src="assets/images/SVG/44-summary-count-by-sschool-grade-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Summary Count By School
															Grade</span></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#"><img src="assets/images/SVG/45-registration-reports-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Registration Reports</span></a>
											<ul>
												<li>
													<a href="adults_vs_children.html"><img
															src="assets/images/SVG/46-adult-vs-children-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Adults vs
															Children</span></a>
												</li>
												<li>
													<a href="roster_by_each_signup_code_asgnmnt.html"><img
															src="assets/images/SVG/47-Roster by each signup Code-Class-Sub Class Assignments-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Roster by each signup
															Code/Class/Sub Class Assignment</span></a>
												</li>
												<li>
													<a href="donation.html"><img
															src="assets/images/SVG/48-donation-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Donation</span></a>
												</li>
												<li>
													<a href="members_not_renew_curr_yr_CMWRC_msp.html"><img
															src="assets/images/SVG/49-Members did not renew for the current year CMWRC membership-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Members did not renew for
															the current year CMWRC membership</span></a>
												</li>
												<li>
													<a href="new_family_list.html"><img
															src="assets/images/SVG/50-New Family List-icon.svg"
															class="img_cls2 mr-5" alt=""><span>New Family
															List</span></a>
												</li>
												<li>
													<a href="non_memeber_familiy_list_reg_other_prg.html"><img
															src="assets/images/SVG/51-Non-member family list registered for other programs-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Non-Member family list
															registered for other programs</span></a>
												</li>
												<li>
													<a href="registration_count.html"><img
															src="assets/images/SVG/52-registration-count-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Registraion
															Count</span></a>
												</li>
												<li>
													<a href="registration_enrolled.html"><img
															src="assets/images/SVG/53-registration-enrolled-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Registraion
															Enrolled</span></a>
												</li>
												<li>
													<a href="membership_report.html"><img
															src="assets/images/SVG/54-membership-reports-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Membership
															Report</span></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="volunteer.html"><img src="assets/images/SVG/55-volunteer-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Volunteer</span></a>
										</li>
										<li>
											<a href="#"><img src="assets/images/SVG/56-summer camp-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Summer Camp Reports</span></a>
											<ul>
												<li>
													<a href="profile_report.html"><img
															src="assets/images/SVG/57-profile-reports-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Profile Report</span></a>
												</li>
												<li>
													<a href="FSA_letter.html"><img
															src="assets/images/SVG/58-FSA-letter-icon.svg"
															class="img_cls2 mr-5" alt=""><span>FSA Letter</span></a>
												</li>
												<li>
													<a href="allergy_information.html"><img
															src="assets/images/SVG/59-allergy information-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Allergy
															Information</span></a>
												</li>
												<li>
													<a href="carpool_grouped_by_zipcode.html"><img
															src="assets/images/SVG/60-CarPool grouped by Zipcode-icon.svg"
															class="img_cls2 mr-5" alt=""><span>CarPool grouped by
															Zipcode</span></a>
												</li>
												<li>
													<a href="parent_volunteer_choices.html"><img
															src="assets/images/SVG/61-Parent Volunteer choices-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Parent Volunteer
															choices</span></a>
												</li>
												<li>
													<a href="parent_volunteer_paid_choices.html"><img
															src="assets/images/SVG/62-Parent Volunteer Paid choices-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Parent Volunteer paid
															choices</span></a>
												</li>
												<li>
													<a href="campers_picture_roster.html"><img
															src="assets/images/SVG/63-Campers Picture Roster-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Campers Picture
															Roster</span></a>
												</li>
												<li>
													<a href="campers_parent_information.html"><img
															src="assets/images/SVG/64-Campers Parent Information-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Campers Parent
															Information</span></a>
												</li>
												<li>
													<a href="camp_student_health_report.html"><img
															src="assets/images/SVG/65-Camp Student Health-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Camp Student Health
															Report</span></a>
												</li>
												<li>
													<a href="campers_master_report.html"><img
															src="assets/images/SVG/66-Campers Master Reports-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Campers Master
															Report</span></a>
												</li>
												<li>
													<a href="emergency_contact.html"><img
															src="assets/images/SVG/67-Emergency Contacticon.svg"
															class="img_cls2 mr-5" alt=""><span>Emergency
															Contact</span></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#"><img src="assets/images/SVG/68-Leadership Reports-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Leadership Reports</span></a>
											<ul>
												<li>
													<a href="#"><img
															src="assets/images/SVG/69-Membership based comparison reports-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Membership based
															comparison reports</span></a>
													<ul>
														<li>
															<a href="membership_count_cmprsn_bw_ly_ny_reg.html"><img
																	src="assets/images/SVG/84-Membership count comparison between last year and new year registration-icon.svg"
																	class="img_cls2 mr-5" alt=""><span>Membership count
																	comparison between last year and new year
																	registration</span></a>
														</li>
														<li>
															<a href="list_of_families_who_reg_ly_nt_ny.html"><img
																	src="assets/images/SVG/70-List of families who registered in last year but did nont registered in new year-icon.svg"
																	class="img_cls2 mr-5" alt=""><span>List of families
																	who registered in last year but did not registered
																	in new year</span></a>
														</li>
														<li>
															<a href="count_of_new_families.html"><img
																	src="assets/images/SVG/71-count of new families-icon.svg"
																	class="img_cls2 mr-5" alt=""><span>Count of new
																	families</span></a>
														</li>
													</ul>
												</li>
												<li>
													<a href="#"><img
															src="assets/images/SVG/72-Program Registration Comparison Reports-icon.svg"
															class="img_cls2 mr-5" alt=""><span>Program registration
															comparison reports</span></a>
													<ul>
														<li>
															<a href="droplist_balavihar_report.html"><img
																	src="assets/images/SVG/73-DropList-Balavihar Reports-icon.svg"
																	class="img_cls2 mr-5"
																	alt=""><span>DropList-Balavihar Report</span></a>
														</li>
														<li>
															<a href="droplist_languages_report.html"><img
																	src="assets/images/SVG/74-DropList-Languages Report-icon.svg"
																	class="img_cls2 mr-5"
																	alt=""><span>DropList-Languages Report</span></a>
														</li>
														<li>
															<a href="droplist_shloka_report.html"><img
																	src="assets/images/SVG/75-DropList-Shloka Report-icon.svg"
																	class="img_cls2 mr-5" alt=""><span>DropList-Shloka
																	Report</span></a>
														</li>
														<li>
															<a href="droplist_art_class_report.html"><img
																	src="assets/images/SVG/76-DropList-Art Class Report-icon.svg"
																	class="img_cls2 mr-5" alt=""><span>DropList-Art
																	Class Report</span></a>
														</li>
														<li>
															<a href="droplist_performing_art_report.html"><img
																	src="assets/images/SVG/77-DropList-Performing Art Report-icons.svg"
																	class="img_cls2 mr-5"
																	alt=""><span>DropList-Performing Art
																	Report</span></a>
														</li>
														<li>
															<a href="count_of_balavihar_signup_code_report.html"><img
																	src="assets/images/SVG/78-Count of Balavihar Sign-up code Report-icons.svg"
																	class="img_cls2 mr-5" alt=""><span>Count of
																	Balavihar sign-up code Report</span></a>
														</li>
														<li>
															<a href="count_of_shloka_signup_code_report.html"><img
																	src="assets/images/SVG/79-Count of Shloka Sign-up Code Report-icons.svg"
																	class="img_cls2 mr-5" alt=""><span>Count of Shloka
																	sign-up code Report</span></a>
														</li>
														<li>
															<a href="count_of_language_signup_code_report.html"><img
																	src="assets/images/SVG/80-Count of Language sign-up code Report-icons.svg"
																	class="img_cls2 mr-5" alt=""><span>Count of Language
																	sign-up code Report</span></a>
														</li>
														<li>
															<a href="count_of_art_signup_code_report.html"><img
																	src="assets/images/SVG/81-Count of Art Sign-up Code Report-icons.svg"
																	class="img_cls2 mr-5" alt=""><span>Count of Art
																	sign-up code Report</span></a>
														</li>
														<li>
															<a href="count_of_performing_art_signup_code_report.html"><img
																	src="assets/images/SVG/82-Count of Performing Art Sign-Up Code Report-icons.svg"
																	class="img_cls2 mr-5" alt=""><span>Count of
																	Performing Art sign-up code Report</span></a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="pre_ordered_book_distribution_report.html"><img
													src="assets/images/SVG/83-Pre Ordered Book Distribution Report-icon.svg"
													class="img_cls2 mr-5" alt=""><span>Pre-Ordered Book Distribution
													Report</span></a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->



			<!-- Main content -->
			<div class="content-wrapper">
				<div class="content">
					<form data-toggle="validator" [formGroup]="form">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h5 class="panel-title">
										<img class="img_cls" src="assets/images/SVG-color/Search Role Details-icon.svg">
										Search Role Details
									</h5>
									<div class="heading-elements">
										<!--<div class="heading-btn">
										<a href="#">
                                      		<button type="button" class="btn btn-primary btn-xs pull-right button-effect"><span class="text-semibold">Create Email Template</span></button>
                                        </a>
									</div>	
									<div class="heading-btn">
										<a href="#">
                                      		<button type="button" class="btn btn-primary btn-xs pull-right button-effect"><span class="text-semibold">Create Volunteer SignUp</span></button>
                                        </a>
									</div>-->
									</div>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-12">
											<div class="row">
												<div class="form-group col-lg-6">
													<label class="text-semibold">Organization <span class="text-danger">
															*</span></label>
													<select class="form-control input-xs"
														data-error="Please Select Registration Status." required
														formControlName="organizationCode">
														<option value="">Select Organization Code</option>
														<option *ngFor="let code of organizationCodes" [ngValue]="code">
															{{ code }}</option>

													</select>
													<div class="help-block with-errors"></div>
												</div>
												<div class="form-group col-lg-6">
													<label class="text-semibold">Role <span class="text-danger">
															*</span></label>
													<select class="form-control input-xs"
														data-error="Please Select Registration Status." required formControlName="role">
														<option value="">Select Role</option>
														<option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>

													</select>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="row">
												<div class="form-group col-lg-6 no-margin-bottom">
													<label class="text-semibold">Family ID</label>
													<input type="text" class="form-control input-xs"
														placeholder="Family ID" formControlName="familyID">
												</div>
												<div class="form-group col-lg-6 no-margin-bottom">
													<label class="text-semibold">Report Format <span
															class="text-danger"> *</span></label>
													<select class="form-control input-xs"
														data-error="Please Select Registration Status." required formControlName="reportFormat">
														<option value="">Select</option>
														<option *ngFor="let report of reportFormats" [ngValue]="report">{{ report }}</option>
													</select>
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="panel-footer btn-align p-20" (click)="generateReport()">
									<a>
										<button type="button"
											class="btn bg-primary-400 btn-labeled btn-xs mb-5 text-semibold"><b><i
													class=" icon-file-excel"></i></b>Generate Report</button>
									</a>
								</div>

							</div>
						</div>
					</form>


					<!-- Footer -->
					<app-footer></app-footer>
					<!-- /footer -->

				</div>
				<!-- /main content -->

			</div>
			<!-- /page content -->

		</div>

	</div>
	<!-- /page container -->



</div>