
<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Time Slot SignUp</h3>
    </div>
    <div class="card-body">
       
      


<form  novalidate="novalidate" id="kt_stepper_example_basic_form" class="form mx-auto">
    <div  class="mb-2">
        <div  data-kt-stepper-element="content" class="flex-column current">
            <div  class="row"><div  class="col-lg-12 float-end mb-5">
                <div  class="float-end" style="margin-right: 5px;">
                    <button  type="button" class="btn btn-primary btn-sm">Save &amp; Next</button>
                </div>
                <div  class="float-end" style="margin-right: 5px;">
                    <button  type="button" class="btn btn-light border border-primary border-active active text-primary backbtn1 btn-sm">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div  class="mb-0">
    <h6  class="panel-title" style="font-weight: bold; text-decoration: none; font-size: 16px;">  </h6>
    <div  data-kt-stepper-element="content" class="flex-column current">
        <div  class="row mb-2">
            <div  class="col-lg-12">
                <div  class="card shadow-sm border border-gray-300">
                    <div  class="card-header" style="padding: 5px 15px; min-height: 50px !important;">
                        <div  class="card-title">
                            <h6 ><u >Instructions</u></h6>
                        </div>
                    </div>
                    <div  class="card-body p-4">
                        <div  class="fs-6" style="text-align: justify;">
                            <span >
                                <p><font color="#FF0000">Time Slot Sign-up:</font></p>
                                <p>Scroll down to Pick a Time-Slot for EACH participant in your family.</p>
                                <p><font>The mandatory parent volunteer slots selection will open on May 1, 2024. A reminder email will be sent to the primary email on the family record</font></p>
                            </span>
                        </div>
                        <div  class="fs-6">
                            <div  class="row">
                                <div  class="col-lg-12 d-flex radiocheck"><div >
                                    <div  class="form-check form-check-custom form-check-solid me-10">
                                        <input  type="radio" class="mr-5 ng-untouched ng-pristine ng-valid" ng-reflect-value="2" ng-reflect-is-disabled="false" ng-reflect-model="2" ng-reflect-options="[object Object]">
                                        <label  class="form-check-label fs-6 fw-semibold"> I will volunteer. </label>
                                    </div>
                                </div>
                                <div >
                                    <div  class="form-check form-check-custom form-check-solid me-10">
                                        <input  type="radio" class="mr-5 ng-untouched ng-pristine ng-valid" ng-reflect-value="1" ng-reflect-is-disabled="false" ng-reflect-model="2" ng-reflect-options="[object Object]">
                                        <label  class="form-check-label fs-6 fw-semibold"> I cannot volunteer. Instead, I will pay $250.00 </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="row mb-2">
        <div  class="col-lg-12">
            <div  class="card shadow-sm border border-gray-300">
                <div  class="card-header" style="padding: 5px 15px; min-height: 50px !important;">
                    <div  class="card-title">
                        <h5 ><u >Time Slot(s) Selection</u></h5>
                    </div>
                </div>
                <div  class="card-body p-3">
                    <div  class="col-lg-9">
                        <div  class="row">
                            <div  class="col-lg-3 mb-2 mt-2">
                                <div  class="form-check form-check-custom form-check-solid me-10">
                                    <input  type="radio" class="mr-5" value="14131">
                                    <label  class="form-check-label fs-6 fw-semibold"> Mohan Mk </label>
                                </div>
                            </div>
                            <div  class="col-lg-9 mb-2 mt-2">
                                <div  class="fs-6"><span >Time slot not selected</span>
                                </div>
                            </div>
                            <div  class="col-lg-9 mb-2">
                                <table  width="100%">
                                    <tbody >

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div  class="row mb-6">
        <div  class="col-lg-12">
            <div  class="card shadow-sm border border-gray-300">
                <div  class="card-body p-0">
                    <div  class="p-4">
                        <form  novalidate="" autocomplete="off" ng-reflect-form="[object Object]" class="ng-untouched ng-pristine ng-valid">
                            <div  class="col-lg-6 d-flex days">
                                <div  class="form-check form-check-custom form-check-solid me-10"><div >
                                    <input  type="radio" formcontrolname="selectedDuration" class="mr-5 ng-untouched ng-pristine ng-valid" ng-reflect-form-control-name="selectedDuration" ng-reflect-name="selectedDuration" ng-reflect-value="8">
                                    <label  class="form-check-label fs-6 fw-semibold"> Full Day </label>
                                </div>
                            </div>
                            <div  class="form-check form-check-custom form-check-solid me-10">
                                <div >
                                    <input  type="radio" formcontrolname="selectedDuration" class="mr-5 ng-untouched ng-pristine ng-valid" ng-reflect-form-control-name="selectedDuration" ng-reflect-name="selectedDuration" ng-reflect-value="4">
                                    <label  class="form-check-label fs-6 fw-semibold"> Half Day </label>
                                </div> 
                            </div>
                            <div  class="form-check form-check-custom form-check-solid me-10">
                                <div >
                                    <input  type="radio" formcontrolname="selectedDuration" class="mr-5 ng-untouched ng-pristine ng-valid" ng-reflect-form-control-name="selectedDuration" ng-reflect-name="selectedDuration" ng-reflect-value="2">
                                    <label  class="form-check-label fs-6 fw-semibold"> Reoccurring Days </label>
                                </div> 
                            </div>
                        </div>
                    </form>
                </div>
                <div  id="calendar-wrap">
                    <div  class="header"> August 2024 </div>
                    <div  class="mobileheader" style="display: none;">
                        <span  class="prev mt-1">◀</span><span  class="next mt-1">▶</span>
                    </div>
                    <div  id="calendar">
                        <ul  class="weekdays"><li >Sun</li><li >Mon</li><li >Tue</li><li >Wed</li><li >Thu</li><li >Fri</li><li >Sat</li></ul>
                        <ul  class="days">
                            <li  class="day">
                                <div  class="date"></div>
                                <div  class="fc-day-content">
                                    <div  style="position: relative;">
                                        <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"></a>
                                    </div>
                                </div>
                            </li>
                            <li  class="day">
                                <div  class="date"></div>
                                <div  class="fc-day-content">
                                    <div  style="position: relative;">
                                        <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"></a>
                                    </div>
                                </div>
                            </li>
                            <li  class="day">
                                <div  class="date"></div>
                                <div  class="fc-day-content">
                                    <div  style="position: relative;">
                                        <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"></a>
                                    </div>
                                </div>
                            </li>
                            <li  class="day">
                                <div  class="date"></div>
                                <div  class="fc-day-content">
                                    <div  style="position: relative;">
                                        <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"></a>
                                    </div>
                                </div>
                            </li>
                            <li  class="day">
                                <div  class="date">
                                    <span  class="day">Thu,</span>1</div>
                                    <div  class="fc-day-content">
                                        <div  style="position: relative;">
                                            <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;">
                                                <div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;">
                                                    <span  class="fc-title">
                                                        <p  class="event-desc"> Event Slots </p>
                                                        <p  class="event-desc1"> Total Slots : 65 </p>
                                                        <p  class="event-desc1"> Available Slots : 56 </p>
                                                        <a  class="add_event_label"> Sign - Up</a>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li  class="day">
                                    <div  class="date">
                                        <span  class="day">Fri,</span>2</div>
                                        <div  class="fc-day-content">
                                            <div  style="position: relative;">
                                                <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;">
                                                    <div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 0.5;">
                                                        <span  class="fc-title">
                                                            <p  class="event-desc"> Event Slots </p>
                                                            <p  class="event-desc1"> Total Slots : 2 </p>
                                                            <p  class="event-desc1"> Available Slots : 0 </p>
                                                            <a  class="add_event_label"> Sign - Up</a>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li  class="day">
                                        <div  class="date">
                                            <span  class="day">Sat,</span>3</div>
                                            <div  class="fc-day-content">
                                                <div  style="position: relative;">
                                                    <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"></a>
                                                </div>
                                            </div>
                                        </li></ul>
                                        <ul  class="days">
                                            <li  class="day">
                                                <div  class="date">
                                                    <span  class="day">Sun,</span>4</div>
                                                    <div  class="fc-day-content">
                                                        <div  style="position: relative;">
                                                            <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li  class="day">
                                                    <div  class="date">
                                                        <span  class="day">Mon,</span>5</div>
                                                        <div  class="fc-day-content">
                                                            <div  style="position: relative;">
                                                                <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;">
                                                                    <div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 0.5;">
                                                                        <span  class="fc-title">
                                                                            <p  class="event-desc"> Event Slots </p>
                                                                            <p  class="event-desc1"> Total Slots : 2 </p>
                                                                            <p  class="event-desc1"> Available Slots : 0 </p>
                                                                            <a  class="add_event_label"> Sign - Up</a>
                                                                        </span>
                                                                    </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li  class="day">
                                <div  class="date">
                                    <span  class="day">Tue,</span>6</div>
                                    <div  class="fc-day-content">
                                        <div  style="position: relative;">
                                            <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;">
                                                <div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;">
                                                    <span  class="fc-title">
                                                        <p  class="event-desc"> Event Slots </p>
                                                        <p  class="event-desc1"> Total Slots : 2 </p>
                                                        <p  class="event-desc1"> Available Slots : 1 </p>
                                                        <a  class="add_event_label"> Sign - Up</a>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li  class="day">
                                    <div  class="date">
                                        <span  class="day">Wed,</span>
                                            7</div>
                                            <div  class="fc-day-content">
                                                <div  style="position: relative;">
                                                    <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"><div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 0.5;">
                                                        <span  class="fc-title">
                                                            <p  class="event-desc"> Event Slots </p>
                                                            <p  class="event-desc1"> Total Slots : 2 </p>
                                                            <p  class="event-desc1"> Available Slots : 0 </p>
                                                            <a  class="add_event_label"> Sign - Up</a>
                                                        </span>
                                                    </div>
                                        </a></div></div>
                                    </li>
                                    <li  class="day">
                                        <div  class="date">
                                            <span  class="day">Thu,</span>8</div>
                                            <div  class="fc-day-content">
                                                <div  style="position: relative;">
                                                    <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;">
                                                        <div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;">
                                                            <span  class="fc-title"><p  class="event-desc"> Event Slots </p>
                                                                <p  class="event-desc1"> Total Slots : 4 </p>
                                                                <p  class="event-desc1"> Available Slots : 2 </p>
                                                                <a  class="add_event_label"> Sign - Up</a>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li  class="day">
                                            <div  class="date">
                                                <span  class="day">Fri,</span>9</div>
                                                <div  class="fc-day-content">
                                                    <div  style="position: relative;">
                                                        <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;">
                                                            <div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;">
                                                                <span  class="fc-title">
                                                                    <p  class="event-desc"> Event Slots </p>
                                                                    <p  class="event-desc1"> Total Slots : 2 </p>
                                                                    <p  class="event-desc1"> Available Slots : 2 </p>
                                                                    <a  class="add_event_label"> Sign - Up</a>
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li  class="day">
                                                <div  class="date">
                                                    <span  class="day">Sat,</span>10</div>
                                                    <div  class="fc-day-content">
                                                        <div  style="position: relative;">
                                                            <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul  class="days">
                                                <li  class="day">
                                                    <div  class="date">
                                                        <span  class="day">Sun,</span>11</div>
                                                        <div  class="fc-day-content">
                                                            <div  style="position: relative;">
                                                                <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li  class="day">
                                                        <div  class="date">
                                                            <span  class="day">Mon,</span>12</div>
                                                            <div  class="fc-day-content">
                                                                <div  style="position: relative;">
                                                                    <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;">
                                                                        <div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;">
                                                                            <span  class="fc-title">
                                                                                <p  class="event-desc"> Event Slots </p>
                                                                                <p  class="event-desc1"> Total Slots : 2 </p>
                                                                                <p  class="event-desc1"> Available Slots : 2 </p>
                                                                                <a  class="add_event_label"> Sign - Up</a>
                                                                            </span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li  class="day">
                                                            <div  class="date">
                                                                <span  class="day">Tue,</span>13</div>
                                                                <div  class="fc-day-content">
                                                                    <div  style="position: relative;">
                                                                        <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;">
                                                                            <div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;">
                                                                                <span  class="fc-title">
                                                                                    <p  class="event-desc"> Event Slots </p>
                                                                                    <p  class="event-desc1"> Total Slots : 2 </p>
                                                                                    <p  class="event-desc1"> Available Slots : 1 </p>
                                                                                    <a  class="add_event_label"> Sign - Up</a>
                                                                                </span>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li  class="day">
                                                                <div  class="date">
                                                                    <span  class="day">Wed,</span>14</div>
                                                                    <div  class="fc-day-content">
                                                                        <div  style="position: relative;">
                                                                            <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;">
                                                                                <div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 0.5;">
                                                                                    <span  class="fc-title">
                                                                                        <p  class="event-desc"> Event Slots </p>
                                                                                        <p  class="event-desc1"> Total Slots : 2 </p>
                                                                                        <p  class="event-desc1"> Available Slots : 0 </p>
                                                                                        <a  class="add_event_label"> Sign - Up</a>
                                                                                    </span>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li  class="day">
                                                                    <div  class="date">
                                                                        <span  class="day">Thu,</span>15</div>
                                                                        <div  class="fc-day-content">
                                                                            <div  style="position: relative;">
                                                                                <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"><div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;"><span  class="fc-title"><p  class="event-desc"> Event Slots </p><p  class="event-desc1"> Total Slots : 4 </p><p  class="event-desc1"> Available Slots : 2 </p><a  class="add_event_label"> Sign - Up</a></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li  class="day">
                                    <div  class="date">
                                                <span  class="day">Fri,</span>
                                                16</div>
                                                <div  class="fc-day-content">
                                                    <div  style="position: relative;">
                                                        <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;">
                                                            <div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;">
                                                                <span  class="fc-title">
                                                                    <p  class="event-desc"> Event Slots </p>
                                                                    <p  class="event-desc1"> Total Slots : 2 </p>
                                                                    <p  class="event-desc1"> Available Slots : 2 </p>
                                                                    <a  class="add_event_label"> Sign - Up</a>
                                                                </span>
                                                            </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li  class="day">
                                        <div  class="date">
                                            <span  class="day">Sat,</span>17</div>
                                            <div  class="fc-day-content">
                                                <div  style="position: relative;">
                                                    <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"></a>
                                                </div>
                                            </div>
                                        </li>
                                                </ul>
                                                <ul  class="days">
                                                    <li  class="day">
                                                        <div  class="date">
                                                            <span  class="day">Sun,</span>18</div>
                                                            <div  class="fc-day-content">
                                                                <div  style="position: relative;">
                                                                    <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li  class="day">
                                                            <div  class="date">
                                                                <span  class="day">Mon,</span>
                                                    19</div>
                                                    <div  class="fc-day-content">
                                                        <div  style="position: relative;">
                                                            <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;">
                                                                <div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;">
                                                                    <span  class="fc-title">
                                                                        <p  class="event-desc"> Event Slots </p>
                                                                        <p  class="event-desc1"> Total Slots : 2 </p>
                                                                        <p  class="event-desc1"> Available Slots : 2 </p>
                                                                        <a  class="add_event_label"> Sign - Up</a>
                                                                    </span>
                                                                </div>
                                                    </a></div>
                                                </div>
                                            </li>
                                            <li  class="day">
                                                <div  class="date">
                                                    <span  class="day">Tue,</span>20</div>
                                                    <div  class="fc-day-content">
                                                        <div  style="position: relative;">
                                                            <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"><div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;"><span  class="fc-title"><p  class="event-desc"> Event Slots </p><p  class="event-desc1"> Total Slots : 2 </p><p  class="event-desc1"> Available Slots : 1 </p><a  class="add_event_label"> Sign - Up</a></span></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li  class="day">
                                                <div  class="date">
                                                    <span  class="day">Wed,</span>
                                                            21</div>
                                                            <div  class="fc-day-content"><div  style="position: relative;"><a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"><div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;"><span  class="fc-title"><p  class="event-desc"> Event Slots </p><p  class="event-desc1"> Total Slots : 2 </p><p  class="event-desc1"> Available Slots : 2 </p><a  class="add_event_label"> Sign - Up</a></span></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li  class="day">
                                                    <div  class="date">
                                                        <span  class="day">Thu,</span>22</div>
                                                        <div  class="fc-day-content">
                                                            <div  style="position: relative;">
                                                                <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"><div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;"><span  class="fc-title"><p  class="event-desc"> Event Slots </p><p  class="event-desc1"> Total Slots : 2 </p><p  class="event-desc1"> Available Slots : 1 </p><a  class="add_event_label"> Sign - Up</a></span></div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li  class="day">
                                                        <div  class="date">
                                                            <span  class="day">Fri,</span>23</div>
                                                            <div  class="fc-day-content">
                                                                <div  style="position: relative;"><a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"><div  class="fc-content" ng-reflect-ng-style="[object Object]" style="opacity: 1;"><span  class="fc-title"><p  class="event-desc"> Event Slots </p><p  class="event-desc1"> Total Slots : 2 </p><p  class="event-desc1"> Available Slots : 1 </p><a  class="add_event_label"> Sign - Up</a></span></div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li  class="day">
                                                            <div  class="date">
                                                                <span  class="day">Sat,</span>
                                                                        24</div>
                                                                        <div  class="fc-day-content">
                                                                            <div  style="position: relative;">
                                                                                <a  class="fc-day-grid-event fc-h-event fc-event fc-start fc-end" style="background: #3a87ad; opacity: 1;"></a></div></div></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                                        </div>
                                                                    </div>
                                                                    <div  align="right" class="col-md-12 pad-20">
                                                                        <button  type="button" class="btn btn-light border border-primary border-active active text-primary backbtn1 tsspbb btn-sm" style="margin-right: 5px;"> Back </button>
                                                                        <button  type="button" class="btn btn-primary btn-sm" style="margin-right: 5px;"> Save &amp; Next </button></div>
                                                                        </form>


    </div>
    
</div>