<div class="dropdown" style="background-color:#fff;">
	<label for="my-dropdown" data-toggle="dropdown" class="btn btn-primary btn-sm my-1 fs-6" style="margin-right: 5px;color:#fff;">
		<i class="icon-search4 fs-4"></i> Search
	</label>
	<input type="checkbox" id="my-dropdown" value="" name="my-checkbox">
	<ul class="min-w-300px p-4">
	  	<li>
			<div class="fv-row fv-plugins-icon-container">
				<label class="col-form-label required fw-semibold fs-6">Family ID</label>
				<input type="text" name="" placeholder="Family ID" class="form-control form-control-sm">
			</div>
		</li>
		<li>
			<div class="fv-row fv-plugins-icon-container">
				<label class="col-form-label required fw-semibold fs-6">Last Name</label>
				<input type="text" name="" placeholder="Last Name" class="form-control form-control-sm">
			</div>
		</li>
		<li>
			<div class="fv-row fv-plugins-icon-container">
				<label class="col-form-label required fw-semibold fs-6">First Name</label>
				<input type="text" name="" placeholder="First Name" class="form-control form-control-sm">
			</div>
		</li>
		<li>
			<div class="fv-row fv-plugins-icon-container">
				<label class="col-form-label required fw-semibold fs-6">Home Phone</label>
				<input type="text" name="" placeholder="Home Phone" class="form-control form-control-sm">
			</div>
		</li>
		<li>
			<div class="fv-row fv-plugins-icon-container">
				<label class="col-form-label required fw-semibold fs-6">Email</label>
				<input type="text" name="" placeholder="Email" class="form-control form-control-sm">
			</div>
		</li>
		<li>
			<div class="fv-row fv-plugins-icon-container">
				<label class="col-form-label required fw-semibold fs-6">Registrant Type</label>
				<select aria-label="Select example" class="form-select form-select-sm">
					<option>- Select -</option>
					<option value="">Adult</option>
					<option value="">Youth</option>
					<option value="">Child</option>
				</select>
			</div>
		</li>
		<li>
			<div class="fv-row fv-plugins-icon-container">
				<label class="col-form-label required fw-semibold fs-6">Chapter</label>
				<select aria-label="Select example" class="form-select form-select-sm">
					<option>- Select -</option>
					<option value="">Chinmaya Somnath</option>
					<option value="">Chinmayam</option>
					<option value="">Fredric</option>
					<option value="">Chinmaya Richmond</option>
				</select>
			</div>
		</li>
		<div class="row mt-4">
			<div class="d-flex justify-content-center">
				<div class="m-0">
					<a href="#" class="btn btn-primary btn-sm my-1 fs-6" style="margin-right:5px;color:#fff;">
						<i class="icon-search4 fs-4"></i> Search
					</a>
				</div>
			</div>
		</div>
	</ul>
</div>
<div class="card card-flush cardborder mt-4">
    <div class="card-header align-items-center float-end py-2 bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
	    <!--begin::Card title-->
		<div class="card-title float-sm-end">
		    <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
			    <h3 class="panel-title">
			        <img class="me-3" src="assets/chinmaya_media/images/SVG-color/Family Member Registration Details-icon.svg" style="width: 25px;">Family Member Registration Details
				</h3>
			</div>
			<!--end::Search-->
		</div>
		<div class="card-title float-sm-end">
		    <!--begin::Search-->
			<div class="d-flex align-items-center position-relative my-1">
			    <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
				<span class="path1"></span>
				<span class="path2"></span>
				</i>
				<input type="text" data-kt-ecommerce-product-filter="search" class="form-control form-control-sm w-250px ps-12" placeholder="Type to Filter" />
			</div>
			<!--end::Search-->
		</div>
		<!--end::Card title-->
	</div>
										
	<!--begin::Card body-->
	<div class="card-body p-5">
	    <!--begin::Table-->
        <div class="table-responsive" style="max-height:500px !important;">
			<table class="table align-middle table-row-dashed fs-6 gy-3">
		        <thead>
				    <tr class="text-start fw-bold fs-7 text-uppercase gs-0">
					    <th class="text-start min-w-100px text-nowrap">Manage Family</th>
						<th class="text-start min-w-100px text-nowrap">Person ID</th>
						<th class="text-start min-w-100px text-nowrap">Family ID</th>
						<th class="text-start min-w-100px text-nowrap">First Name</th>
						<th class="text-start min-w-100px text-nowrap">Middle Name</th>
						<th class="text-start min-w-100px text-nowrap">Last Name</th>
						<th class="text-start min-w-100px text-nowrap">Gender</th>
						<th class="text-start min-w-100px text-nowrap">DOB</th>
						<th class="text-start min-w-100px text-nowrap">Registration Type</th>
						<th class="text-start min-w-100px text-nowrap">Home Phone</th>
						<th class="text-start min-w-100px text-nowrap">Email Address</th>
						<th class="text-start min-w-100px text-nowrap">Mobile Address</th>
						<th class="text-start min-w-100px text-nowrap">Primary Contact</th>
					</tr>
				</thead>
			    <tbody>
			        <tr>
						<td class="text-start text-nowrap">							
							<a  href="#" routerLink="/family/allFamilyMembers" class="nav-link" >
								<img src="assets/chinmaya_media/images/SVG-color/Family-icon.svg" alt="" style="width: 20px;">
							</a>
						</td>
						<td class="text-start text-nowrap">
							1122
						</td>
						<td class="text-start text-nowrap">
							1234
						</td>
						<td class="text-start text-nowrap">
						    Mark
						</td>
						<td class="text-start text-nowrap">
						    D
						</td>
						<td class="text-start text-nowrap">
						    Dwain
						</td>
						<td class="text-start text-nowrap">
						    Male
						</td>
						<td class="text-start text-nowrap">
						    12-05-1990
						</td>
						<td class="text-start text-nowrap">
						    ADULT
						</td>
						<td class="text-start text-nowrap">
							(653)-434-3434
						</td>
						<td class="text-start text-nowrap">
							1122@mymail.com
						</td>
						<td class="text-start text-nowrap">
						    (653)-434-3434
						</td>
						<td class="text-start text-nowrap">
							Yes
						</td>
					</tr>
					<tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7]">
						<td class="text-start text-nowrap">
							<a href="#">
								<img src="assets/chinmaya_media/images/SVG-color/Family-icon.svg" alt="" style="width: 20px;">
							</a>
						</td>
						<td class="text-start text-nowrap">
							1122
						</td>
						<td class="text-start text-nowrap">
							1234
						</td>
						<td class="text-start text-nowrap">
							Mark
						</td>
						<td class="text-start text-nowrap">
							D
						</td>
						<td class="text-start text-nowrap">
							Dwain
						</td>
						<td class="text-start text-nowrap">
							Male
						</td>
						<td class="text-start text-nowrap">
							12-05-1990
						</td>
						<td class="text-start text-nowrap">
							ADULT
						</td>
						<td class="text-start text-nowrap">
							(653)-434-3434
						</td>
						<td class="text-start text-nowrap">
							1122@mymail.com
						</td>
						<td class="text-start text-nowrap">
							(653)-434-3434
						</td>
						<td class="text-start text-nowrap">
							Yes
						</td>
					</tr>
				</tbody>
			</table>
			<!--end::Table-->
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-5 py-lg-4 d-flex align-items-center justify-content-center justify-content-md-start">
				<div class="dataTables_length">
					<label>
						<select class="form-select form-select-sm form-select-solid">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</label>
				</div>
			</div>
			<div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
				<div class="paging_simple_numbers">
					<ul class="pagination">
						<li class="paginate_button page-item previous disabled">
							<a href="#" data-dt-idx="0" tabindex="0" class="page-link">
								<i class="previous"></i>
							</a>
						</li>
						<li class="paginate_button page-item active">
							<a href="#" data-dt-idx="1" tabindex="0" class="page-link">1</a>
						</li>
						<li class="paginate_button page-item next disabled">
							<a href="#" data-dt-idx="2" tabindex="0" class="page-link">
								<i class="next"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--end::Card body-->
</div>