@media(min-width: 998px) {
.menu-sub-dropdown {
  margin: 0px -198px !important;
}
}

@media(max-width: 998px) {
  .menu-sub-dropdown {
    margin: 0px -19px !important;
  }
  }

  .table > thead {
    vertical-align: bottom !important;
    position: sticky !important;
    top: 0px !important;
    background: #fff !important;
  }

