<div class="card card-flush cardborder">
    <div class="card-header align-items-center float-end py-2 bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
	    <!--begin::Card title-->
		<div class="card-title float-sm-end">
		    <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
			    <h3 class="panel-title">
			        <img class="me-3" src="assets/chinmaya_media/images/SVG-color/Family Member Registration Details-icon.svg" style="width: 25px;">Family Member Registration Details
				</h3>
			</div>
			<!--end::Search-->
		</div>
		<div class="card-title float-sm-end">
		    <!--begin::Search-->
			<div class="d-flex align-items-center position-relative my-1">
			    <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
				<span class="path1"></span>
				<span class="path2"></span>
				</i>
				<input type="text" data-kt-ecommerce-product-filter="search" class="form-control form-control-sm w-250px ps-12" placeholder="Type to Filter" />
			</div>
			<!--end::Search-->
		</div>
		<!--end::Card title-->
	</div>
										
	<!--begin::Card body-->
	<div class="card-body pt-0">
	    <!--begin::Table-->
        <div class="table-responsive">
			<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_products_table">
		        <thead>
				    <tr class="text-start fw-bold fs-7 text-uppercase gs-0">
					    <th class="text-start min-w-150px">Manage Family</th>
						<th class="text-start min-w-150px">Person ID</th>
						<th class="text-start min-w-150px">Family ID</th>
						<th class="text-start min-w-150px">First Name</th>
						<th class="text-start min-w-150px">Middle Name</th>
						<th class="text-start min-w-150px">Last Name</th>
						<th class="text-start min-w-150px">Gender</th>
						<th class="text-start min-w-150px">DOB</th>
						<th class="text-start min-w-150px">Registration Type</th>
						<th class="text-start min-w-150px">Home Phone</th>
						<th class="text-start min-w-150px">Email Address</th>
						<th class="text-start min-w-150px">Mobile Address</th>
						<th class="text-start min-w-150px">Primary Contact</th>
					</tr>
				</thead>
			    <tbody>
			        <tr>
						<td class="text-start">
						    <!--<a href="#">
							    <img src="assets/chinmaya_media/images/SVG-color/Family-icon.svg" alt="" style="width: 20px;">
							</a>-->
							
							<a  href="#" routerLink="/family/allFamilyMembers" class="nav-link" >My Link</a>
						</td>
						<td class="text-start">
							1122
						</td>
						<td class="text-start">
							1234
						</td>
						<td class="text-start">
						    Mark
						</td>
						<td class="text-start">
						    D
						</td>
						<td class="text-start">
						    Dwain
						</td>
						<td class="text-start">
						    Male
						</td>
						<td class="text-start">
						    12-05-1990
						</td>
						<td class="text-start">
						    ADULT
						</td>
						<td class="text-start">
							(653)-434-3434
						</td>
						<td class="text-start">
							1122@mymail.com
						</td>
						<td class="text-start">
						    (653)-434-3434
						</td>
						<td class="text-start">
							Yes
						</td>
					</tr>
					<tr>
						<td class="text-start">
							<a href="#">
								<img src="assets/chinmaya_media/images/SVG-color/Family-icon.svg" alt="" style="width: 20px;">
							</a>
						</td>
						<td class="text-start">
							1122
						</td>
						<td class="text-start">
							1234
						</td>
						<td class="text-start">
							Mark
						</td>
						<td class="text-start">
							D
						</td>
						<td class="text-start">
							Dwain
						</td>
						<td class="text-start">
							Male
						</td>
						<td class="text-start">
							12-05-1990
						</td>
						<td class="text-start">
							ADULT
						</td>
						<td class="text-start">
							(653)-434-3434
						</td>
						<td class="text-start">
							1122@mymail.com
						</td>
						<td class="text-start">
							(653)-434-3434
						</td>
						<td class="text-start">
							Yes
						</td>
					</tr>
					<tr>
						<td class="text-start">
							<a href="#">
								<img src="assets/chinmaya_media/images/SVG-color/Family-icon.svg" alt="" style="width: 20px;">
							</a>
						</td>
						<td class="text-start">
							1122
						</td>
						<td class="text-start">
							1234
						</td>
						<td class="text-start">
							Mark
						</td>
						<td class="text-start">
							D
						</td>
						<td class="text-start">
							Dwain
						</td>
						<td class="text-start">
							Male
						</td>
						<td class="text-start">
							12-05-1990
						</td>
						<td class="text-start">
							ADULT
						</td>
						<td class="text-start">
							(653)-434-3434
						</td>
						<td class="text-start">
							1122@mymail.com
						</td>
						<td class="text-start">
							(653)-434-3434
						</td>
						<td class="text-start">
							Yes
						</td>
					</tr>
					<tr>
						<td class="text-start">
							<a href="#">
								<img src="assets/chinmaya_media/images/SVG-color/Family-icon.svg" alt="" style="width: 20px;">
							</a>
						</td>
						<td class="text-start">
							1122
						</td>
						<td class="text-start">
							1234
						</td>
						<td class="text-start">
							Mark
						</td>
						<td class="text-start">
							D
						</td>
						<td class="text-start">
							Dwain
						</td>
						<td class="text-start">
							Male
						</td>
						<td class="text-start">
							12-05-1990
						</td>
						<td class="text-start">
							ADULT
						</td>
						<td class="text-start">
							(653)-434-3434
						</td>
						<td class="text-start">
							1122@mymail.com
						</td>
						<td class="text-start">
							(653)-434-3434
						</td>
						<td class="text-start">
							Yes
						</td>
					</tr>
				</tbody>
			</table>
			<!--end::Table-->
		</div>
	</div>
	<!--end::Card body-->
</div>