
  .navbar-nav .nav-link {
    color: rgb(255, 255, 255); /* Change the color to white */
  }
  .navbar-nav{
    padding-left: 6rem;
    color: rgb(0, 0, 0);
  }
  .navbar-nav .nav-link:hover {
    /* #001eff */

    color: #5b8bf4; /* Optional: change color on hover */
  }
nav
{
  height: fit-content;
  padding: 5x;
}

.navbar{
  background-color:#001eff ;
}

.navbar{
  width: 100%;
  height: fit-content;
  padding: 15px 0px;
  position: fixed;
  top: 0;
  background-color:#001eff;
  text-align: center;
  margin-top: 0;
  color: white;
}
