<!-- begin::Menu toggle -->
<div class="btn btn-icon" [ngClass]="toggleBtnClass" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
  data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
  <ng-container *ngIf="mode$ | async as mode">
    <ng-container *ngIf="mode === 'dark'">
      <img class="symbol1 h-100" src="./assets/media/avatars/little-krishna.png" [ngClass]="toggleBtnIconClass"/>
    </ng-container>
    <ng-container *ngIf="mode === 'light'">
      <img class="symbol1 h-100" src="./assets/media/avatars/little-krishna.png" [ngClass]="toggleBtnIconClass"/>
    </ng-container>
  </ng-container>
</div>
<!-- end::Menu toggle -->

<!-- begin::Menu -->

<!-- end::Menu -->
