<body> 
	<!-- Page container -->
    <div class="page-container login-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
				<div class="content col-lg-6" style="height: 100%;">
                    <!-- Form with validation -->
					<form  [formGroup]="loginForm" class="form-validate">
						<div class="panel panel-body login-form" style="border-radius: 5px !important;margin-top: 60px;">
							<div class="text-center">
								<div class="icon-object"><img src="assets/images/Images1/header.png" width="100%"></div>
								<h5 class="content-group">Login to your account</h5>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<input type="text" class="form-control" formControlName="username" placeholder="User Name" name="username" />
								<div class="form-control-feedback">
									<i class="icon-user text-muted"></i>
								</div>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<div class="input-group">
									<input type="password" formControlName="password" class="form-control pwd" placeholder="Password">
									<span class="input-group-btn">
										<button class="btn btn-default ptxt" type="button">
											<i class="icon-eye-blocked" id="peye"></i>
										</button>
									</span>
									<div class="form-control-feedback">
										<i class="icon-lock2 text-muted"></i>
									</div>
								</div>
							</div>

							<div class="form-group">
								<button type="button" class="btn bg-blue btn-block text-semibold" [disabled]="!loginForm.valid" (click)="onSubmit()">Login 
								<i class="icon-arrow-right14 position-right"></i></button>
								<div class="form-group login-options">
									<div class="row p-10">
										<div style="float: left;">
											<div class="checkbox no-margin">
												<label>
													<input type="checkbox">
													Remember me
												</label>
											</div>
										</div>
									</div>
								</div>
							</div> 

							<div class="content-divider text-muted form-group">
								<span>Don't have an account?</span>
							</div>

							<div class="form-group">
								<a href="create_account.html">
									<button type="button" class="btn bg-blue btn-block text-semibold"><i class="icon-pencil position-left"></i>Create Your Account </button>
								</a>
							</div> 
							<div class="form-group login-options">
								<div class="row">
									<div class="col-lg-4 text-center">
										<a href="login_password_recover.html">Forgot Password</a>
									</div>

									<div class="col-lg-4 text-center">
										<a href="login_userid_recover.html">Forgot User ID</a>
									</div>
									<div class="col-lg-4 text-center">
										<a href="login_change_password.html">Change Password</a>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-xs-12 text-center mt-20">
										<a href="login_useridpwd_recover.html">Forgot User ID & Password</a>
									</div>
								</div>
							</div>
						</div>
						<!-- /content area -->
					</form>
				</div>
              
				<div class="content login-cover col-lg-6" style="height: 100%;">
					
				</div>
				                              
				<!-- Footer -->
				<div class="navbar navbar-default navbar-sm navbar-fixed-bottom">
					<div class="navbar text-center pt-10">
						&copy; 2023. Powered by <a href="http://softthink.com" target="_blank">Softthink Solutions</a>
					</div>    
				</div>
				<!-- /footer -->
				
			</div>
			
		<!-- /page content -->
		</div>
		
	<!-- /page container -->
	</div>
	
	
	<script>

		$(".ptxt").on('click', function () {
			var $pwd = $(".pwd");
			if ($pwd.attr('type') === 'password') {
				$pwd.attr('type', 'text');
				$('#peye').removeClass('icon-eye-blocked')
				$('#peye').addClass('icon-eye');
			} else {
				$pwd.attr('type', 'password');
				$('#peye').removeClass('icon-eye')
				$('#peye').addClass('icon-eye-blocked');
			}
		});

	</script>
	
</body>
