<div class="card">
    <div class="card-header cursor-pointer ps-6 pe-6">
        <div class="card-title m-0">
            <h3 class="fw-semibold fs-3 m-0">View Payment Schedule & Payment History</h3>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row mb-4">
            <div class="col-lg-2">
                <span class="fs-6 fw-semibold">Family ID / Name:</span>
                <span class="fs-6 fw-normal"> 123 - Doe</span>
            </div>
            <div class="col-lg-10">
                <span class="fs-6 fw-semibold">Address:</span>
                <span class="fs-6 fw-normal"> 123 Main St, Chantilly, VA 20151</span>
            </div>
        </div>

        <div class="col-lg-12 mt-8">
            <div class="row mt-8">
                <div class="col-lg-2 mt-8">

                </div>
                <div class="col-lg-8 mt-8">
                    <ul class="nav nav-tabs nav-line-tabs nav-justified fs-6">
                        <li class="nav-item">
                            <a class="nav-link active text-white fs-3 fw-semibold" data-bs-toggle="tab" href="javascript:void(0);">Upcoming Payment Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-3 fw-semibold" data-bs-toggle="tab" href="javascript:void(0)">Payment History</a>
                        </li>
                    </ul>
                    
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel">
                            <div class="table-responsive">
                                <div class="table table-xxs table-striped">
                                    <tbody style="display:inline-table;width:100%;">
                                        <tr style="vertical-align: middle;">
                                            <td class="ps-2">Chinmaya Somnath Bala Vihar 2023-24</td>
                                            <td>09/05/2023</td>
                                            <td>eCheck</td>
                                            <td>$210.00</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-primary float-end">Suspend</button>
                                            </td>
                                        </tr>
                                        <tr style="vertical-align: middle;">
                                            <td class="ps-2">Chinmaya Somnath Bala Vihar 2023-24</td>
                                            <td>09/05/2023</td>
                                            <td>eCheck</td>
                                            <td>$210.00</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-primary float-end">Suspend</button>
                                            </td>
                                        </tr>
                                        <tr style="vertical-align: middle;">
                                            <td class="ps-2">Chinmaya Somnath Bala Vihar 2023-24</td>
                                            <td>09/05/2023</td>
                                            <td>eCheck</td>
                                            <td>$210.00</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-primary float-end">Suspend</button>
                                            </td>
                                        </tr>
                                        <tr style="vertical-align: middle;">
                                            <td class="ps-2">Chinmaya Somnath Bala Vihar 2023-24</td>
                                            <td>09/05/2023</td>
                                            <td>eCheck</td>
                                            <td>$210.00</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-primary float-end">Suspend</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel">
                            Sample2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>