<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0 cursor-pointer ps-6 pe-6" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
        <!--begin::Card title-->
        <div class="card-title m-0">
            <h3 class="fw-bold m-0">Search Family Records</h3>
        </div>
        <!--end::Card title-->
    </div>
    <!--begin::Card header-->

    <!--begin::Content-->
    <div id="kt_account_settings_profile_details" class="collapse show">
        <!--begin::Card body-->
        <div class="card-body border-top p-6">
            <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center mb-2">
                        <h4 class="text-gray-900 fs-2 fw-semibold me-1">Filters :</h4>                        
                    </div>
                </div>
            </div>

           

            <div [formGroup]="searchCriteriaForm" *ngIf="searchCriteriaForm">
                <div formGroupName="requestRegistrationProcessingSearch">

                    <!-------- Begin Session Choice -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Program Code: <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <select (change)="onProgramSelection($event)" formControlName="programCode" data-control="select2" data-placeholder="Select an option..." class="form-select form-select-sm fw-semibold">
                                        <option value="">Select Program</option>    
                                        <option *ngFor="let program of programs" [value]="program.code">{{program.description}}</option>                    
                                    </select> 
                                    <div *ngIf="errorprogramcodeFlag" class="error_cls">{{errorMessageList.programCode}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Session Choice -------->

                    <!-------- Begin Registration Status -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Registration Status: <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-lg-10 d-flex" formArrayName="registrationStatusList" *ngIf="registrationStatusArray">
                                <div class="row d-flex2" style="width:100%;">
                                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" *ngFor="let status of registrationStatusArray?.controls; let i = index">
                                        <label class="form-check form-check-custom form-check-inline me-5 is-valid text-nowrap m-2">
                                            <input class="form-check-input" type="checkbox"   [formControlName]="i" value="registrationStatus[i].description" (change)="selectregistrationCheck($event);">
                                            <span class="fw-semibold ps-2 fs-7 text-uppercase">{{registrationStatus[i].description}}</span>
                                        </label>
                                    </div>
                                   <div *ngIf="errorregistrationStatusListFlag" class="error_cls">{{errorMessageList.registrationStatus}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Registration Status -------->

                    <!-------- Begin Payment Status -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Payment Status: <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-lg-10 d-flex" formArrayName="paymentStatusList" *ngIf="paymentStatusArray">
                                <div class="row d-flex2" style="width:100%;">
                                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" *ngFor="let status of paymentStatusArray?.controls; let i = index">
                                        <label class="form-check form-check-custom form-check-inline me-5 is-valid text-nowrap m-2">
                                            <input class="form-check-input" type="checkbox"  [formControlName]="i" value="paymentStatus[i].description" (change)="selectPaymentStatus($event);">
                                            <span class="fw-semibold ps-2 fs-7 text-uppercase">{{paymentStatus[i].description}}</span>
                                        </label>
                                    </div>
                                    <div *ngIf="errorpaymentStatusListFlag" class="error_cls">{{errorMessageList.paymentStatus}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Payment Status -------->
                     <!-------- Begin Payment Start Date -------->
                     <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Payment Start Date:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input type="date"  formControlName="paymentStartDate" autocomplete="off" name="paymentStartDate" class="form-control clr_bor_date" placeholder="MM/DD/YYYY"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Payment Start Date -------->
                     <!-------- Begin Payment End Date -------->
                     <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Payment End Date:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input type="date"  formControlName="paymentEndDate" autocomplete="off" name="paymentEndDate" class="form-control clr_bor_date" placeholder="MM/DD/YYYY"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Payment End Date -------->

                     <!-------- Begin Sign-up Code -------->
                     <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Sign-Up Code:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <select  formControlName="signupCode" (change)="onSignupCodeChange($event)" data-control="select2" data-placeholder="Select an option..." class="form-select form-select-sm fw-semibold">
                                        <option value="">Select an Option</option>   
                                        <option *ngFor="let code of signupCodes" [value]="code.code" > {{code.description}}</option>                          
                                    </select> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Sign-up Code -------->

                    <!-------- Begin Session Choice -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Session Choice:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <select formControlName="choiceLabel" data-control="select2" data-placeholder="Select an option..." class="form-select form-select-sm fw-semibold">
                                        <option value="">Select Session</option>    
                                        <option value="" *ngFor="let choice of sessionChoice" [value]="choice.code">{{choice.code}}</option>                    
                                    </select> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Session Choice -------->

                    <!-------- Begin Choice -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Choice:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <select formControlName="choiceCode" aria-label="" data-control="select2" data-placeholder="Select an option..." class="form-select form-select-sm fw-semibold">
                                        <option value="">Select Choice</option>    
                                        <option value="" *ngFor="let time of sessionChoice" [value]="time.choicecode">{{time.description}}</option> 
                                    </select> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Choice -------->
				
                    <!-------- Begin Assigned Session -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Assigned Session:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="row d-flex2" style="width:100%;" formArrayName="assignedSessionList">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"  *ngFor="let session of assignedSessionArray?.controls; let i = index">
                                        <label class="form-check form-check-custom form-check-inline me-5 is-valid text-nowrap m-2" >
                                            <input class="form-check-input" type="checkbox" [formControlName]="i" value="sessionChoice[i].choiceCode">
                                            <span class="fw-semibold ps-2 fs-7 text-uppercase">{{sessionChoice[i].description}}</span>
                                        </label>
                                    </div>
                                  
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Assigned Session -------->

                   

                    <!-------- Begin Class -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Class:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <select  formControlName="className" aria-label="" data-control="select2" data-placeholder="Select an option..." class="form-select form-select-sm fw-semibold">
                                        <option value="">Select an Option</option>    
                                        <option *ngFor="let code of classList" [value]="code.description" > {{code.description}}</option>                              
                                    </select> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Class -------->

                    <!-------- Begin Current School Grade -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Current School Grade:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <select formControlName="currentSchoolGrade" aria-label="" data-control="select2" data-placeholder="Select an option..." class="form-select form-select-sm fw-semibold">
                                        <option value="">Select an Option</option>                           
                                        <option *ngFor="let code of schoolGrade" [value]="code.code" > {{code.description}}</option>                                
                                    </select> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Current School Grade -------->

                    <!-------- Begin Rising School Grade -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Rising School Grade:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <select formControlName="risingSchoolGrade" aria-label="" data-control="select2" data-placeholder="Select an option..." class="form-select form-select-sm fw-semibold">
                                        <option value="">Select an Option</option>                           
                                        <option *ngFor="let code of schoolGrade" [value]="code.code" > {{code.description}}</option>                                
                                    </select> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Rising School Grade -------->
                    <hr>
                    <!-------- Begin Family ID -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Family ID:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input formControlName="familyID" type="text" placeholder="Family ID" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Family ID -------->

                    <!-------- Begin First Name -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">First Name:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input formControlName="firstName" type="text" placeholder="First Name" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End First Name -------->

                    <!-------- Begin Last Name -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Last Name:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input formControlName="lastName" type="text" placeholder="Last Name" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Last Name -------->

                    <!-------- Begin Home Phone -------->
                    <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Home Phone:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input formControlName="homePhone" type="text" placeholder="Home Phone" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Home Phone -------->

                     <!-------- Begin Home Phone -------->
                     <div class="col-lg-12 mb-2">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Email:</label>
                            </div>
                            <div class="col-lg-10 d-flex">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input formControlName="email" type="text" placeholder="Email" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------- End Home Phone -------->
				
                </div>
            </div>
				
        </div>

        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end p-4">
            <div class="row">
                <div class="d-flex">
                    <!--begin::Filter menu-->
                    <div class="m-0">
                        <a  class="btn btn-danger btn-sm m-1" style="font-size:13px;" >
                            <i class="icon-cancel-circle2 fs-6" ></i> Cancel
                        </a>
                                
                        <button (click)="onSearchButtonClick()" class="btn btn-primary btn-sm m-1" style="font-size:13px;" >
                            <i class="icon-search4 fs-6"></i> Search                      </button>
                    </div>
                </div>
                <!--end::Actions-->
            </div>
            <!--end::Content-->
        </div>

    </div>
</div>
<!--end::Card body-->



