<div id="qw2" >
    <div class="p-4 bg-white">
        <div style="width:100%;margin:auto;">
            <div class="col-lg-12" style="display:contents;">
                <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 sud mb-4 pe-lg-4">
                    <app-sign-up-code-menu></app-sign-up-code-menu>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="kt_vtab_pane_5" role="tabpanel">
                            <div class="card shadow-sm border border-gray-300" style="border-radius: 5px;">
                                <div class="card-header align-items-center float-end px-4 bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
                                    <!--begin::Card title-->
                                    <div class="card-title float-sm-end">
                                        <!--begin::Search-->
                                        <div class="d-flex align-items-center position-relative my-1">
                                            <h3 class="panel-title fw-semibold">
                                                <img class="img_cls" src="assets/chinmaya_media/images/SVG-color/Add Pledge Structure Details-icon.svg" style="width:25px;"> Add Pledge Structure Details
                                            </h3>
                                        </div>
                                        <!--end::Search-->
                                    </div>
                                </div>
                        
                                <!--begin::Card body-->
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <div class="row aaa">
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="width:75%;">
                                                        <label class="col-form-label fw-semibold required">Pledge Structure</label>
                                                     </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-4" style="width:25%;">
                                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                            <input class="form-check-input" type="checkbox" value="1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="fw-semibold text-danger">Note: </span>
                                            <span class="text-danger">Please enter at least one pledge structure code with default.</span>
                                        </div>
                                    </div>
                                    
                                    <div class="row mt-4">
                                        <div class="card card-flush p-0" style="border: 1px solid #ddd;border-radius:5px;">
                                            <!--begin::Card header-->
                                            <div class="card-header align-items-center px-4" style="border-bottom: 1px solid #ddd !important;"> 
                                                <!--begin::Card title-->
                                                <div class="card-title">
                                                    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                                                        <h3 class="panel-title fw-semibold fs-4">
                                                            <img class="img_cls" src="assets/chinmaya_media/images/SVG-color/Pledge Details-icon.svg" style="width:25px;"> Pledge Details
                                                        </h3>
                                                    </div>
                                                </div>
                                                <!--begin::Card title-->
                                                <!--begin::Card toolbar-->
                                                <div class="card-toolbar">
                                                    <!--begin::Toolbar-->
                                                    <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                                                        <!--begin::Add user-->
                                                        <a href="#" class="btn btn-primary btn-sm my-1 fs-6" style="margin-right:5px;">
                                                            <i class="icon-add fs-4"></i> Add
                                                        </a>
                                                        <!--end::Add user-->
                                                        <!--begin::Delete user-->
                                                        <a href="#" class="btn btn-danger btn-sm my-1 fs-6" style="margin-right:5px;">
                                                            <i class="icon-bin fs-4"></i> Delete
                                                        </a>
                                                        <!--end::Delete user-->
                                                    </div>
                                                    <!--end::Toolbar-->
                                                    <!--begin::Search-->
                                                    <div class="d-flex align-items-center position-relative my-1">
                                                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                        </i>
                                                        <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-13" placeholder="Search user" />
                                                    </div>
                                                    <!--end::Search-->
                                                </div>
                                                <!--end::Card toolbar-->
                                            </div>
                                            <!--end::Card header-->
                                            <!--begin::Card body-->
                                            <div class="card-body p-0">
                                                <!--begin::Table-->
                                                <div class="col-lg-12 p-4" style="border-bottom:1px dotted #ccc;">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-12 col-sm-12 fv-row fv-plugins-icon-container">
                                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                                <div class="row aaa">
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="width:75%;">
                                                                        <label class="col-form-label fw-semibold required">Does this Sign-up Code provide Choices?</label>
                                                                     </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-4" style="width:25%;">
                                                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                                            <input class="form-check-input" type="checkbox" value="1">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="table-responsive px-2">
                                                    <table class="table table-responsive align-middle table-row-dashed fs-6 gy-5 dataTable" id="kt_ecommerce_products_table">
                                                        <!--<table class="table datatable-key-basic table-hover table-striped table-bordered dataTable" id="kt_ecommerce_products_table"></table>-->
                                                        <thead>
                                                            <tr class="text-start fw-bold fs-7 gs-0">
                                                                <th class="min-w-150px text-center text-nowrap">
                                                                    <div class="form-check form-check-sm form-check-solid">
                                                                        <label class="text-center">
                                                                            <input class="form-check-input" type="checkbox" value="1">
                                                                        </label>
                                                                    </div>
                                                                </th>
                                                                <th class="min-w-150px required text-center text-nowrap">Code</th>
                                                                <th class="min-w-150px required text-center text-nowrap">Default</th>
                                                                <th class="min-w-150px required text-center text-nowrap">Amount $</th>
                                                                <th class="min-w-150px text-center text-nowrap">Session Criteria</th>
                                                                <th class="min-w-150px required text-center text-nowrap">Effective From</th>
                                                                <th class="min-w-150px required text-center text-nowrap">Effective To</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="text-gray-600 fw-semibold">
                                                            <tr>
                                                                <td class="text-center text-nowrap">
                                                                    <div class="form-check form-check-sm form-check-solid">
                                                                        <label class="text-center">
                                                                            <input class="form-check-input" type="checkbox" value="1">
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td class="text-center text-nowrap">
                                                                    <input type="text" name="" class="form-control form-control-sm" placeholder="Code">
                                                                </td>
                                                                <td class="text-center text-nowrap tdwidth">
                                                                    <input type="text" name="" class="form-control form-control-sm" placeholder="Default">
                                                                </td>
                                                                <td>
                                                                    <input type="text" name="" class="form-control form-control-sm text-end" placeholder="Amount $">
                                                                </td>
                                                                <td class="text-center text-nowrap tdwidth">
                                                                    <input type="text" name="" class="form-control form-control-sm" placeholder="Session Criteria">
                                                                </td>
                                                                <td>
                                                                    <input type="text" name="" class="form-control form-control-sm" placeholder="Effective Start Date">
                                                                </td>
                                                                <td>
                                                                    <input type="text" name="" class="form-control form-control-sm" placeholder="Effective End Date">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--end::Table-->
                                                <div class="col-lg-12 p-4 mt-2">
                                                    <span class="fw-semibold text-primary">Note: </span>
                                                    <span class="text-primary">Enter Session Code under Session Criteria to restrict a pledge to specific session(s). Separate each session code with comma. Do not enter anything to apply a pledge to all sessions.</span>
                                                </div>
                                                
                                                <div class="col-lg-12 px-4">
                                                    <div class="col-lg-6 col-md-12 col-sm-12 fv-row fv-plugins-icon-container">
                                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                            <div class="row aaa">
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="width:75%;">
                                                                    <label class="col-form-label fw-semibold required">Additional Custom Flag</label>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-4" style="width:25%;">
                                                                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                                        <input class="form-check-input" type="checkbox" value="1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
            
                                                <div class="col-lg-12 px-4 mt-2">
                                                    <span class="text-danger"><span class="fw-semibold">Note:</span></span>
                                                </div>
                                                
                                                <div class="col-lg-12 px-4 mt-2">
                                                    <ul class="mt-5" style="list-style-type:none">
                                                        <li>Pledge structure effetctive start date and effective end date should be between following registration start and end dates.</li>
                                                        <li><span class="fw-semibold">Registration Start Date : </span></li>
                                                        <li><span class="fw-semibold">Registration End Date : </span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--end::Card body-->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer p-5" style="border-top: 1px solid var(--bs-card-border-color) !important;">
                                    <div class="row">
                                        <div class="d-flex justify-content-center">
                                            <div class="m-0">
                                                <a href="#" class="btn btn-primary btn-sm my-1 me-md-2 fs-6" style="margin-right:5px;">
                                                    <i class="icon-backward fs-4"></i> Back
                                                </a>
                                                    
                                                <a href="#" class="btn btn-primary btn-sm my-1 me-md-2 fs-6" style="margin-right:5px;">
                                                    <i class="icon-floppy-disk fs-4"></i> Save
                                                </a>
                                                
                                                <a href="#" class="btn btn-primary btn-sm my-1 fs-6">
                                                    <i class="icon-floppy-disks fs-4"></i> Save &amp; Next
                                                </a>                                                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>