<div class="card card-flush cardborder">
	<div class="card-header align-items-center float-end  px-4 bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
		<div class="card-title float-sm-end">
			<div class="d-flex align-items-center position-relative my-1">
				<h3 class="panel-title">
                    Family Registration Workflow
				</h3>
			</div>
		</div>
	</div>
    <div class="card-body p-4">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <fieldset class="border p-4">
                        <legend class="float-none fs-5 w-auto p-4 pb-0 mb-0">Session Selection</legend>
                        <div class="col-lg-12 mb-2">
                            <form role="form" [formGroup]="sessionformGroup">
                            <div class="row">
                                <div class="col-lg-2">
                                    <label class="fw-semibold fs-6 mt-2 mb-2">Session Preference 1:</label>
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-sm" placeholder="Session Preference 1">
                                </div>
                                <div class="col-lg-2">
                                    <label class="fw-semibold fs-6 mt-2 mb-2">Session Preference 2:</label>
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-sm" placeholder="Session Preference 2">
                                </div>
                                <div class="col-lg-2">
                                    <label class="fw-semibold fs-6 mt-2 mb-2">Session Preference 3:</label>
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-sm" placeholder="Session Preference 3">
                                </div>
                            </div>
                        </form>
                        </div>
                    </fieldset>

                    <div class="mt-8 col-lg-12">
                        <div class="row">
                            <div class="col-lg-7">

                                <fieldset class="border p-4 mrg_t_2" *ngIf="familyMemberpersonsList.length>0">
                                    <legend class="float-none fs-5 w-auto p-4 pb-0 mb-0">
                                        <button *ngIf="toggleMenu" class="btn btn-secondary"  [ngStyle]="{'background-color': colorCodeBtn, color:'#fff' }" style="cursor: default;">{{signupcodeList?.description}}</button>
                                    </legend>

                                    <div *ngIf="toggleMenu" class="pad_t_10">
                                        <ng-container *ngFor="let class of signupcodeList?.signupCodesList; index as j">
                                            <button type="button" [value]="class.signUpCode" [ngStyle]="{'background-color': signupCodeClr[j].color, color:'#fff' }" [(ngModel)]="checkboxModel" (click)="signupCodeSelect(class);" class="btn btn-secondary cust_btn">{{class.description}} </button>                                        
                                        </ng-container>
                                    </div>

                                    <div class="tabale-responsive">
                                        <table class="table table-row-bordered table-striped table-hover fs-6 gy-5 dataTable" 
                                               id="kt_ecommerce_products_table">
                                            <thead style="background:#dfdfdf;">
                                                <th class="fw-semibold text-nowrap">Person ID</th>
                                                <th class="fw-semibold text-nowrap">Family Member</th>
                                                <th class="fw-semibold text-nowrap">School Grade</th>
                                                <th class="fw-semibold text-nowrap">Select</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of familyMemberpersonsList;">
                                                    <td><a href="javascript:void(0);">{{item.personID}}</a></td>
                                                    <td>{{item.firstName +' '+ item.lastName}}</td>
                                                    <td>{{(item.schoolGradeCode==null)?'':item.schoolGradeCode}}</td>
                                                    <td><span *ngIf="item.personType!='ADULT'"><input type="checkbox" [value]="item.personID" (change)="memberselection(item)" /></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                               
                                <form [formGroup]="programForm">
                                <fieldset class="border p-4 mrg_t_2">
                                    <legend class="float-none fs-5 w-auto p-4 pb-0 mb-0">
                                       Add Family Member
                                    </legend>
                                    
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="fw-semibold fs-6 mt-2 mb-2 required">Type of Person</label>
                                        </div>
                                        <div class="col-lg-8">
                                                <select formControlName="personType" name="country" id="country" aria-label="Type of Person" (change)="fieldInterChange($event);"  data-control="select2" data-placeholder="Select..." class="form-select form-select-md p-2 fw-semibold mrg_b_5">
                                                    <option value="">Select</option>
                                <option *ngFor="let item of personTypeList" [value]="item.code">
                                                        {{item.description}}</option>    
                                </select>  
                                <div *ngIf="PF['personType'].invalid && (programForm.dirty || programForm.touched) && validateFlag" class="error_clr mrg_btm">
                                    Please Select Type Of Person.
                                                        </div>                                      
                                  </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="fw-semibold fs-6 mt-2 mb-2 required">First Name</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control form-control-sm mb-2" formControlName="firstName" placeholder="First Name">
                                            <div *ngIf="PF['firstName'].invalid && (programForm.dirty || programForm.touched) && validateFlag" class="error_clr mrg_btm">
                                                Please Enter First Name.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="fw-semibold fs-6 mt-2 mb-2 required">School Grade {{schGradeLabel}}</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select  formControlName="schoolGrade" aria-label="Select a School Grade" data-control="select2" data-placeholder="Select..." class="form-select form-select-md p-2 fw-semibold" (change)="changeOfSchoolGrade($event)">
                                                <option value="">Select School Grade</option>
                                                <option [value]="t.code" *ngFor="let t of schoolGradesList">{{t.description}}</option>
                                            </select>
                                            <div *ngIf="PF['schoolGrade'].invalid && (programForm.dirty || programForm.touched) && validateFlag" class="error_clr mrg_btm">
                                                Please Select School Grade.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="personTypeVal=='CHILD' && PF['schoolGrade'].value=='18'">
                                        <div class="col-lg-4">
                                            <label class="col-form-label fw-semibold required fs-6">Date Of Birth</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input type="date" formControlName="dateOfBirth" format="MM/DD/YYYY"  autocomplete="off" name="dateofbirth" class="form-control form-control-md p-2" placeholder="Date Of Birth"/>
                                            <div *ngIf="PF['dateOfBirth'].invalid && (programForm.dirty || programForm.touched) && validateFlag" class="error_clr mrg_btm">
                                                Please Select Date Of Birth.
                                            </div> 	
                                    </div>
                                    </div>
                                    <div class="row" *ngIf="personTypeVal=='CHILD' && PF['schoolGrade'].value=='19'">
                                        <div class="col-lg-4">
                                            <label class="fw-semibold fs-6 mt-2 mb-2 required">Raising School Grade {{raisingSchGradeLabel}}</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select formControlName="risingSchoolGrade" aria-label="Select a School Grade" data-control="select2" data-placeholder="Select..." class="form-select form-select-md p-2 fw-semibold">
                                                <option value="">Select Raising School Grade</option>
                                                <option [value]="t.code" *ngFor="let t of raisingGradeData">{{t.description}}</option>
                                            </select>
                                            <!-- <input *ngIf="CAF['schoolGrade'].value!='19'" type="text" value="" class="form-control form-control-md p-2" formControlName="risingSchoolGradeDescription" readonly /> -->
                            <div *ngIf="PF['risingSchoolGrade'].invalid && (programForm.dirty || programForm.touched) && validateFlag" class="error_clr mrg_btm">
                                                Please Select Raising School Grade.
                            </div>
                                        </div>
                                    </div>
                                    <div class="row marg_bt_10">
                                        <div class="col-lg-4">
                                            <label class="fw-semibold fs-6 mt-2 mb-2 required">Gender</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select class="form-select form-select-sm cursor-pointer" formControlName="gender">
                                                <option value="">Select</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                            <div *ngIf="PF['gender'].invalid && (programForm.dirty || programForm.touched) && validateFlag" class="error_clr mrg_btm">
                                                Please Select Gender.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="fw-semibold fs-6 mt-2 mb-2 required">Relationship with Primary</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select formControlName="relationShipPrimaryContact" name="country" aria-label="Select a Country" data-control="select2" data-placeholder="Select..." class="form-select form-select-md p-2 fw-semibold">
                                                <option value="">Select Primary contact is my?</option>
                                                <option *ngFor="let item of fetchPrimaryContactList?.selectDropdownList"
                                                [value]="item.code">{{item.description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="d-flex justify-content-center mt-4">
                                    <button type="button" (click)="resetForm();" class="btn btn-sm btn-danger backbtn1 me-2" style="font-size: 13px;">
                                        <i class="icon-cancel-circle2 fs-6"></i> Cancel 
                                    </button>
                                    
                                    <button type="button" (click)="enrollProgram();" class="btn btn-sm btn-primary" style="font-size: 13px;">
                                        <i class="icon-paperplane fs-6"></i> Add Family Member
                                    </button>
                                </div>
                            </form>

                            <div class="justify-content-start mrg_30">
                                 
                                <div class="inline-block" >
                                  <ng-container *ngFor="let category of categoryWiseList; index as i">
                                    <a class="btn btn-secondary btn_pos_rt" href="javascript:void(0);" role="button" (click)="toggleshow(i, category, signupCodeCategoryList[i].color);" [ngStyle]="{'background-color': signupCodeCategoryList[i].color, color:'#fff' }" >
                                        {{category.description}}
                                    </a>
                                  </ng-container>                                   
                                </div>
                                
                            </div>

                            </div>
                            <div class="col-lg-5">
                                <fieldset class="border p-4">
                                    <legend class="float-none fs-5 w-auto p-4 pb-0 mb-0">Staged, Not Paid</legend>
                                    <div class="row mb-2">
                                        <span class="text-gray-800 size_12 d-flex justify-content-end bold_txt" style="position: relative; top: 8px;"><b>Sub-Total&nbsp;:&nbsp;</b>${{(pendingTotalAmt[0]=='' || pendingTotalAmt[0]==null  || Object.keys(this.rightPanelAccordionNotPaid).length==0)?'0':pendingTotalAmt[0]}}.00</span>
                                    </div>
                                    <div class="row">
                                        <div class="tabale-responsive">
                                            <table class="table table-row-bordered table-striped table-hover fs-6 gy-5 dataTable" 
                                                   id="kt_ecommerce_products_table">
                                                <thead style="background:#dfdfdf;">
                                                    <th class="fw-semibold text-nowrap">Family Member</th>
                                                    <th class="fw-semibold text-nowrap">Sign-Up For</th>
                                                    <th class="fw-semibold text-nowrap">Class Name</th>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor="let pendingData of pendingPaymentData; index as i">
                                                        <tr [ngClass]="(pendingData?.sessionPreferences.length>0)?'border_btm_rem':''"  *ngIf="pendingData.paymentSubmittedDate==null && ((pendingData.registrationStatus=='PENDING' && (pendingData.paymentStatus=='BALANCE_DUE' || pendingData.paymentStatus=='NO_DUES'))
                                                            ||(pendingData.registrationStatus=='ACCEPTED' && pendingData.paymentStatus=='BALANCE_DUE')
                                                            || (pendingData.registrationStatus=='PENDING' && pendingData.paymentStatus=='NO_DUES'))" >
                                                            <td>
                                                                <span class="text-dark1 mb-1">{{pendingData.personName}}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-dark1 mb-1">{{pendingData.signUpCodeDescription}}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-dark1 mb-1">{{pendingData.classAssignment}}&nbsp;({{ (pendingData.subClassAssignment!=null && pendingData.subClassAssignment!='')?pendingData.subClassAssignment:'NA' }})</span>
                                                            </td>  
                                                           
                                                        </tr>
                                                        </ng-container>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="d-flex justify-content-center mt-4">
                                    <button type="button" class="btn btn-sm btn-primary me-2" style="font-size: 13px;">
                                        <i class="icon-floppy-disk fs-6"></i> Save
                                    </button>
                                    
                                    <button type="button" class="btn btn-sm btn-primary" style="font-size: 13px;">
                                        <i class="icon-paperplane fs-6"></i> Payment
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>