.mat-mdc-table {
    width: 100%;
    padding:0px;
    margin:0px;

    th{
      background-color: #efefef;
      font-weight: bold;
    }
  }
  
  .mat-column-name {
    height: 100px;
  }

  .table-container{
    max-height: 500px;
    margin:0px;
    padding:0px;
    overflow-y: auto;
    z-index: 0;
    position: relative;
  }

  .mat-elevation-z8 {    
    overflow-x: auto;
   }

   .mdc-data-table__header-cell {
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: auto !important;
    outline: none;
    text-align: left;
  }

