<div class="card" style="border:1px solid #ccc;border-radius:5px;">
    <div class="card-header" style="padding:0px 10px;">
        <div class="card-title">
            <h4 class="fw-semibold">
                Family Session Preference Details
            </h4>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceFamilySessionDetails" class="mat-elevation-z8">
                    <ng-container *ngFor="let columnName of displayedColumnsFamilySessionDetails" [matColumnDef]="columnName">
                      <th mat-header-cell *matHeaderCellDef>{{ (!columnName.includes('choice'))?ColumnNameList[columnName]:columnName }}</th>
                      <td mat-cell *matCellDef="let row">{{ row[columnName] }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsFamilySessionDetails"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsFamilySessionDetails"></tr>
                  </table>
            </div>
        </div>
    </div>
</div>