<div class="card mb-5 mb-xl-10 mt-8">
    <!--begin::Card header-->
    <div class="card-header border-0 cursor-pointer ps-6 pe-6" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
        <!--begin::Card title-->
        <div class="card-title m-0">
            <h3 class="fw-bold m-0">Registration Processing : Apply Adjustments</h3>
        </div>
        <!--end::Card title-->
    </div>
    <!--begin::Card header-->
    <!--begin::Content-->
    <div id="kt_account_settings_profile_details" class="collapse show">
        <!--begin::Form-->
        <form id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
            <!--begin::Card body-->
            <div class="card-body border-top p-6">

                <!-------- Begin Registration Status -------->
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-8 mb8">
                            <div class="row">
                                <div class="col-lg-4">
                                    <span class="fs-6 fw-semibold">Family ID / Name:</span>
                                    <span class="fs-6 fw-normal"> 123 - Doe</span>
                                </div>
                                <div class="col-lg-8">
                                    <span class="fs-6 fw-semibold">Address:</span>
                                    <span class="fs-6 fw-normal"> 123 Main St, Chantilly, VA 20151</span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div style="max-height:400px;overflow: scroll;">
                                    <div class="row">
                                        <span class="fs-6 fw-semibold"> - John  (Primary) - Male </span>
                                    </div>
                                    <div class="row mt-4 ms-4">
                                        <div class="col-lg-3 mb-2">
                                            <span class="fs-6 fw-normal" style="color:#007500;">2024-25 Annual Pledge</span>
                                        </div>
                                        <div class="col-lg-3 mb-2">
                                            <span class="fs-6 fw-normal">Amount:</span>
                                            <span class="fs-6 fw-semibold" style="color:#F79646;"> $800.00</span>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <div class="row">
                                                <div class="col-lg-4 mb-2">
                                                    <span class="fs-6 fw-normal">Enter Amount:</span>
                                                </div>
                                                <div class="col-lg-8 mb-2">
                                                    <input type="text" class="form-control form-control-sm">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ms-4">
                                        <div class="col-lg-3">
                                            
                                        </div>
                                        <div class="col-lg-3">
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-4 mb-2">
                                                    <span class="fs-6 fw-normal">Comments:</span>
                                                </div>
                                                <div class="col-lg-8 mb-2">
                                                    <textarea class="form-control form-control-sm" row="1" cols="1"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-4 ms-4">
                                        <div class="col-lg-3 mb-2">
                                            <span class="fs-6 fw-normal" style="color:#007500;">Yoga Class</span>
                                        </div>
                                        <div class="col-lg-3 mb-2">
                                            <span class="fs-6 fw-normal">Amount:</span>
                                            <span class="fs-6 fw-semibold" style="color:#F79646;"> $800.00</span>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <div class="row">
                                                <div class="col-lg-4 mb-2">
                                                    <span class="fs-6 fw-normal">Enter Amount:</span>
                                                </div>
                                                <div class="col-lg-8 mb-2">
                                                    <input type="text" class="form-control form-control-sm">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ms-4">
                                        <div class="col-lg-3">
                                            
                                        </div>
                                        <div class="col-lg-3">
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-4 mb-2">
                                                    <span class="fs-6 fw-normal">Comments:</span>
                                                </div>
                                                <div class="col-lg-8 mb-2">
                                                    <textarea class="form-control form-control-sm" row="1" cols="1"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-8">
                                        <span class="fs-6 fw-semibold"> - Child 1 – Male – 5th grade as of Sept 2024  - Class Assigned:  Sundaram </span>
                                    </div>

                                    <div class="row mt-4 ms-4">
                                        <div class="col-lg-3 mb-2">
                                            <span class="fs-6 fw-normal" style="color:#007500;">Bala Vihar Class</span>
                                        </div>
                                        <div class="col-lg-3 mb-2">
                                            <span class="fs-6 fw-normal">Amount:</span>
                                            <span class="fs-6 fw-semibold text-uppercase" style="color:#F79646;"> Included</span>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <div class="row">
                                                <div class="col-lg-4 mb-2">
                                                    <span class="fs-6 fw-normal">Enter Amount:</span>
                                                </div>
                                                <div class="col-lg-8 mb-2">
                                                    <span class="fs-6 fw-semibold text-uppercase" style="color:#F79646;"> N/A</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-8">
                                        <span class="fs-6 fw-semibold"> - Child 1 – Male – 5th grade as of Sept 2024 </span>
                                    </div>

                                    <div class="row mt-4 ms-4">
                                        <div class="col-lg-3 mb-2">
                                            <span class="fs-6 fw-normal" style="color:#007500;">Shloka Class</span>
                                        </div>
                                        <div class="col-lg-3 mb-2">
                                            <span class="fs-6 fw-normal">Amount:</span>
                                            <span class="fs-6 fw-semibold" style="color:#F79646;"> $200.00</span>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <div class="row">
                                                <div class="col-lg-4 mb-2">
                                                    <span class="fs-6 fw-normal">Enter Amount:</span>
                                                </div>
                                                <div class="col-lg-8 mb-2">
                                                    <input type="text" class="form-control form-control-sm">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ms-4">
                                        <div class="col-lg-3">
                                            
                                        </div>
                                        <div class="col-lg-3">
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-4 mb-2">
                                                    <span class="fs-6 fw-normal">Comments:</span>
                                                </div>
                                                <div class="col-lg-8 mb-2">
                                                    <textarea class="form-control form-control-sm" row="1" cols="1"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="mb-4">
                                    <label class="form-label fw-semibold required">Approval Notes:</label>
                                    <textarea row="1" cols="1" class="form-control form-control-sm"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-4">
                                    <label class="form-label fw-semibold required">Approval By:</label>
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-4">
                                    <label class="form-label fw-semibold required">Approved Date:</label>
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="row mt-8">
                                <div class="col-lg-6" style="width:50%;">
                                    <span class="fs-6 fw-semibold">Total Amount Due: <br> (After adjustment)</span>
                                </div>
                                <div class="col-lg-6 justify-content-end d-flex" style="width:50%;">
                                    <span class="fs-6 fw-semibold" style="color:#F79646;"> $600.00</span>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-8">
                                <button type="reset" class="btn btn-sm btn-danger backbtn1 me-2" style="font-size:13px;">
                                    <i class="icon icon-cancel-circle2 fs-6"></i>
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-sm btn-primary" style="font-size:13px;">
                                    <i class="icon icon-floppy-disk fs-6"></i>
                                    Save & Apply Payment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------- End Registration Status -------->
				
            </div>
            <!--end::Card body-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Content-->
</div>

