<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header d-flex justify-content-start p-2 ps-4">
        <button type="button" class="btn btn-sm btn-default text-uppercase text-white me-3 mb-2 mt-2" style="background-color:#00B0F0;">
            Accepted
        </button>
        <button type="button" class="btn btn-sm btn-default text-uppercase text-white me-3 mb-2 mt-2" style="background-color:#7030A0;">
            Paid
        </button>
        <button type="button" class="btn btn-sm btn-default text-uppercase text-white me-3 mb-2 mt-2" style="background-color:#7030A0;">
            Partially Paid
        </button>
        <button type="button" class="btn btn-sm btn-default text-uppercase text-white me-3 mb-2 mt-2" style="background-color:#7030A0;">
            Pre-Auth-Success
        </button>
        <button type="button" class="btn btn-sm btn-default text-uppercase text-white me-3 mb-2 mt-2" style="background-color:#F79646;">
            Session 1
        </button>
    </div>
    <!--begin::Card header-->
    <!--begin::Content-->
    <div id="kt_account_settings_profile_details" class="collapse show">
        <!--begin::Form-->
        <form id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
            <!--begin::Card body-->
            <div class="card-body border-top p-6">
				
            </div>
            <!--end::Card body-->
            <!--begin::Actions-->
            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button type="reset" class="btn btn-sm btn-light border border-primary border-active active text-primary backbtn1 me-4">Cancel</button>
                <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
            </div>
            <!--end::Actions-->
        <input type="hidden"></form>
        <!--end::Form-->
    </div>
    <!--end::Content-->
</div>