<div class="modal-header p-4" id="kt_activities_header" style="background-color: #f8f8f8;">
	<h3 class="card-title fw-semibold text-dark" style="width:100%;">Payment Details</h3>
	<div class="card-toolbar">
	    <button type="button" class="btn btn-sm btn-icon btn-active-light-primary" (click)="closeModal()"> 
		    <i class="ki-duotone ki-cross fs-1 text-dark">
			    <span class="path1"></span>
			    <span class="path2"></span>
			</i>
	    </button>
	</div>
</div>
  
<div class="modal-body p-4">
    <div class="card" style="border:1px solid #ccc;border-radius:5px;">
        <div class="card-header" style="padding:0px 10px;">
            <div class="card-title">
                <h4 class="fw-semibold">
                    Payment History Details
                </h4>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourcePaymentDetails" matSort>
        
                        <!-- Family ID Column-->
                        <ng-container matColumnDef="invoiceNumber">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header>Receipt Number</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
                        </ng-container>
        
                        <!-- Invoiced Amount Column-->
                        <ng-container matColumnDef="paymentType">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header>Payment Type</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.paymentType}} </td>
                        </ng-container>
        
                        <!-- Amount Paid Column-->
                        <ng-container matColumnDef="paymentDate">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.paymentDate}} </td>
                        </ng-container>
        
                        <!-- Invoice Number Column-->
                        <ng-container matColumnDef="convenienceFee">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header>Convenience Fee</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.convenienceFee}} </td>
                        </ng-container>
        
                        <!-- Payment Status Column-->
                        <ng-container matColumnDef="amountPaid">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header>Amount Paid</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.amountPaid}} </td>
                        </ng-container>
        
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPaymentDetails; sticky: true;" style="background-color: #CDDDFF;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPaymentDetails;"></tr>
        
                    </table>
        
                </div>

                <div *ngIf="responseData==0">
                    <p class="no_result_found">No Result Found.</p>
                </div>
            </div>
        </div>
    </div>
</div>