<ng-template #modal>
  <div class="modal-content">
    <div class="modal-header p-4">
      <!--begin::Modal title-->
      <span class="fs-2 fw-semibold">{{ modalConfig.modalTitle }}</span>
      <!--end::Modal title-->
      <!--begin::Close-->
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()"
        *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()">
        <app-keenicon name="cross" class="fs-1 text-black"></app-keenicon>
        <!--end::Svg Icon-->
      </div>
      <!--end::Close-->
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="p-4" style="border-top:1px solid #eee;">
      <button type="button" class="btn btn-danger btn-sm" (click)="close()"
        *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
        [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
        <i class="icon icon-cancel-circle2"></i> {{ modalConfig.closeButtonLabel }}
      </button>
      <button type="button" class="btn btn-primary btn-sm float-end" (click)="dismiss()"
        *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()"
        [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()">
        <i class="icon-paperplane"></i> {{ modalConfig.dismissButtonLabel }}
      </button>
    </div>
  </div>
</ng-template>
