<div id="qw2" >
    <div class="p-4 bg-white">
        <div style="width:100%;margin:auto;">
            <div class="col-lg-12" style="display:contents;">
                <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 sud mb-4 pe-lg-4">
                    <app-sign-up-code-menu></app-sign-up-code-menu>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="kt_vtab_pane_3" role="tabpanel">
                            <div class="card shadow-sm border border-gray-300" style="border-radius: 5px;">
                                <div class="card-header align-items-center float-end px-4 bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
                                    <!--begin::Card title-->
                                    <div class="card-title float-sm-end">
                                        <!--begin::Search-->
                                        <div class="d-flex align-items-center position-relative my-1">
                                            <h3 class="panel-title fw-semibold">
                                                <img class="img_cls" src="assets/chinmaya_media/images/SVG-color/Payment Processing Detailsicon.svg" style="width:25px;"> Payment Processing Details
                                            </h3>
                                        </div>
                                        <!--end::Search-->
                                    </div>
                                </div>

                                <!--begin::Card body-->
                                <div class="card-body p-4">
                                    <div class="row">
                                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <div class="row aaa">
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="width:75%;">
                                                        <label class="col-form-label fw-semibold">Has Special Requirement?</label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-4" style="width:25%;">
                                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                            <input class="form-check-input" type="checkbox" value="1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <div class="row">
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <div class="row aaa">
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="width:75%;">
                                                        <label class="col-form-label fw-semibold">Has Docs To Upload?</label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-4" style="width:25%;">
                                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                            <input class="form-check-input" type="checkbox" value="1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <label class="col-form-label required fw-semibold fs-6">Payment Processing Method </label>
                                            <input type="text" name="" class="form-control form-control-sm" placeholder="Payment Processing Method ">
                                        </div>
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <label class="col-form-label required fw-semibold fs-6">Accounting Project Code </label>
                                            <input type="text" name="" class="form-control form-control-sm" placeholder="Accounting Project Code ">
                                        </div>
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <label class="col-form-label required fw-semibold fs-6">Enrollment Max Capacity</label>
                                            <input type="text" name="" class="form-control form-control-sm" placeholder="Enrollment Max Capacity">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="card-footer p-5" style="border-top: 1px solid var(--bs-card-border-color) !important;">
                                    <div class="row">
                                        <div class="d-flex justify-content-center">
                                            <div class="m-0">
                                                <a href="#" class="btn btn-primary btn-sm mb-2 me-md-2 fs-6" style="margin-right:5px;">
                                                    <i class="icon-backward fs-4"></i> Back
                                                </a>
                                                    
                                                <a href="#" class="btn btn-primary btn-sm mb-2 me-md-2 fs-6" style="margin-right:5px;">
                                                    <i class="icon-floppy-disk fs-4"></i> Save
                                                </a>
                                                
                                                <a href="#" class="btn btn-primary btn-sm mb-2 fs-6">
                                                    <i class="icon-floppy-disks fs-4"></i> Save &amp; Next
                                                </a>                                                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>