<div class="card shadow-sm mt-5 border border-gray-300 mb-5">
    <div class="card-header">
        <h3 class="card-title">Additional Details</h3>
        
    </div>
    <div class="card-body">
     
<div  class="fv-row mb-4">
    <label  class="form-label form-label-text " style="font-size: 14px !important;"> Adult : Mk  </label>
    <div  class="row">
        <div  class="col-lg-8 fv-row">
            <div  class="row">
            <div  class="col-lg-6 fv-row">
                <label  for="exampleFormControlInput1" class="form-label">Work Phone </label>
                <input  type="text" name="lname" placeholder="Work Phone" autocomplete="off" id="PhoneNumber" formcontrolname="workPhone" appphonenumberformat="" maxlength="14" minlength="14" class="form-control form-control-sm" ng-reflect-minlength="14" ng-reflect-maxlength="14" ng-reflect-name="workPhone">
                <div  class="help-block with-errors text-danger"></div></div> </div> </div>
                </div></div>


                <div  class="fv-row mb-4">
                    <label  class="form-label form-label-text" style="font-size: 14px !important;"> CHILD 1 : Son  </label>
                    <div  class="row mt-2 ng-untouched ng-pristine ng-valid" ng-reflect-form="[object Object]">
                        <div  class="col-lg-8">
                            <div  class="col-lg-12 fv-row">
                            
                  <div  class="row mb-3">
                    <div  class="col-lg-6 fv-row">
                        <label  for="exampleFormControlInput1" class="required form-label form-label1" style="font-size: 12px !important;">School Grade (As of September 2023) </label>
                        <select  formcontrolname="schoolGradeCode" aria-label="Select" data-control="select2" data-placeholder="Select..." class="form-select form-select-sm fw-semibold">
                            <option  value="" ng-reflect-value="">Select</option>
                            <option  value="17" ng-reflect-value="17">Amrita Vihar</option>
                            <option  value="18" ng-reflect-value="18">Shishu Vihar</option>
                            <option  value="19" ng-reflect-value="19">PRE-KG</option>
                            <option  value="20" ng-reflect-value="20">KG</option>
                            <option  value="21" ng-reflect-value="21">1st Grade</option>
                            <option  value="22" ng-reflect-value="22">2nd Grade</option>
                            <option  value="23" ng-reflect-value="23">3rd Grade</option>
                            </select><div  class="help-block with-errors text-danger"></div>
                        </div>
                        <div  class="col-lg-6 fv-row">
                            <label  for="exampleFormControlInput1" id="family-emergencyphone1" class="required form-label form-label1" style="font-size: 12px !important;">School Grade (As of September 2024)</label>
                            <br>
                                <label  class="grade_txt_clr">5th Grade</label></div>
                            </div><div  class="row">
                                <div  class="col-lg-6 fv-row">
                                    <label  for="exampleFormControlInput1" class="form-label form-label1 required" style="font-size: 12px !important;">Date of Birth</label>
                                    <input  type="date" autocomplete="off" placeholder="MM/DD/YYYY" formcontrolname="dateOfBirth" class="form-control form-control-sm" style="text-transform: uppercase;">
                                    <div  class="help-block with-errors text-danger"></div></div></div></div></div>
                                </div></div>

                                <div  class="fv-row mb-1">
                                    <label  class="form-label form-label-text" style="font-size: 14px !important;"> CHILD 2 : Son 2 </label>
                                    <div  class="row mt-2 ng-untouched ng-pristine ng-valid" ng-reflect-form="[object Object]">
                                        <div  class="col-lg-8">
                                            <div  class="col-lg-12 fv-row">
                                            
                                  <div  class="row mb-3">
                                    <div  class="col-lg-6 fv-row">
                                        <label  for="exampleFormControlInput1" class="required form-label form-label1" style="font-size: 12px !important;">School Grade (As of September 2023) </label>
                                        <select  formcontrolname="schoolGradeCode" aria-label="Select" data-control="select2" data-placeholder="Select..." class="form-select form-select-sm fw-semibold">
                                            <option  value="" ng-reflect-value="">Select</option>
                                            <option  value="17" ng-reflect-value="17">Amrita Vihar</option>
                                            <option  value="18" ng-reflect-value="18">Shishu Vihar</option>
                                            <option  value="19" ng-reflect-value="19">PRE-KG</option>
                                            <option  value="20" ng-reflect-value="20">KG</option>
                                            <option  value="21" ng-reflect-value="21">1st Grade</option>
                                            <option  value="22" ng-reflect-value="22">2nd Grade</option>
                                            <option  value="23" ng-reflect-value="23">3rd Grade</option>
                                            </select><div  class="help-block with-errors text-danger"></div>
                                        </div>
                                        <div  class="col-lg-6 fv-row">
                                            <label  for="exampleFormControlInput1" id="family-emergencyphone1" class="required form-label form-label1" style="font-size: 12px !important;">School Grade (As of September 2024)</label>
                                            <br>
                                                <label  class="grade_txt_clr">5th Grade</label></div>
                                            </div><div  class="row">
                                                <div  class="col-lg-6 fv-row">
                                                    <label  for="exampleFormControlInput1" class="form-label form-label1 required" style="font-size: 12px !important;">Date of Birth</label>
                                                    <input  type="date" autocomplete="off" placeholder="MM/DD/YYYY" formcontrolname="dateOfBirth" class="form-control form-control-sm" style="text-transform: uppercase;">
                                                    <div  class="help-block with-errors text-danger"></div></div></div></div></div>
                                                </div></div>


                                               
                                <div  align="right" class="col-md-12 mt-10">
                                    <a  routerlink="/program-registration" type="button" data-kt-stepper-action="back" class="btn btn-sm btn-light border border-primary border-active active text-primary backbtn1 mr-10" ng-reflect-router-link="/program-registration" href="/program-registration"> Back </a>
                                    <button  type="button" data-kt-stepper-action="next" class="btn btn-primary btn-sm" disabled=""> Save &amp; Next </button></div>

 


    </div>
    
</div>