<div class="card mt-2" style="background:none;border-radius: 0px;">
    <div class="card-header border-0 cursor-pointer ps-0 pe-0 pt-2 pb-2" style="background: #f2f6ff;border-radius: 0px;">
        <div class="card-title">
            <h4 class="fw-semibold">
                Review Family Registration Details
            </h4>
        </div>
    </div>
    <div class="card-toolbar">
        <div class="d-flex justify-content-end">
            <ul class="nav nav-pills nav-pills-custom pull-right" style="width:100%;">
                <!--begin::Item
                <li class="nav-item mb-1">
                    <div class="nav-link">
                        <span class="nav-text text-gray-800 fw-semibold fs-6">SignUpCode Max Capacity : </span>
                        <span class="nav-text text-primary-800 fw-semibold fs-6">1800</span>
                    </div>
                </li>
                end::Item-->
                
                <!--begin::Item
                <li class="nav-item mb-1">
                    <div class="nav-link">
                        <span class="nav-text text-gray-800 fw-semibold fs-6">Accepted : </span>
                        <span class="nav-text text-primary-800 fw-semibold fs-6">7</span>
                    </div>
                </li>
                end::Item-->

                <!--begin::Item-->
                <li class="nav-item mb-1">
                    <!--begin::Link-->
                    <div class="nav-link d-flex">
                        <span class="nav-text text-gray-800 fw-semibold fs-6 mt-2" style="width:200px;">Sub Class Assign : </span>
                        <select class="form-select form-select-sm cursor-pointer ms-1" [(ngModel)]="subClass">
                            <option value="">Select Session</option>
                            <option *ngFor="let class of SubClassAssignList" [value]="class.description">{{class.description}}</option>
                        </select>
                        <!--end::Title-->
                    </div>
                    <!--end::Link-->
                </li>
                <!--end::Item-->

                <!--begin::Item-->
                <li class="nav-item mb-1">
                    <!--begin::Link-->
                    <div class="nav-link mt-2">
                        <span class="nav-text text-gray-800 fw-semibold fs-6">Total Records : </span>
                        <span class="nav-text text-primary-800 fw-semibold fs-6">{{totalRecCount}}</span>
                        <!--end::Title-->
                    </div>
                    <!--end::Link-->
                </li>
                <!--end::Item-->
            </ul>
        </div>
    </div>
</div>

<div class="card mt-2" style="border-radius:5px;">
    <div class="card-body p-0">
        <div class="table-responsive">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- Checkbox Column-->
                    <ng-container matColumnDef="checkbox">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="form-check form-check-sm form-check-custom form-check-solid me-6">
                                <label class="pt-0 pb-0">
                                    <input type="checkbox" value="1" class="form-check-input me-2" (change)="$event ? toggleAllRows() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </label>
                            </div>
                        </th>
                        <td class="text-nowrap" mat-cell *matCellDef="let element"> 
                            <div class="form-check form-check-sm form-check-custom form-check-solid me-6">
                                <label class="pt-0 pb-0">
                                    <input type="checkbox" value="1" class="form-check-input me-2" (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(element) : null"
                                    [checked]="selection.isSelected(element)">
                                </label>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Payment Date Column-->
                    <ng-container matColumnDef="paymentSubmittedDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.paymentSubmittedDate | date:'MM/dd/yyyy'}} </td>
                    </ng-container>

                    <!-- Family ID Column-->
                    <ng-container matColumnDef="familyId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Family ID </th>
                        <td mat-cell *matCellDef="let element" mat-raised-button (click)="familyid()" 
                            style="color:blue;cursor:pointer;"> 
                            {{element.familyId}} 
                        </td>
                    </ng-container>

                    <!-- Person ID Column-->
                    <ng-container matColumnDef="personID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Person ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.personID}} </td>
                    </ng-container>

                    <!-- First Name Column-->
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                    </ng-container>

                    <!-- Family Name Column-->
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                    </ng-container>

                    <!-- Gender Column-->
                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender <th>
                        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                    </ng-container>

                    <!-- Age Column-->
                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
                    </ng-container>

                    <!-- School Grade Column-->
                    <ng-container matColumnDef="schoolGradeDescription">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> School Grade </th>
                        <td mat-cell *matCellDef="let element"> {{element.schoolGradeDescription}} </td>
                    </ng-container>

                    <!-- Primary Person ID Column-->
                    <ng-container matColumnDef="primaryPersonId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Primary Person ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.primaryPersonId}} </td>
                    </ng-container>

                    <!-- Primary First Name Column-->
                    <ng-container matColumnDef="primaryFirstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Primary First Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.primaryFirstName}} </td>
                    </ng-container>

                    <!-- Primary Last Name Column-->
                    <ng-container matColumnDef="primaryLastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Primary Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.primaryLastName}} </td>
                    </ng-container>

                    <!-- E-mail Column-->
                    <ng-container matColumnDef="emailAddress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
                        <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
                    </ng-container>
 <!-- E-mail Column-->
 <ng-container matColumnDef="classAssignment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>CLass </th>
    <td mat-cell *matCellDef="let element"> {{element.classAssignment}} </td>
</ng-container>

 <ng-container matColumnDef="sessionAssignment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Session Assignment</th>
    <td mat-cell *matCellDef="let element"> {{element.sessionAssignment }} </td>
</ng-container>
                    <!-- Payment Column-->
                    <!-- <ng-container matColumnDef="payment">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment </th>
                        <td  mat-cell *matCellDef="let element"  mat-raised-button (click)="paymentdetails()"> 
                            <img src="./assets/images/payment_history.png" style="width:25px;cursor:pointer;">
                        </td>
                    </ng-container> -->

                    <!-- Date Created Column-->
                    <ng-container matColumnDef="createdDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/yyyy'}} </td>
                    </ng-container>
                    

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSelection; sticky: true;" style="background-color: #CDDDFF;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSelection;"></tr>

                  </table>


            </div>
        </div>
    </div>

    <!--begin::Actions-->
    <div class="card-footer d-flex justify-content-center p-4">
        <div class="row">
            <div class="d-flex">
                <!--begin::Filter menu-->
                <div class="m-0">
                    <a (click)="onBackButtonClick()" href="javascript:void(0);" class="btn btn-primary btn-sm m-1" style="font-size:13px;">
                        <i class="icon-backward fs-6"></i> Back
                    </a>
                    <a href="javascript:void(0);" (click)="removeRecord();" class="btn btn-primary btn-sm m-1" style="font-size:13px;">
                        <i class="icon-bin fs-6"></i> Remove From The List
                    </a>
                    <a href="javascript:void(0);" class="btn btn-primary btn-sm m-1" style="font-size:13px;" (click)="onUpdateButtonClick()">
                        <i class="icon-rotate-ccw2 fs-6"></i> Update
                    </a>
                    
                </div>
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Content-->
    </div>

</div>