.nav-pills .nav-item {
    margin-right: 0.5rem;
  }

.nav-pills {
    padding: 5px !important;
    background: #fff !important;
    border-radius: 5px !important;
}

.card1 {
    display: none !important;
}

::ng-deep .mat-mdc-tab-labels .mdc-tab.mat-mdc-tab.mat-mdc-tab-disabled{
    opacity: 1 !important;
  }