.nav-pills .nav-item {
    margin-right: 0.5rem;
  }

.nav-pills {
    padding: 5px !important;
    background: #fff !important;
    border-radius: 5px !important;
}

.card1 {
    display: none !important;
}