 
.widthcls{
width: 95% !important;
margin-left: 2.5rem !important;
}

@media (max-width: 360px) {
    .widthcls{
        width: 100% !important;
        margin-left: 0px !important;        
    }
    .divlable{
        display: none !important;
    }
}

@media (max-width: 767px) { 
    .widthcls{
        width: 100% !important;
        margin-left: 0px !important
    }
    .divlable{
        display: none !important;
    }
}
@media (max-width: 992px) {
    .widthcls{
        width: 100% !important;
        margin-left: 0px !important
    }
    .divlable{
        display: none !important;
    }
}
@media (max-width: 1200px) {
    .widthcls{
        width: 100% !important;
        margin-left: 0px !important
    }
    .divlable{
        display: none !important;
    }
}

.pos_top_right{
    position: absolute;
    top: 5px;
    right: 20px;
    /* bottom: 20px; */
    font-size: 14px;
    text-decoration: underline;
}

.refresh_icon{
    color:#009ef7 !important;
    font-size:16px;
}







