<div class="row">
	<div class="col-lg-10">
		<div class="card mb-5 mb-xl-10">
			<!--begin::Card header-->
			<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
				<!--begin::Card title-->
				<div class="card-title m-0">
					<span class="m-0 me-5">
						<b>Family ID / Name:</b> <span> {{selectedFamily.familyId}} - {{selectedFamily.primaryFirstName}} {{selectedFamily.primaryLastName}}</span>
					</span>
					<span class="m-0 me-5">
						<b>Address:</b> <span> {{address}}</span>
					</span>
				</div>
				<!--end::Card title-->
			</div>
			<!--begin::Card header-->
			<!--begin::Content-->
			<div id="kt_account_settings_profile_details" class="collapse show">
				<!--begin::Form-->
				<form [formGroup]="registrationForm" *ngIf="registrationDetails">
					<!--begin::Card body-->
					<div class="card-body border-top py-5" style="height: 750px !important;overflow: hidden;overflow-y: scroll;">
						<div>
							<div *ngIf="registrationForm?.get('registrationDetailsList')?.controls.length>0">
								<!-- {{registrationForm.value | json}} -->
								<div formArrayName="registrationDetailsList">
								  <div *ngFor="let detailsGroup of registrationForm.get('registrationDetailsList').controls; let i = index" >
									<div [formGroupName]="i" >
										<h4 style="background:#f3f3f3;padding:4px">{{getPersonSummary(detailsGroup)}} </h4>
										<div formArrayName="responsePersonProgramList" >
											<div *ngFor="let programGroup of detailsGroup.get('responsePersonProgramList').controls; let j=index">
											  <div [formGroupName]="j" class="card" style="border:1px solid lightgray !important;margin-bottom:8px">
												<a href="javascript:void(0);" class="pos_top_right" (click)="refreshGrade(j, programGroup.get('personID').value, programGroup.get('signupCode').value);" *ngIf="getPersonTypeCheck(programGroup)">
													<i class="ki-solid ki-arrows-circle text-dark refresh_icon"></i>&nbsp;Refresh
												</a>
												<div class="card-title" style="padding:10px;">
											</div>

												<div class="px-7">

													<h6 class="fw-semibold mb-3">{{programGroup.get('sessions')?.value}}</h6>
													<!--begin::Input group-->
													<div class="row mb-2">	
														<!--begin::Label-->
														<label class="col-lg-3 col-form-label fw-bold fs-6 text-success">{{programGroup.get('signupCodeDescription').value}}</label>
														<!--end::Label-->
														
													
														<!--begin::Col-->
														<div class="col-lg-9">
															<!--begin::Row-->
															<div class="row">
																<!--begin::Col-->
																<div class="col-lg-6 fv-row fv-plugins-icon-container">
																	<!--begin::Input group-->
																	<div class="row">
																		<!--begin::Label-->
																		<label class="col-lg-5 col-form-label fw-semibold fs-6 text-nowrap">Registration Status :</label>
																		<!--end::Label-->
																		<!--begin::Col-->
																		<div class="col-lg-7 fv-row fv-plugins-icon-container">
																			<select formControlName="registrationStatus" aria-label="" data-control="select2" data-placeholder="Select an option..." class="form-select form-select-sm fw-semibold">
																				<option value="" >Select an Option</option>      
																				<option [value]="registrationStatus.code" *ngFor = "let registrationStatus of registrtionStatusList">{{registrationStatus.description}}</option>                             
																			</select> 
																		</div>
																		<!--end::Col-->
																	</div>
																	<!--end::Input group-->
																</div>
																<!--end::Col-->
																<!--begin::Col-->
																<div class="col-lg-6 fv-row fv-plugins-icon-container">
																	<!--begin::Input group-->
																	<div class="row">
																		<!--begin::Label-->
																		<label class="col-lg-5 col-form-label fw-semibold fs-6 text-nowrap">Payment Status :</label>
																		<!--end::Label-->
																		<!--begin::Col-->
																		<div class="col-lg-7 fv-row fv-plugins-icon-container">
																			<select formControlName="paymentStatus" aria-label="" data-control="select2" data-placeholder="Select an option..." class="form-select form-select-sm fw-semibold">
																				<option value="">Select an Option</option>   
																				<option [value]="paymentStatus.code" *ngFor="let paymentStatus of paymentStatusList">{{paymentStatus.description}}</option>                               
																			</select> 
																		</div>
																		<!--end::Col-->
																	</div>
																	<!--end::Input group-->
																</div>
																<!--end::Col-->
															</div>
															<!--end::Row-->
														</div>
														<!--end::Col-->
													</div>
													<!--end::Input group-->
													
													<!--begin::Input group-->
													<div class="row mb-2" [hidden]="programGroup.get('sessionAssignment')?.disabled &&  programGroup.get('subClassAssignment')?.disabled">
														<!--begin::Label-->
														<label class="col-lg-3 col-form-label fw-semibold fs-6 text-success divlable" style="display: block;"></label>
														<!--end::Label-->
														<!--begin::Col-->
														<div class="col-lg-9">
															<!--begin::Row-->
															<div class="row">
																<!--begin::Col-->
																<div class="col-lg-6 fv-row fv-plugins-icon-container">
																	<!--begin::Input group-->
																	<div class="row">
																		<!--begin::Label-->
																		<label class="col-lg-5 col-form-label fw-semibold fs-6 text-nowrap">Assigned Session :</label>
																		<!--end::Label-->
																		<!--begin::Col-->
																		<div class="col-lg-7 fv-row fv-plugins-icon-container" >
																			<select    formControlName="sessionAssignment" aria-label="" data-control="select2" data-placeholder="Select an option..." class="form-select form-select-sm fw-semibold">
																				<option value="">Select an Option</option>         
																				<option [value]="assignedSession.choicecode" *ngFor = "let assignedSession of getAssignedSessionListFun(programGroup.get('registrationId').value)">{{assignedSession.description}}</option>                                                   
																			</select> 
																		</div>
																		<!--end::Col-->
																	</div>
																	<!--end::Input group-->
																</div>
																<!--end::Col-->
																<!--begin::Col-->
																<div class="col-lg-6 fv-row fv-plugins-icon-container">
																	<!--begin::Input group-->
																	<div class="row">
																		<!--begin::Label-->
																		<label class="col-lg-5 col-form-label fw-semibold fs-6 text-nowrap">Assigned 
																			Sub-class:
																			</label>
																		<!--end::Label-->
																		<!--begin::Col-->
																		<div class="col-lg-7 fv-row fv-plugins-icon-container">
																			<select formControlName="subClassAssignment" aria-label="" data-control="select2" data-placeholder="Select an option..." class="form-select form-select-sm fw-semibold">
																				<option value="">Select an Option</option>
																				<option [value]="subClass.description" *ngFor="let subClass of getAssignedSubClassListFun(programGroup.get('registrationId').value)">{{subClass.description}}</option>
																			</select> 
																		</div>
																		<!--end::Col-->
																	</div>
																	<!--end::Input group-->
																</div>
																<!--end::Col-->
															</div>
															<!--end::Row-->
														</div>
														<!--end::Col-->
													</div>
													<!--end::Input group-->
		
													<!--begin::Input group-->
													<div class="row mb-6">
														<!--begin::Label-->
														<label class="col-lg-3 col-form-label fw-semibold fs-6 text-success divlable" style="display: block;">
														</label>
														<!--end::Label-->
														<!--begin::Col-->
														<div class="col-lg-9">
															<!--begin::Input group-->
															<div class="row">
																<!--begin::Label-->
																<label class="col-lg-2 col-form-label fw-semibold fs-6">Comments :
																</label>
																<!--end::Label-->
																<!--begin::Col-->
																<div class="col-lg-10 fv-row fv-plugins-icon-container">
																	<input formControlName="adminComment" type="text"  class="form-control form-control-sm widthcls" placeholder=""></div>
																<!--end::Col-->
															</div>
															<!--end::Input group-->
														</div>
														<!--end::Col-->
													</div>
													<!--end::Input group-->
												</div>
											</div>
											</div>
										</div>		
									</div>
								  </div>	
								</div>
							</div>	
						</div>
					</div>
					<!--end::Card body-->
				</form>
				<!--end::Form-->
			</div>
			<!--end::Content-->
		</div>
	</div>
	<div class="col-lg-2">
		<a  class="btn btn-primary mb-5 mt-8" style="width: 100% !important;" (click)="onAcceptFamilyButtonClick()">Accept Family</a>
		<a  class="btn btn-primary mb-5" style="width: 100% !important;" (click)="onAssignChoiceButtonClick()">Assign Choice 1</a>
		<a  class="btn btn-primary mb-5" style="width: 100% !important;display:none">View Payment Schedule</a>
		<a  class="btn btn-primary mb-5" style="width: 100% !important;display:none">Apply Adjustment</a>
		<a  class="btn btn-primary mb-5" style="width: 100% !important;display:none">Apply Payment</a>
		<a  class="btn btn-primary mb-5" style="width: 100% !important;display:none">Re-Send Receipt</a>
		<a  class="btn btn-primary mb-5" style="width: 100% !important;" (click)="onSaveButtonClick()">Save</a><br>
		<a  class="btn btn-danger mb-5" style="width: 100% !important;" (click)="onCancelButtonClick()">Cancel</a>
	</div>
</div>
