<div class="card card-flush h-xl-100 cardtop">
									
    <div class="card-header align-items-center float-end bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;padding: 15px 15px 0px 15px;">
        <ul ngbNav class=" nav-pills nav-pills-custom nav-tabs" >
            <!--begin::Item-->
            <li class="nav-item mb-3 " role="presentation" ngbNavItem>
                <!--begin::Link-->
                <a routerLink="program/configurationDetailsTab" ngbNavLink class=" nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-primary flex-column overflow-hidden w-150px  p-3" id="kt_stats_widget_16_tab_link_1" data-bs-toggle="pill" href="#kt_stats_widget_16_tab_1" aria-selected="false" role="tab" style="border: 1px solid #A8887B;">
                    <!--begin::Title-->
                    <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">Configuration</span>
                    <!--end::Title-->
                    <!--begin::Bullet-->
                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                    <!--end::Bullet-->
                </a>
                <!--end::Link-->
            </li>0
            <!--end::Item-->
            <!--begin::Item-->
            <li class="nav-item mb-3 " role="presentation" ngbNavItem>
                <!--begin::Link-->
                <a routerLink="program/programDetailsTab" ngbNavLink class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-primary flex-column overflow-hidden w-150px p-3" id="kt_stats_widget_16_tab_link_2" data-bs-toggle="pill" href="#kt_stats_widget_16_tab_2" aria-selected="false" role="tab" tabindex="-1" style="border: 1px solid #A8887B;">
                
                    <!--begin::Title-->
                    <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">Program Details</span>
                    <!--end::Title-->
                    <!--begin::Bullet-->
                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                    <!--end::Bullet-->
                </a>
                <!--end::Link-->
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="nav-item mb-3 " role="presentation" ngbNavItem>
                <!--begin::Link-->
                <a routerLink="program/registrationStepsTab" ngbNavLink class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-primary flex-column overflow-hidden w-150px p-3" id="kt_stats_widget_16_tab_link_3" data-bs-toggle="pill" href="#kt_stats_widget_16_tab_3" aria-selected="false" role="tab" tabindex="-1" style="border: 1px solid #A8887B;">
                
                    <!--begin::Title-->
                    <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">Registration Steps</span>
                    <!--end::Title-->
                    <!--begin::Bullet-->
                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                    <!--end::Bullet-->
                </a>
                <!--end::Link-->
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="nav-item mb-3 " role="presentation" ngbNavItem>
                <!--begin::Link-->
                <a routerLink="program/signupCodeTab" ngbNavLink class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-primary flex-column overflow-hidden w-150px p-3" id="kt_stats_widget_16_tab_link_4" data-bs-toggle="pill" href="#kt_stats_widget_16_tab_4" aria-selected="false" role="tab" tabindex="-1" style="border: 1px solid #A8887B;">
                
                    <!--begin::Title-->
                    <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">Sign Up Codes</span>
                    <!--end::Title-->
                    <!--begin::Bullet-->
                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                    <!--end::Bullet-->
                </a>
                <!--end::Link-->
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="nav-item mb-3 " role="presentation" ngbNavItem>
                <!--begin::Link-->
                <a routerLink="program/reviewConfigurationTab" ngbNavLink class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-primary flex-column overflow-hidden w-170px p-3" id="kt_stats_widget_16_tab_link_5" data-bs-toggle="pill" href="#kt_stats_widget_16_tab_5" aria-selected="false" role="tab" tabindex="-1" style="border: 1px solid #A8887B;">
                    
                    <!--begin::Title-->
                    <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">Review Configuration</span>
                    <!--end::Title-->
                    <!--begin::Bullet-->
                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                    <!--end::Bullet-->
                </a>
                <!--end::Link-->
            </li>
            <!--end::Item-->
            
        </ul>
    </div>
       
  
  <router-outlet></router-outlet>
  
