<div class="row">
    <div class="col-lg-6"> 
        <div class="card mb-5 mb-xl-10">
            <!--begin::Card header-->
            <div class="card-header d-flex p-2 ps-4">
                <div class="card-title m-0">
                    <h3 class="fw-bold m-0">Membership Call Worklist</h3>
                </div>
                <div class="justify-content-end">
                    <div class="btn btn-sm btn-icon-dark btn-text-dark mt-2">
                        <i class="ki-duotone ki-arrows-circle text-dark fs-3">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        <span class="mt-4 ms-2 fs-6">Refresh List</span>
                    </div>
                </div>
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div id="kt_account_settings_profile_details" class="collapse show">
                <!--begin::Form-->
                <form id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
                    <!--begin::Card body-->
                    <div class="card-body border-top p-2">
                        <div class="justify-content-start">
                            <button type="button" class="btn btn-sm btn-default text-white me-3 mb-2" style="background-color:#7030A0;">
                                Assigned to me
                            </button>
                            <button type="button" class="btn btn-sm btn-default text-white me-3 mb-2" style="background-color:#9BBB59;">
                                Assigned All
                            </button>
                            <button type="button" class="btn btn-sm btn-default text-white me-3 mb-2" style="background-color:#984807;">
                                Unassigned All
                            </button>
                        </div>
                        <div class="table-responsive" style="max-height:500px !important;">
                            <table class="table align-middle table-hover table-rounded table-striped table-bordered fs-6 gy-3">
                                <thead class="bg-primary text-white">
                                    <tr class="text-start fw-bold fs-5 gs-0"> 
                                        <th class="text-start min-w-100px text-nowrap">Family ID</th>
                                        <th class="text-start min-w-100px text-nowrap">First Name</th>
                                        <th class="text-start min-w-100px text-nowrap">Last Name</th>
                                        <th class="text-start min-w-100px text-nowrap"># of Years</th>
                                        <th class="text-start min-w-100px text-nowrap">Assigned to</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let l of list">
                                    <td class="text-start text-nowrap fw-semibold " style="cursor: pointer;color:blue" (click)="showCallDetails(l)">
                                      {{l.familyId}}
                                    </td>
                                    <td class="text-start text-nowrap">
                                        {{l.firstName}}
                                    </td>
                                    <td class="text-start text-nowrap text-uppercase">
                                        {{l.lastName}}
                                    </td>
                                    <td class="text-start text-uppercase text-nowrap">
                                      {{l.years}}
                                    </td>
                                    <td class="text-start text-nowrap">
                                        {{l.assignedTo}}
                                    </td>                          
                                </tr>
                            </tbody>
                            </table>
                            <!--end::Table-->
                        </div>
                        <div class="row">
                            <div
                                class="col-sm-6 col-md-5 col-6">
                                <div class="dataTables_length">
                                    <label>
                                        <select class="form-select form-select-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-7 col-6 d-flex justify-content-end">
                                <div class="paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled">
                                            <a href="#" data-dt-idx="0" tabindex="0" class="page-link">
                                                <i class="previous"></i>
                                            </a>
                                        </li>
                                        <li class="paginate_button page-item active">
                                            <a href="#" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                        </li>
                                        <li class="paginate_button page-item next disabled">
                                            <a href="#" data-dt-idx="2" tabindex="0" class="page-link">
                                                <i class="next"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Card body-->
                </form>
                <!--end::Form-->
                <!--begin::Actions-->
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <a routerLink="/registration-processing/registration-search" class="btn btn-danger btn-sm me-2">
                        <i class="icon-cancel-circle2 fs-4"></i> Cancel
                    </a>
                    <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                </div>
                <!--end::Actions-->
            </div>
            <!--end::Content-->
        </div>
    </div>
    <div class="col-lg-6">
            <app-membership-call-details [callWorkDetails]="callWorkDetails" (callWorkDetailsSavedNotification)="oncallWorkDetailsSavedNotification($event)"></app-membership-call-details>
    </div>
</div>