.alpha_order{
    margin-bottom: 10px;
  }
  
  .alpha_order button{
    margin-right: 5px;
    border: 0px solid #e4614b;
    background: transparent;
    color: #0b96e5;
    font-size: 16px;
    text-decoration: underline;
  }
  
  .order_active{
    background: transparent !important;
    border: 1px solid #ff6950 !important;
    color: #ff6950 !important;
  }
  

  .mat-mdc-table tr th{
    border: 1px solid #fff;
    background-color: #009ef7;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
  }