<div class="card mt-4" style="margin:8px 0px 4px 0px !important">
    <div class="row" style="margin:8px;">
        <div class="col-lg-6">
            <h5>Program:&nbsp; {{selectedProgram}}</h5>
        </div>
        <div class="col-lg-6" style="text-align: right;">
            <h5>Chapter: &nbsp;{{selectedChapter}}</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6"> 
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header d-flex p-2 ps-4 pt-0" style="max-height: 45px !important;">
                <div class="card-title m-0">
                    <h5 class="fw-bold m-0">Membership Call Worklist</h5>
                </div>
                <div class="justify-content-end">
                    <div class="btn btn-sm btn-icon-dark btn-text-dark mt-2">
                       <a href="javascript:void(0)" (click)="refreshList()"> 
                        <i class="ki-duotone ki-arrows-circle text-dark fs-3">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        <span class="mt-4 ms-2 fs-6">Refresh List</span>
                    </a>
                    </div>
                </div>
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div id="kt_account_settings_profile_details" class="collapse show">
                <!--begin::Form-->
                <form id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
                    <!--begin::Card body-->
                    <div class="card-body border-top p-2">
                        <div class="alpha_order" *ngIf="totalRecList?.totalProjectSummary>0">
                            <button class="fs-6" *ngFor="let letter of 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split(''); let i =index;" [ngClass]="activeOrder[i]?'order_active':''" (click)="sortItems(letter, i)">
                              {{letter}}
                            </button>
                          </div>
                        <div class="justify-content-start">
                            <button type="button" class="btn btn-sm btn-default text-white me-3 mb-2" (click)="fetchMemberShipCallWork('yes');" style="background-color:#9BBB59;">
                                Assigned All
                            </button>
                            <button type="button" class="btn btn-sm btn-default text-white me-3 mb-2" (click)="fetchMemberShipCallWork('no');" style="background-color:#984807;">
                                Unassigned All
                            </button>

                            <button type="button" class="btn btn-sm btn-default text-white me-3 mb-2" (click)="exportTable();" style="background-color:#ff6950; float:right;">
                                Excel Export
                            </button>

                        </div>
                        <div class="table-responsive">
                             <!--begin::Card body-->
                            <div class="card-body border-top p-2">
                                <div class="table-container table-responsive">
                                    <table id="ExampleMaterialTable" class="table table-striped table-hover table-row-bordered" mat-table [dataSource]="dataSource" matSort>

                                        <!-- Position Column -->
                                        <ng-container matColumnDef="familyId">
                                            <th valign="middle" class="bold_txt" mat-header-cell *matHeaderCellDef mat-sort-header >Family ID</th>
                                            <td valign="middle" mat-cell *matCellDef="let element; let j=index;"><a href="javascript:void(0);" (click)="showCallDetails(element,j)">{{element.familyId}}</a>
                                                <img *ngIf="element.pledgeLevel" src="assets/images/{{element.pledgeLevel}}.png" style="width:15px;margin-left:16px">
                                            </td>
                                        </ng-container>
                                    
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="firstName">
                                            <th valign="middle" class="bold_txt"  mat-header-cell *matHeaderCellDef  mat-sort-header>First Name</th>
                                            <td valign="middle" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                                        </ng-container>
                                    
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="lastName">
                                            <th valign="middle" class="bold_txt"  mat-header-cell *matHeaderCellDef  mat-sort-header>Last Name</th>
                                            <td valign="middle" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                                        </ng-container>
                                    
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="years">
                                            <th valign="middle" class="bold_txt"  mat-header-cell *matHeaderCellDef  mat-sort-header># of Years</th>
                                            <td valign="middle" mat-cell *matCellDef="let element"> {{element.years}} </td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="assignedTo">
                                            <th valign="middle" class="bold_txt"  mat-header-cell *matHeaderCellDef  mat-sort-header>Assigned to</th>
                                            <td valign="middle" mat-cell *matCellDef="let element"> {{element.assignedTo}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row;  columns: displayedColumns; let j=index"  [ngClass]="{'active_row': row_active[j] == true}" >
                                        </tr>
                                    </table>
                                    <mat-paginator #paginator 
                                    (page)="handlePageEvent($event)" [length]="totalRecFooter?.totalProjectSummary"  [showFirstLastButtons]="paginationConfig.showFirstLastButtons"
                                    [pageSizeOptions]="paginationConfig.pageSizeOptions"></mat-paginator>
                                </div>
                                
                            </div>
                            <!--end::Card body-->
                        
                        </div>
                        
                    </div>
                    <!--end::Card body-->
                </form>
                <!--end::Form-->
                <!--begin::Actions-->
                <!--<div class="card-footer d-flex justify-content-end py-6 px-9">
                    <a routerLink="/registration-processing/registration-search" class="btn btn-danger btn-sm me-2">
                        <i class="icon-cancel-circle2 fs-4"></i> Cancel
                    </a>
                    <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                </div>-->
                <!--end::Actions-->
            </div>
            <!--end::Content-->
        </div>
    </div>
    <div class="col-lg-6" style="position:relative;">
            <app-membership-call-details [callWorkDetails]="callWorkDetails" (callWorkDetailsSavedNotification)="oncallWorkDetailsSavedNotification($event)"></app-membership-call-details>
    </div>
</div>