<div class="card mt-2" style="background:none;border-radius: 0px;">
    <div class="card-header border-0 cursor-pointer ps-0 pe-0 pt-2 pb-2" style="background: #f2f6ff;border-radius: 0px;">
        <div class="card-title">
            <h4 class="fw-semibold">
                Review Family Registration Details
            </h4>
        </div>
    </div>
    <div class="card-toolbar">
        <span class="notification_info" *ngIf="notfyFlag">Record Updated Successfully.</span>
        <div class="d-flex justify-content-end">
            <ul class="nav nav-pills nav-pills-custom pull-right" style="width:100%;">
                <!--begin::Item
                <li class="nav-item mb-1">
                    <div class="nav-link">
                        <span class="nav-text text-gray-800 fw-semibold fs-6">SignUpCode Max Capacity : </span>
                        <span class="nav-text text-primary-800 fw-semibold fs-6">1800</span>
                    </div>
                </li>
                end::Item-->
                
                <!--begin::Item
                <li class="nav-item mb-1">
                    <div class="nav-link">
                        <span class="nav-text text-gray-800 fw-semibold fs-6">Accepted : </span>
                        <span class="nav-text text-primary-800 fw-semibold fs-6">7</span>
                    </div>
                </li>
                end::Item-->
                
                <!--begin::Item-->
                <li class="nav-item mb-1">
                    <!--begin::Link-->
                    <div class="nav-link">
                        <span class="nav-text text-gray-800 fw-semibold fs-6">Total Records : </span>
                        <span class="nav-text text-primary-800 fw-semibold fs-6">{{totalRecCount}}</span>
                        <!--end::Title-->
                    </div>
                    <!--end::Link-->
                </li>
                <!--end::Item-->
            </ul>
        </div>
    </div>
</div>

<div class="card mt-2" style="border-radius:5px;">
    <div class="card-body p-0">
        <div class="table-responsive">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                   
                     <!-- Payment Date Column-->
                     <ng-container matColumnDef="paymentSubmittedDate">
                        <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Payment Date </th>
                        <td class="text-nowrap" mat-cell *matCellDef="let element"> 
                            <a href="javascript:void(0);" (click)="paymentdetails(element)"><img src="./assets/images/payment_history.png" style="width:25px;cursor:pointer;"/></a>&nbsp;{{element.paymentSubmittedDate | date:'MM/dd/yyyy'}} 
                            <br/> <span class="position_time">{{getTimeFormat(element.paymentSubmittedDate)}}</span>
                        </td>
                    </ng-container>

                    <!-- Family ID Column-->
                    <ng-container matColumnDef="familyId">
                        <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Family ID </th>
                        <td class="text-nowrap" mat-cell *matCellDef="let element; let i = index;" mat-raised-button 
                            style="color:blue;cursor:pointer;"> 
                            {{element.familyId}} <span *ngIf="element.waitListedFlag==1" class="waitlist_icon"><img title="Wait Listed" style="width: 25px; position: relative; bottom: 6px;" src="./assets/images/warning icon.png" /></span>
                        </td>
                    </ng-container>

                    <!-- Person ID Column-->
                    <ng-container matColumnDef="personID">
                        <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Person ID </th>
                        <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.personID}} </td>
                    </ng-container>

                    <!-- First Name Column-->
                    <ng-container matColumnDef="firstName">
                        <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                        <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                    </ng-container>

                    <!-- Last Name Column-->
                    <ng-container matColumnDef="lastName">
                        <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                        <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                    </ng-container>

                    <!-- E-mail Column-->
                    <ng-container matColumnDef="emailAddress">
                        <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
                        <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
                    </ng-container>

                    <!-- Session Assignment Column-->
                    <ng-container matColumnDef="sessionDesription">
                        <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Session Assignment </th>
                        <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.sessionDesription}} </td>
                    </ng-container>

                    <!-- Date Created Column-->
                    <ng-container matColumnDef="dateCreated">
                        <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
                        <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.dateCreated | date:'MM/dd/yyyy'}}  <br/> {{getTimeFormat(element.dateCreated)}}</td>
                    </ng-container>

                    

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsComplete; sticky: true;" style="background-color: #CDDDFF;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsComplete;"></tr>

                  </table>

                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                showFirstLastButtons>
                </mat-paginator> -->

            </div>
        </div>
    </div>

    <!--begin::Actions-->
    <div class="card-footer d-flex justify-content-center p-4">
        <div class="row">
            <div class="d-flex">
                <!--begin::Filter menu-->
                <div class="m-0">
                    <a (click)="onBackButtonClick()" href="javascript:void(0);" class="btn btn-primary btn-sm m-1" style="font-size:13px;">
                        <i class="icon-backward fs-6"></i> Back
                    </a>
                            
                    <a href="javascript:void(0);" class="btn btn-primary btn-sm m-1" style="font-size:13px;" (click)="onUpdateCompleteButtonClick()">
                        <i class="icon-rotate-ccw2 fs-6"></i> Update Complete   
                    </a>
                </div>
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Content-->
    </div>

</div>