<div class="card cardcss m-4">
    <div class="card-header float-end p-4 pb-2 pt-2" 
         style="border-bottom: 1px solid var(--bs-card-border-color) !important;background-color: #f9f9f9;">
        <!--begin::Card title-->
        <div class="card-title float-sm-end">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <h3 class="panel-title fw-semibold">
                    <img src="assets/chinmaya_media/images/SVG-color/Add Choice Detailsicon.svg" style="width:25px;"> Add Choice Details
                </h3>
            </div>
            <!--end::Search-->
        </div>
    </div>

    <!--begin::Card body-->
    <div class="card-body p-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <label class="col-form-label fw-semibold">Does this Sign-up Code provide Choices?</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-4">
                            <div class="form-check form-check-sm form-check-custom form-check-solid">
                                <input class="form-check-input" type="checkbox" value="" (change)="onCheckboxChangeAddChoiceDetails($event)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card cardcss mt-3" *ngIf="showContentAddChoiceDetails">
            <!--begin::Card header-->
            <div class="card-header align-items-center px-4" 
                 style="border-bottom: 1px solid #ddd !important;background-color: #f9f9f9;">
                <!--begin::Card title-->
                <div class="card-title">
                    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!--begin::Title-->
                    <h3 class="panel-title fw-semibold fs-4">
                        <img class="img_cls" src="assets/chinmaya_media/images/SVG-color/Choice Details-icon.svg" style="width:25px;"> Choice Details
                    </h3>
                    <!--end::Title-->
                </div>
                </div>
                <!--end::Card title-->

                <!--begin::Card toolbar-->
                <div class="card-toolbar flex-row-fluid justify-content-end">
                    <div class="d-flex align-items-center">
                        <!--begin::Primary button-->
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm me-2">
                            <i class="icon-add"></i> Add
                        </a>
                        <!--end::Primary button-->
                    </div>
                    <div class="card-title float-sm-end">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative">
                            <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            <input type="text" class="form-control form-control-sm w-250px ps-12" placeholder="Type to Filter" />
                        </div>
                        <!--end::Search-->
                    </div>
                </div>
                <!--end::Card toolbar-->
            </div>
            
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body p-0">
                <div class="table-responsive">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSourceChoiceDetails" matSort>
        
                            <!-- User Name Column-->
                            <ng-container matColumnDef="username">
                                <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> User  Name </th>
                                <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.username}} </td>
                            </ng-container>
        
                            <!-- Role Name Column-->
                            <ng-container matColumnDef="rolename">
                                <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Role Name </th>
                                <td class="text-nowrap" mat-cell *matCellDef="let element"> {{element.rolename}} </td>
                            </ng-container>
        
                            <!-- Action Column -->
                            <ng-container matColumnDef="actions">
                                <th class="text-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                <td class="text-nowrap" mat-cell *matCellDef="let element"> 
                                    <button class="btn btn-sm button-default" style="border: 1px solid #EEE8FF;padding: 5px;width:30px;">
                                        <i class="icon-pencil pe-0" style="font-size: 13px !important;color:#5B31E8;">
                                        </i>
                                    </button>
                                    <button class="btn btn-sm button-default ms-2" style="border: 1px solid #FFCDDB;padding: 5px;width:30px;">
                                        <i class="icon-bin pe-0" style="font-size: 13px !important;color:#F30000;">
                                        </i>
                                    </button>
                                </td>
                            </ng-container>
        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsChoiceDetails; sticky: true;" style="background-color: #CDDDFF;"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsChoiceDetails;"></tr>
        
                        </table>
        
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                        showFirstLastButtons>
                        </mat-paginator>
        
                    </div>
                </div>
            </div>
            <!--end::Card body-->
        </div>
    </div>
    <div class="card-footer p-5" style="border-top: 1px solid var(--bs-card-border-color) !important;">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="m-0">
                    <button class="btn btn-primary btn-sm mb-2 me-2" (click)="back()">
                        <i class="icon-backward"></i> Back
                    </button>
                        
                    <button class="btn btn-primary btn-sm mb-2 me-2">
                        <i class="icon-floppy-disk"></i> Save
                    </button>
                    
                    <button class="btn btn-primary btn-sm mb-2" (click)="next()">
                        <i class="icon-floppy-disks"></i> Save &amp; Next
                    </button>                                                                   
                </div>
            </div>
        </div>
    </div>
</div>