<div id="qw2">
    <div class="p-4 bg-white">
        <div style="width:100%;margin:auto;">
            <div class="col-lg-12" style="display:contents;">
                <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 sud mb-4 pe-lg-4 sud">
                    <app-sign-up-code-menu></app-sign-up-code-menu>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="kt_vtab_pane_1" role="tabpanel">
                            <div class="card shadow-sm border border-gray-300" style="border-radius: 5px;">
                                <div class="card-header align-items-center float-end px-4 bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
                                    <!--begin::Card title-->
                                    <div class="card-title float-sm-end">
                                        <!--begin::Search-->
                                        <div class="d-flex align-items-center position-relative my-1">
                                            <h3 class="panel-title fw-semibold">
                                                <img class="img_cls" src="assets/chinmaya_media/images/SVG-color/Add Signup Code Details-icon.svg" style="width:25px;"> Add Signup Code Details
                                            </h3>
                                        </div>
                                        <!--end::Search-->
                                    </div>
                                </div>
                        
                                <!--begin::Card body-->
                                <div class="card-body pt-0 p-5">	
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                            <label class="col-form-label fw-semibold">Organization Code</label>
                                                            <select class="form-select form-select-sm" aria-label="Select example">
                                                                <option value="">- Select -</option>
                                                                <option value="">Chinmaya Mission</option>
                                                                <option value="">Chinmaya Somnath, Chantilly, VA</option>
                                                                <option value="">Chinmayam, Silver Spring, MD</option>
                                                                <option value="">Fredrick Chapter, Fredrick, MD</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                                                        <label class="col-form-label required fw-semibold fs-6">Program Code</label>
                                                        <input type="text" name="" class="form-control form-control-sm" placeholder="Program Code">
                                                    </div>
                                                </div> 
                                                
                                                <div class="row">
                                                    <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                            <label class="col-form-label fw-semibold">Program Description </label>
                                                            <div class="input-group">
                                                                <textarea class="form-control form-control-sm" aria-label="" placeholder="Program Description"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                                                        <label class="col-form-label required fw-semibold fs-6">Signup Code</label>
                                                        <input type="text" name="" class="form-control form-control-sm" placeholder="Signup Code">
                                                    </div>
                                                </div> 
                                                
                                                <div class="row">
                                                    <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                            <label class="col-form-label fw-semibold">Signup Description </label>
                                                            <div class="input-group">
                                                                <textarea class="form-control form-control-sm" aria-label="" placeholder="Description"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                            <label class="col-form-label fw-semibold">Info URL </label>
                                                            <div class="input-group">
                                                                <textarea class="form-control form-control-sm" aria-label="" placeholder="Info URL"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 mt-2 p-6">
                                                <div class="row mb-2">
                                                    <div class="col-lg-12 text-center" style="border:1px solid #ccc;border-radius:10px;">
                                                        <!--begin::Label-->
                                                        <label class="col-form-label fw-semibold fs-6 text-center">Individual Passport Size Photo</label>
                                                        <!--end::Label--> 
                                                        <!--begin::Image input-->
                                                        <div class="text-center mt-4">
                                                            <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('assets/images/littlekrishna.jpg')">
                                                                <!--begin::Preview existing avatar-->
                                                                <div class="image-input-wrapper w-125px h-125px" style="background-image: url('assets/images/littlekrishna.jpg')"></div>
                                                                <!--end::Preview existing avatar-->
                                                                <!--begin::Label-->
                                                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
                                                                    <i class="ki-duotone ki-pencil fs-7">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                    </i>
                                                                    <!--begin::Inputs-->
                                                                    <input type="file" name="avatar" accept=".png, .jpg, .jpeg">
                                                                    <input type="hidden" name="avatar_remove">
                                                                    <!--end::Inputs-->
                                                                </label>
                                                                <!--end::Label-->
                                                                <!--begin::Cancel-->
                                                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                                                                    <i class="ki-duotone ki-cross fs-2">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                    </i>
                                                                </span>
                                                                <!--end::Cancel-->
                                                                <!--begin::Remove-->
                                                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
                                                                    <i class="ki-duotone ki-cross fs-2">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                    </i>
                                                                </span>
                                                                <!--end::Remove-->
                                                            </div>
                                                            <!--end::Image input-->
                                                        </div>
                                                        <!--begin::Hint-->
                                                        <div class="form-text text-nowrap mt-4">
                                                            Image size not be exceed 2 MB<br>Format : JPG/JPEG/PNG
                                                        </div>
                                                        <!--end::Hint--> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <label class="col-form-label fw-semibold required">Starts Time </label>
                                                <input class="form-control form-control-sm flatpickr-input" placeholder="YYYY/MM/DD" id="kt_datepicker_16" type="text" readonly="readonly">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <label class="col-form-label fw-semibold required">Ends Time </label>
                                                <input class="form-control form-control-sm flatpickr-input" placeholder="YYYY/MM/DD" id="kt_datepicker_17" type="text" readonly="readonly">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <label class="col-form-label fw-semibold required">Registration Starts On </label>
                                                <input class="form-control form-control-sm flatpickr-input" placeholder="YYYY/MM/DD" id="kt_datepicker_18" type="text" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <label class="col-form-label fw-semibold required">Registration Ends On </label>
                                                <input class="form-control form-control-sm flatpickr-input" placeholder="YYYY/MM/DD" id="kt_datepicker_19" type="text" readonly="readonly">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <label class="col-form-label fw-semibold required">Registrant Type</label>
                                                <select class="form-select form-select-sm" aria-label="Select example">
                                                    <option value="">- Select -</option>
                                                    <option value="">ADULT</option>
                                                    <option value="">CHILD</option>
                                                    <option value="">BOTH</option>
                                                    <option value="">YOUTH</option>
                                                    <option value="">ALL</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <label class="col-form-label fw-semibold">Mini School Grade</label>
                                                <select class="form-select form-select-sm" aria-label="Select example">
                                                    <option value="">- Select -</option>
                                                    <option value="">Rising 1st Grade</option>
                                                    <option value="">Rising 2nd Grade</option>
                                                    <option value="">Rising 3rd Grade</option>
                                                    <option value="">Rising 4th Grade</option>
                                                    <option value="">Rising 5th Grade</option>
                                                    <option value="">Rising 6th Grade</option>
                                                    <option value="">Rising 7th Grade</option>
                                                    <option value="">Rising 8th Grade</option>
                                                    <option value="">Rising 9th Grade</option>
                                                    <option value="">Rising 10th Grade</option>
                                                    <option value="">Rising 11th Grade</option>
                                                    <option value="">Rising 12th Grade</option>
                                                    <option value="">1st Grade</option>
                                                    <option value="">2nd Grade</option>
                                                    <option value="">3rd Grade</option>
                                                    <option value="">4th Grade</option>
                                                    <option value="">5th Grade</option>
                                                    <option value="">6th Grade</option>
                                                    <option value="">7th Grade</option>
                                                    <option value="">8th Grade</option>
                                                    <option value="">9th Grade</option>
                                                    <option value="">10th Grade</option>
                                                    <option value="">11th Grade</option>
                                                    <option value="">12th Grade</option>
                                                    <option value="">PRE-KG</option>
                                                    <option value="">KG</option>
                                                    <option value="">Rising PRE-KG</option>
                                                    <option value="">Rising KG</option>
                                                    <option value="">Rising Shishu Vihar</option>
                                                    <option value="">Shishu Vihar</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <label class="col-form-label fw-semibold">Max School Grade</label>
                                                <select class="form-select form-select-sm" aria-label="Select example">
                                                    <option value="">- Select -</option>
                                                    <option value="">Rising 1st Grade</option>
                                                    <option value="">Rising 2nd Grade</option>
                                                    <option value="">Rising 3rd Grade</option>
                                                    <option value="">Rising 4th Grade</option>
                                                    <option value="">Rising 5th Grade</option>
                                                    <option value="">Rising 6th Grade</option>
                                                    <option value="">Rising 7th Grade</option>
                                                    <option value="">Rising 8th Grade</option>
                                                    <option value="">Rising 9th Grade</option>
                                                    <option value="">Rising 10th Grade</option>
                                                    <option value="">Rising 11th Grade</option>
                                                    <option value="">Rising 12th Grade</option>
                                                    <option value="">1st Grade</option>
                                                    <option value="">2nd Grade</option>
                                                    <option value="">3rd Grade</option>
                                                    <option value="">4th Grade</option>
                                                    <option value="">5th Grade</option>
                                                    <option value="">6th Grade</option>
                                                    <option value="">7th Grade</option>
                                                    <option value="">8th Grade</option>
                                                    <option value="">9th Grade</option>
                                                    <option value="">10th Grade</option>
                                                    <option value="">11th Grade</option>
                                                    <option value="">12th Grade</option>
                                                    <option value="">PRE-KG</option>
                                                    <option value="">KG</option>
                                                    <option value="">Rising PRE-KG</option>
                                                    <option value="">Rising KG</option>
                                                    <option value="">Rising Shishu Vihar</option>
                                                    <option value="">Shishu Vihar</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <label class="col-form-label required fw-semibold fs-6">Signup Code</label>
                                            <input type="text" name="" class="form-control form-control-sm" placeholder="Signup Code">
                                        </div>
                                        
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold fs-6">Mini Age Without sibling</label>
                                            <input type="text" name="" class="form-control form-control-sm" placeholder="Mini Age Without sibling">
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold fs-6">Min Age with a qualifying sibling</label>
                                            <input type="text" name="" class="form-control form-control-sm" placeholder="Min Age with a qualifying sibling">
                                        </div>
                                        
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <label class="col-form-label fw-semibold required">Location </label>
                                                <div class="input-group">
                                                    <textarea class="form-control form-control-sm" aria-label="" placeholder="Location"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <label class="col-form-label required fw-semibold">Registration Preference</label>
                                                <select class="form-select form-select-sm" aria-label="Select example">
                                                    <option value="">- Select -</option>
                                                    <option value="">Admin</option>
                                                    <option value="">Online</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <label class="col-form-label required fw-semibold">Sign-up Code Category</label>
                                                <select class="form-select form-select-sm" aria-label="Select example">
                                                    <option value="">Select Category</option>
                                                    <option value="">BV Programs</option>
                                                    <option value="">Shloka Classes</option>
                                                    <option value="">Language</option>
                                                    <option value="">Art</option>
                                                    <option value="">Performing Art</option>
                                                    <option value="">Adult Classes</option>
                                                    <option value="">Membership</option>
                                                    <option value="">Parent Volunteer</option>
                                                    <option value="">Youth Volunteer</option>
                                                    <option value="">Summercamp Child Registration</option>
                                                    <option value="">Youth Registration</option>
                                                    <option value="">T-Shirt</option>
                                                    <option value="">Session Selection</option>
                                                    <option value="">YLP</option>
                                                    <option value="">Geetha Chanting Competition</option>
                                                    <option value="">Volunteer Signup</option>
                                                    <option value="">BOOK</option>
                                                    <option value="">CHYK_MEMBERSHIP</option>
                                                    <option value="">OPTIONAL_BOOK</option>
                                                    <option value="">PATASHALA</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <div class="row aaa">
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="width:75%;">
                                                        <label class="col-form-label fw-semibold">Is Walk-In allowed?</label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-4" style="width:25%;">
                                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                            <input class="form-check-input" type="checkbox" value="1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <div class="row aaa">
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="width:75%;">
                                                        <label class="col-form-label fw-semibold">Are multiple registrants within the same category to be applied on the pledge structure?</label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-4" style="width:25%;">
                                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                            <input class="form-check-input" type="checkbox" value="1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <div class="row aaa">
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <label class="col-form-label fw-semibold required">Day</label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-4">
                                                        <select class="form-select form-select-sm">
                                                            <option value="">- Select -</option>
                                                            <option value="">Sunday</option>
                                                            <option value="">Monday</option>
                                                            <option value="">Tuesday</option>
                                                            <option value="">Wednesday</option>
                                                            <option value="">Thursday</option>
                                                            <option value="">Friday</option>
                                                            <option value="">Saturday</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <div class="row aaa">
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="width:75%;">
                                                        <label class="col-form-label fw-semibold">Allowed Quantity</label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-4" style="width:25%;">
                                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                            <input class="form-check-input" type="checkbox" value="1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 mt-2 fv-row fv-plugins-icon-container">
                                            <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                                <div class="row aaa">
                                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                        <label class="col-form-label fw-semibold">Is Walk-In allowed?</label>
                                                    </div>
                                                    <div class="col-lg-3" style="border:1px solid #ccc;border-radius: 5px;padding:10px;display:flex;">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                                <input class="form-check-input me-sm-2" type="checkbox" value="1"> Patram
                                                            </div>
                                                            <br>
                                                            <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                                <input class="form-check-input me-sm-2" type="checkbox" value="1"> Phalam
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                                <input class="form-check-input me-sm-2" type="checkbox" value="1"> Pushpam
                                                            </div>
                                                            <br>
                                                            <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                                <input class="form-check-input me-sm-2" type="checkbox" value="1"> Toyam
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="Note" class="col-lg-12 mt-8" style="display: block;">
                                        <span class="text-danger">
                                            <span class="fw-semibold">Note:</span>
                                        </span>
                                    </div>
                                    
                                    <ul class="mt-5" style="list-style-type:none">
                                        <li>Signupcode Start Date and End Dates should be between following start and end dates.</li>
                                        <li><span class="fw-semibold">Start Date : </span></li>
                                        <li><span class="fw-semibold">End Date : </span></li>
                                    </ul>
                                    
                                    <ul class="mt-5" style="list-style-type:none">
                                        <li>Signupcode Registration Start Date and End Dates should be between following registration start and end dates.</li>
                                        <li><span class="fw-semibold">Registration Start Date : </span></li>
                                        <li><span class="fw-semibold">Registration End Date : </span></li>
                                    </ul>
                                    
                                </div>
                                <div class="card-footer p-5" style="border-top: 1px solid var(--bs-card-border-color) !important;">
                                    <div class="row">
                                        <div class="d-flex justify-content-center">
                                            <div class="m-0">
                                                <a href="#" class="btn btn-primary btn-sm mb-2 me-md-2 fs-6" style="margin-right:5px;">
                                                    <i class="icon-backward fs-4"></i> Back
                                                </a>
                                                
                                                <a href="#" class="btn btn-primary btn-sm mb-2 fs-6">
                                                    <i class="icon-floppy-disks fs-4"></i> Save & Next
                                                </a>                                                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>