<div class="card card-flush cardborder" style="border:1px solid #eee;">
	<div class="card-header align-items-center float-end  px-4 bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
		<div class="card-title float-sm-end">
			<div class="d-flex align-items-center position-relative my-1">
				<h5 class="panel-title">
                    Attendance Roster July 19th, 2024
				</h5>
			</div>
		</div>
	</div>
    <div class="card-body p-4">

        <div class="row d-flex2" style="width: 100%;">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <label class="text-nowrap mb-2">
                    <span class="fw-semibold text-success fs-6">Tapovanam - A1</span>
                </label>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 mb-2">
                <label class="text-nowrap mb-2">
                    <span class="fw-semibold text-success fs-6">P: 10</span>
                </label>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <label class="text-nowrap mb-2">
                    <span class="fw-semibold text-danger fs-6">A: 2</span>
                </label>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <label class="text-nowrap mb-2">
                    <span class="fw-semibold text-danger fs-6">Teacher 1</span>
                </label>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <label class="text-nowrap mb-2">
                    <span class="fw-semibold text-danger fs-6">Teacher 2</span>
                </label>
            </div>
        </div>

        <div class="p-4" style="border:1px solid #ccc;border-radius: 5px;max-height: 300px;overflow-y: scroll;">
            <div class="col-lg-12 mb-2">
                <div class="row">
                    <div class="width mt-1">
                        <span class="fs-6">Child 1</span>
                    </div>
                    <div class="width mt-1">
                        <span class="fs-6">Last Name 1</span>
                    </div>
                    <div class="width">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mb-2">
                <div class="row">
                    <div class="width mt-1">
                        <span class="fs-6">Child 2</span>
                    </div>
                    <div class="width mt-1">
                        <span class="fs-6">Last Name 1</span>
                    </div>
                    <div class="width">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" tabindex="1" checked>
                            <label class="onoffswitch-label" for="myonoffswitch1">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mb-2">
                <div class="row">
                    <div class="width mt-1">
                        <span class="fs-6">Child 3</span>
                    </div>
                    <div class="width mt-1">
                        <span class="fs-6">Last Name 2 (New)</span>
                    </div>
                    <div class="width">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" tabindex="2" checked>
                            <label class="onoffswitch-label" for="myonoffswitch2">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mb-2">
                <div class="row">
                    <div class="width mt-1">
                        <span class="fs-6">Child 4</span>
                    </div>
                    <div class="width mt-1">
                        <span class="fs-6">Last Name 3</span>
                    </div>
                    <div class="width">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" tabindex="3" checked>
                            <label class="onoffswitch-label" for="myonoffswitch3">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mb-2">
                <div class="row">
                    <div class="width mt-1">
                        <span class="fs-6">Child 5</span>
                    </div>
                    <div class="width mt-1">
                        <span class="fs-6">Last Name 4</span>
                    </div>
                    <div class="width">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4" tabindex="4" checked>
                            <label class="onoffswitch-label" for="myonoffswitch4">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mb-2">
                <div class="row">
                    <div class="width mt-1">
                        <span class="fs-6">Child 6</span>
                    </div>
                    <div class="width mt-1">
                        <span class="fs-6">Last Name 5</span>
                    </div>
                    <div class="width">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" tabindex="5" checked>
                            <label class="onoffswitch-label" for="myonoffswitch5">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card-footer p-4 pt-0">
        <div class="justify-content-center d-flex">
            <button type="button" class="btn btn-sm btn-danger me-3"> 
                <i class="icon-cancel-circle2"></i> 
                Cancel 
            </button>
            <button type="button" class="btn btn-sm btn-primary"> 
                <i class="icon-paperplane"></i> 
                Submit 
            </button>
        </div>
    </div>
</div>