<!-- student-attendance.component.html -->
<div class="card card-flush cardborder" style="border:1px solid #eee;">
    <div class="card-header align-items-center float-end px-4 bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
      <div class="card-title float-sm-end">
        <div class="d-flex align-items-center position-relative my-1 center">
          <div class="container date">
            <div class="row center">
              <div class="col-lg-12 ">
                <h5 class="panel-title">
                  Attendance Roster <span class="break">{{ studentList?.currDate }}</span>
                </h5>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="card-body p-4" *ngIf="classcode.length>0 &&  studentlistdetails.length>0">
      <div class="d-flex2" style="width: 100%;">
      <div class="container">
        <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 col-4 mb-6" *ngIf="classcode.length > 1; else singleclass">
          <!-- <div class="col-lg-3"> -->
          <select class="form-select form-select-sm cursor-pointer greencolor" [(ngModel)]="this.selectedClasscode" (change)="onClasschange($event)">
            <option value="">Select</option>
            <option *ngFor="let item of classcode; trackBy: trackByCode" [value]="item.code">{{ item.description }}</option>
          </select>
        </div>
        <div class="col-lg-8 col-md-4 col-sm-4 col-xs-4 col-4 subclass" *ngIf="classcode.length > 1">
          <div *ngIf="studentlistdetails[0]?.subClassAssignment">
  
            <p> <span class="greensubclass">- {{ studentlistdetails[0]?.subClassAssignment}} -{{studentList?.sessionAssognment}}</span> </p>
  
          </div>
        </div>
  
        <!-- for subclass -->
  
  
        <ng-template #singleclass>
          <div class="col-lg-9 col-md-4 col-sm-4 col-xs-4 col-6  mb-4">
            <div class="col-lg-6">
              <span class="greensubclass mrg_top_10">{{ classcode[0]?.description }} -{{ studentlistdetails[0]?.subClassAssignment}} -{{studentList?.sessionAssognment}}</span>
            </div>
          </div>
        </ng-template>
  
  
      <!-- Attendance Summary -->

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 col-6  mb-4">
           
          <div class="row">
              <div class="mr-2 " style="background-color: #f9f9f9; padding: 5px;
            border-radius: 5px;
            text-align: center;
            height: 28px;">
              <label class="text-nowrap mb-2">
                <span class="fw-semibold text-dark fs-6">Total Students: {{studentList.studentCount}}</span>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-6 mb-2 mr-2 " style="background-color: #e9f7ef; padding: 5px;
            border-radius: 5px;
            text-align: center;
            height: 28px;  width:48%; margin-right: 5px;">
              <label class="text-nowrap mb-2">
                <span class="fw-semibold text-success fs-6">P: {{studentHasAttendasuStatus ? present:studentList.studentCount}}</span>
              </label>
            </div>
            <div class="col-6 mb-2 mr-2 " style="background-color: #f8d7da; padding: 5px;
        border-radius: 5px;
        text-align: center;
        height: 28px; margin-left: 5px; width:48%">
              <label class="text-nowrap mb-2">
                <span class="fw-semibold text-danger fs-6">A: {{ absent }}</span>
              </label>
            </div>
        </div>
          
      
           

       </div>
     
      </div>
  
        <div class="row teachers" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
          <label class="text-nowrap mb-2">
            <span class="fw-semibold text-danger fs-6">{{ studentList?.firstname }} {{ studentList?.lastname }}</span>
          </label>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
          <label class="text-nowrap mb-2">
            <span class="fw-semibold text-danger fs-6">{{ studentList2 ? studentList2.firstname + ' ' + studentList2.lastname : ' '}}</span>
          </label>
        </div>
      </div>
    </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">

          <div class="table-responsive">
            <!--begin::Card body-->
           <div class="card-body p-0">
               <div class="table-container table-responsive" style="max-height: 500px;">
                   <table id="ExampleMaterialTable" class="table table-striped mb-0" mat-table [dataSource]="dataSource" matSort>

                   
                       <!-- Name Column -->
                       <ng-container matColumnDef="firstName">
                           <th valign="middle" class="bold_txt"  mat-header-cell *matHeaderCellDef  mat-sort-header>First Name</th>
                           <td valign="middle" mat-cell *matCellDef="let element" style="border-bottom: 1px solid #ddd;"> {{element.firstName}} </td>
                       </ng-container>
                   
                       <!-- Weight Column -->
                       <ng-container matColumnDef="lastName">
                           <th valign="middle" class="bold_txt"  mat-header-cell *matHeaderCellDef  mat-sort-header>Last Name</th>
                           <td valign="middle" mat-cell *matCellDef="let element" style="border-bottom: 1px solid #ddd;"> {{element.lastName}} </td>
                       </ng-container>
                   
                       <!-- Symbol Column -->
                       <ng-container matColumnDef="attendanceStatus">
                           <th valign="middle" class="bold_txt"  mat-header-cell *matHeaderCellDef  mat-sort-header>Status</th>
                           <td valign="middle" mat-cell *matCellDef="let element; let i=index"  style="border-bottom: 1px solid #ddd;"> 
                            <div class="onoffswitch">
                              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{ i }}" tabindex="{{ i }}" checked (change)="toggleAttendance($event, i)">
                              <label class="onoffswitch-label" for="myonoffswitch{{ i }}">
                                  <span *ngIf="(studentCheck[i].attendanceStatus=='A')" class="onoffswitch-inner onoffswitch-inner-absent"></span>
                                  <span *ngIf="(studentCheck[i].attendanceStatus=='P')" class="onoffswitch-inner onoffswitch-inner-pass"></span>
                              </label>
                          </div>
                           </td>
                       </ng-container>
                   
                       <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                       <tr mat-row *matRowDef="let row;  columns: displayedColumns; let j=index">
                       </tr>
                   </table>

                  

               </div>
               <!-- <mat-paginator #paginator 
               [length]="totalRecFooter?.totalProjectSummary" [showFirstLastButtons]="paginationConfig.showFirstLastButtons"
               [pageSizeOptions]="paginationConfig.pageSizeOptions">
           </mat-paginator> -->
               
           </div>
           <!--end::Card body-->
       
       </div>
  
      <!-- Student List -->
      <!-- <div class="p-4" style="border:1px solid #ccc; border-radius: 5px; max-height: 300px; overflow-y: scroll; padding-top: 0px !important;" *ngIf="studentlistdetails.length > 0">
        <div *ngFor="let item of studentlistdetails; let i = index" [attr.data-index]="i">
          <div class="row" [ngClass]="(i%2==0)?'even_row':'odd_row'">
            <div class="width mt-1">
              <span class="fs-6">{{ item.firstName }}</span>
            </div>
            <div class="width mt-1">
              <span class="fs-6">{{ item.lastName }}</span>
            </div>
            <div class="width">
              <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{ i }}" tabindex="{{ i }}" checked (change)="toggleAttendance($event, i)">
                  <label class="onoffswitch-label" for="myonoffswitch{{ i }}">
                      <span *ngIf="(studentCheck[i].attendanceStatus=='A')" class="onoffswitch-inner onoffswitch-inner-absent"></span>
                      <span *ngIf="(studentCheck[i].attendanceStatus=='P')" class="onoffswitch-inner onoffswitch-inner-pass"></span>
                  </label>
              </div>
          </div>
          </div>
        </div>
      </div> -->
  
    </div>
  </div>
  </div>
      <!-- Submit and Cancel Buttons -->
      <div class="card-footer p-4 pb-0">
        <div class="justify-content-center d-flex">
          <!-- <button type="button" class="btn btn-sm btn-danger me-3" (click)="Cancel()">
            <i class="icon-cancel-circle2"></i> Cancel
          </button> -->
          <button type="button" class="btn btn-sm btn-primary" (click)="SubmitAttendance()">
            <i class="icon-paperplane"></i> Submit
          </button>
        </div>
      </div>
    </div>

     <div *ngIf="classcode.length==0 &&  studentlistdetails.length==0">
        <p class="no_Rec_cls">No Records Found In Student Attendance.</p>
     </div>

  </div>
  