<div class="card card-flush cardborder mt-6">
	<div class="card-header align-items-center float-end  px-4 bg-white"
		style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
		<!--begin::Card title-->
		<div class="card-title float-sm-end">
			<!--begin::Search-->
			<div class="d-flex align-items-center position-relative my-1">
				<h3 class="panel-title">
					<img class="me-3"
						 src="assets/chinmaya_media/images/SVG-color/Family Member Registration Details-icon.svg"
						 style="width: 25px;">
					Family Member List
				</h3>
			</div>
			<!--end::Search-->
		</div>
		<div class="card-title float-sm-end">
			<!--begin::Search-->
			<app-search-families (familyList)="showFamilyList($event)"></app-search-families>
			<!--end::Search-->
		</div>
		<!--end::Card title-->
	</div>

	<!--begin::Card body-->
	<div class="card-body p-0">
		<div class="table-container">
			<table mat-table [dataSource]="dataSource"  matSort class="mat-table" >
				<ng-container *ngFor="let columnName of displayColumns; let i = index" matColumnDef="{{columnName}}" >
					<th mat-header-cell *matHeaderCellDef  mat-sort-header > {{ columnName }} </th>
					<td mat-cell *matCellDef="let element">
						<!-- Check if the current column is 'familyID' -->
						<ng-container *ngIf="columnName === 'familyId'; else regularCell">
						  <!-- Provide hyperlink for the 'familyID' column -->
						  <a (click)="showFamilyMemberList(element)" style="cursor: pointer;">{{ element[columnName] }}</a>
						</ng-container>
						<!-- Regular cell content -->
						<ng-template #regularCell>{{ element[columnName] }}</ng-template>
					  </td>
				</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true;background:lightgray"></tr>
					<tr mat-row *matRowDef="let row; columns: displayColumns;" ></tr>
			</table>  
		</div>
	</div>
	<!--end::Card body-->
</div>