<!--begin::Menu wrapper-->
<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper my-5" data-kt-scroll="true"
  data-kt-scroll-activate="true" data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <!--begin::Menu-->
  <div class="menu menu-column menu-rounded menu-sub-indention" id="#kt_app_sidebar_menu" data-kt-menu="true"
    data-kt-menu-expand="false">

    <!-- Dashboard -->
    <div class="menu-item" routerLinkActive="here show">
      <select class="form-select form-select-sm ms-4" style="width:90%;" [(ngModel)]="academicYearCode" (change)="onAcademicYerChange($event)">
        <option>Select Acadamic Year</option>
        <option *ngFor = "let year of academicYear" [value]="year.description">{{year.description}}</option>
    </select>
    </div>

    <div class="menu-item mt-1" routerLinkActive="here show">
      <select class="form-select form-select-sm ms-4" style="width:90%;" [(ngModel)]="chapterCode" (change)="onChapterChange($event)">
        <option>Select Chapter</option>
        <option *ngFor="let chapter of chapterList" [value]="chapter.code">{{chapter.description}}</option>
       
    </select>
    </div>

    <!--<div class="menu-item mt-2" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLink="/dashboard" >
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/01-dashboard-icon.svg" style="width:18px;">
        </span>
        <span class="menu-title fs-6 fw-semibold" translate="MENU.DASHBOARD"></span>
      </a>
    </div>-->

    <div class="menu-item mrg-top-15" routerLink="/family" routerLinkActive="here show">
      <a class="menu-link without-sub" >
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/Family.svg" style="width:16px;">
        </span>
        <span class="menu-title fs-6 fw-semibold">Family</span>
      </a>
    </div>


    <div class="menu-item menu-accordion " data-kt-menu-trigger="click" >
      <span class="menu-link">
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/Registration Processing-icon.svg" style="width:18px;">
        </span>
        <span class="menu-title fs-6 fw-semibold" (click)="resetActiveMenu('registration-processing');">Registration Processing
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion">
        <div class="menu-item" *ngFor="let program of programs; index as k">
          <a [ngClass]="(subMenuActiveFlag!=undefined && subMenuActiveFlag[k])?'active':''" class="menu-link without-sub" (click)="onProgramSelection(program,'/registration-processing', k)">
            <span class="menu-bullet">
              <img class="img_cls" src="assets/chinmaya_media/images/SVG/14-create program-icon.svg">
            </span>
            <span class="menu-title fs-6 fw-semibold">{{program.description}}</span>
          </a>
        </div>
      </div>
    </div>

    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/13-configuration-icon.svg" style="width:18px;">
        </span>
        <span class="menu-title fs-6 fw-semibold"  >Registration Review
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion">
        <div class="menu-item" routerLinkActive="here">
          <a class="menu-link without-sub"  routerLink="/status-update">
            <span class="menu-bullet">
              <img class="img_cls" src="assets/chinmaya_media/images/SVG/14-create program-icon.svg">
            </span>
            <span class="menu-title fs-6 fw-semibold">Status/Session Update</span>
          </a>
        </div>
      </div>
      <div class="menu-sub menu-sub-accordion">
        <div class="menu-item" routerLinkActive="here">
          <a class="menu-link without-sub"  routerLink="/sub-class-assignment">
            <span class="menu-bullet">
              <img class="img_cls" src="assets/chinmaya_media/images/SVG/14-create program-icon.svg">
            </span>
            <span class="menu-title fs-6 fw-semibold">Sub-Class Assignment</span>
          </a>
        </div>
      </div>
    </div>
    
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" >
      <span class="menu-link">
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/Registration Processing-icon.svg" style="width:18px;">
        </span>
        <span class="menu-title fs-6 fw-semibold" (click)="resetActiveMenu('email-processing');" >Email Processing
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion">
        <div class="menu-item" *ngFor="let program of programs; index as k">
          <a [ngClass]="(subMenuActiveFlag!=undefined && subMenuActiveFlag[k])?'active':''" class="menu-link without-sub" (click)="onProgramSelection(program,'/email-processing', k)">
            <span class="menu-bullet">
              <img class="img_cls" src="assets/chinmaya_media/images/SVG/14-create program-icon.svg">
            </span>
            <span class="menu-title fs-6 fw-semibold">{{program.description}}</span>
          </a>
        </div>
      </div>
    </div>

   <!--<div class="menu-item" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLink="/payment-adjustment" >
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/adjustments-icon.svg" style="width:20px;">
        </span>
        <span class="menu-title fs-6 fw-semibold">Adjustments</span>
      </a>
    </div>-->

    <!--<div class="menu-item" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLink="/payment-schedule-and-history" >
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/payment scedule and history icon.svg" style="width:20px;">
        </span>
        <span class="menu-title fs-6 fw-semibold">Payment Schedule and History</span>
      </a>
    </div>-->

    <div class="menu-item" routerLink="/membership-call-worklist" routerLinkActive="here show">
      <a class="menu-link without-sub">
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/Family.svg" style="width:16px;">
        </span>
        <span class="menu-title fs-6 fw-semibold">MemberShip Call Worklist</span>
      </a>
    </div>

    <!--<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/13-configuration-icon.svg" style="width:18px;">
        </span>
        <span class="menu-title fs-6 fw-semibold" data-link="/config">Configuration
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion">
        <div class="menu-item" routerLinkActive="here">
          <a class="menu-link without-sub"  routerLink="/config">
            <span class="menu-bullet">
              <img class="img_cls" src="assets/chinmaya_media/images/SVG/14-create program-icon.svg">
            </span>
            <span class="menu-title fs-6 fw-semibold">Program</span>
          </a>
        </div>
      </div>
    </div>-->

    <div class="menu-item menu-accordion" data-kt-menu-trigger="click">
      <span class="menu-link">
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/unlock account-icon.svg" style="width:20px;">
        </span>
        <span class="menu-title fs-6 fw-semibold"  (click)="resetActiveMenu('programregistration/registration');">Program Registration</span>
        <span class="menu-arrow"></span>
      </span>

      <div class="menu-sub menu-sub-accordion">
        <div class="menu-item" routerLinkActive="here">
          <a class="menu-link without-sub"  routerLink="/programregistration/search-family">
            <span class="menu-bullet">
              <img class="img_cls" src="assets/chinmaya_media/images/SVG/14-create program-icon.svg">
            </span>
            <span class="menu-title fs-6 fw-semibold">Search Family</span>
          </a>
        </div>
      </div>
    </div>
    
      <!--<div class="menu-sub menu-sub-accordion">
        <div class="menu-item" *ngFor="let program of programs">
          <a class="menu-link without-sub" (click)="onProgramSelection(program,'/programregistration/registration')">
            <span class="menu-bullet">
              <img class="img_cls" src="assets/chinmaya_media/images/SVG/14-create program-icon.svg">
            </span>
            <span class="menu-title fs-6 fw-semibold">{{program.description}}</span>
          </a>
        </div>
      </div>
    </div>-->
    
    <!--<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/04-registration-icon.svg" style="width:20px;">
        </span>
        <span class="menu-title fs-6 fw-semibold" data-link="/search-family-view">Registration
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion">
        <div class="menu-item" routerLinkActive="here">
          <a class="menu-link without-sub" routerLink="/search-family-view">
            <span class="menu-bullet">
              <img class="img_cls" src="assets/chinmaya_media/images/SVG/05-search family view-icon.svg">
            </span>
            <span class="menu-title fs-6 fw-semibold">Search Family View</span>
          </a>
        </div>
      </div>
    </div>-->


    <div class="menu-item" routerLink="/unlock-account" routerLinkActive="here show">
      <a class="menu-link without-sub" >
        <span class="menu-icon">
          <img class="img_cls" src="assets/chinmaya_media/images/SVG/unlock account-icon.svg" style="width:20px;">
        </span>
        <span class="menu-title fs-6 fw-semibold">Unlock Account</span>
      </a>
    </div>

   
<div style="height: 50px;"></div>
  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->