<div class="sidebar">
  <div class="header">
<img src="bitcoin.svg" alt="bit coin image" width="200px" height="30px">
    <div class="toggle" >
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content">
    <div class="link">
      <div class="content" >
        Home

      </div>
    </div>
    <div class="link">
      <div class="content" >
        Configuration
      </div>

        <div class="link">
          <div class="content" routerLink="child1">
            child 1

          </div>
        </div>
        <div class="link">
          <div class="content" routerLink="child2">
            child 2

          </div>
        </div>
        <div class="link">
          <div class="content" routerLink="child3">
            child 3

          </div>
        </div>
        <div class="link">
          <div class="content"  routerLink="content">
            content
          </div>
        </div>
        <div class="link">
          <div class="content" routerLink="about">
            About 
          </div>
        </div>
     
          <div class="link">
            <div class="content"  routerLink="contactus">
            Contact us
          </div>
          </div>
       
    </div>
    <div class="link">
      <div class="content">
        Bookings
      </div>
    </div>
  </div>
  <div class="footer">

  </div>
</div>
