.btn-primary1 {
    background-color: #F46C00 !important;
    color:#fff !important;
  }
  
  .ki-abstract-10 .path1::before {
    content: "\e911";
    opacity: 1 !important;
  }
  
  .modal-header {
    background-color: #fdfdfd;;
  }

  .cardborder {
    border: 1px solid var(--bs-border-dashed-color);
    border-radius: 5px;
  }