<div class="modal-header p-4" id="kt_activities_header">
	<h3 class="card-title fw-semibold text-dark text-center">
        <img src="assets/chinmaya_media/images/SVG-color/Email-icon.svg" style="width: 25px;"> Email
    </h3>
	<div class="card-toolbar">
	    <button type="button" class="btn btn-sm btn-icon btn-active-light-primary" (click)="closeModal()"> 
		    <i class="ki-duotone ki-cross fs-1 text-dark">
			    <span class="path1"></span>
			    <span class="path2"></span>
			</i>
	    </button>
	</div>
</div>
  
<div class="modal-body p-6 pt-2 pb-4">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                        <label class="col-form-label fw-semibold fs-6">Registration Status</label>
                        <input type="text" name="" class="form-control form-control-sm" placeholder="Registration Status">
                    </div>
                    <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                        <label class="col-form-label fw-semibold fs-6">Payment Status</label>
                        <input type="text" name="" class="form-control form-control-sm" placeholder="Payment Status">
                    </div>
                </div> 
                                    
                <div class="row">
                    <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-semibold fs-6">Email Communication Code</label>
                        <input type="text" name="" class="form-control form-control-sm" placeholder="Email Communication Code">
                    </div>
                    <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-semibold fs-6">Subject</label>
                        <input type="text" name="" class="form-control form-control-sm" placeholder="Subject">
                    </div>
                </div> 
                                        
                <div class="row">
                    <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-semibold fs-6">Sender Email</label>
                        <input type="text" name="" class="form-control form-control-sm" placeholder="Sender Email">
                    </div>
                </div> 
                
                <div class="row">
                    <div class="col-lg-12 mt-2 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-semibold fs-6">Body</label>
                    </div>
                </div> 
                                    
            </div>
            <div class="col-lg-4 mt-6">
                <div class="card card-flush cardborder">
                    <!--begin::Card header-->
                    <div class="card-header align-items-center float-end" style="border-bottom: 1px solid var(--bs-card-border-color) !important;background-color:#fbfbfb;">
                        <!--begin::Card title-->
                        <div class="card-title float-sm-end">
                            <!--begin::Search-->
                            <div class="d-flex align-items-center position-relative my-1">
                                <h3 class="panel-title fs-6 fw-semibold mt-2">
                                    <img class="me-3" src="assets/chinmaya_media/images/Images1/task-icon.png" style="width: 25px;">Supported Placeholders
                                </h3>
                            </div>
                            <!--end::Search-->
                        </div>
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body" style="min-height: 50px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
<div class="modal-footer text-center p-4" style="display:block;">
    <button class="btn btn-primary btn-sm">
        <i class="icon-add"></i> Add
    </button>

    <button class="btn btn-danger btn-sm ms-2" (click)="closeModal()">
        <i class="icon-bin"></i> Cancel
    </button>
</div>