<div class="card card-flush cardborder">
	<!--begin::Card header-->
	<div class="card-header align-items-center px-4" style="border-bottom: 1px solid #ddd !important;">
		<!--begin::Card title-->
		<div class="card-title">
			<div class="d-flex align-items-center position-relative my-1">
				<button type="button" class="btn btn-primary btn-xs mb-5" routerLink="/family/familyList">
					<i class="bi bi-arrow-left" style="font-size:16px"></i>
				</button>

				<h3 class="panel-title">
					<img class="me-3"
						src="assets/chinmaya_media/images/SVG-color/Family Member Registration Details-icon.svg"
						style="width: 25px;">Family Member Details
				</h3>
			</div>
		</div>
		<!--end::Card title-->
		<!--begin::Card toolbar-->
		<div class="card-toolbar">
			<div class="d-flex align-items-center gap-2 gap-lg-3">
				<!--begin::Primary button-->
				<a href="#" routerLink="/family/familyMemberDetails"
					class="btn btn-sm fw-semibold btn-primary nav-link fs-6" style="margin-right:5px;">
					<i class="icon-user fs-4"></i>
					<span class="fs-6">Add Family Member</span>
				</a>
				<!--end::Primary button-->
			</div>

			<!--begin::Search-->
			<!-- <div class="d-flex align-items-center position-relative my-1">
				<i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
					<span class="path1"></span>
					<span class="path2"></span>
				</i>
				<input type="text" data-kt-user-table-filter="search"
					class="form-control form-control-solid w-250px ps-13" placeholder="Search user" />
			</div> -->
			<!--end::Search-->
		</div>
		<!--end::Card toolbar-->
	</div>
	<!--end::Card header-->
	<!--begin::Card body-->
	<div class="card-body p-4">
		<!--begin::Table-->
		<div class="table-responsive">
			<table class="table align-middle table-row-dashed fs-6 gy-3">
				<thead>
					<tr class="text-start fw-bold fs-7 text-uppercase gs-0">
						<th class="text-center min-w-100px text-nowrap">Person ID</th>
						<th class="text-center min-w-100px text-nowrap">Family ID</th>
						<th class="text-center min-w-100px text-nowrap">First Name</th>
						<th class="text-center min-w-100px text-nowrap">Middle Name</th>
						<th class="text-center min-w-100px text-nowrap">Last Name</th>
						<th class="text-center min-w-100px text-nowrap">Gender</th>
						<th class="text-center min-w-100px text-nowrap">DOB</th>
						<th class="text-center min-w-100px text-nowrap">Registration Type</th>
						<th class="text-center min-w-100px text-nowrap">Home Phone</th>
						<th class="text-center min-w-100px text-nowrap">Email Address</th>
						<th class="text-center min-w-100px text-nowrap">Mobile Address</th>
						<th class="text-center min-w-100px text-nowrap">Primary Contact</th>
						<th class="text-center min-w-100px text-nowrap">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let member of allFamilyMembers">
						<td class="text-start text-nowrap" (click)="showFamilyMemberDetails(member)">
							{{member.personID}}
						</td>
						<td class="text-start text-nowrap" (click)="showFamilyMemberDetails(member)">
							{{member.familyId}}
						</td>
						<td class="text-start text-nowrap">
							{{member.firstName}}
						</td>
						<td class="text-start text-nowrap">
							{{member.middleName}}
						</td>
						<td class="text-start text-nowrap">
							{{member.lastName}}
						</td>
						<td class="text-start text-nowrap">
							{{member.gender}}
						</td>
						<td class="text-start text-nowrap">
							{{member.dateOfBirth}}
						</td>
						<td class="text-start text-nowrap">
							{{member.personType}}
						</td>
						<td class="text-start text-nowrap">
							{{member.homePhone}}
						</td>
						<td class="text-start text-nowrap">
							{{member.emailAddress}}
						</td>
						<td class="text-start text-nowrap">
							NA
						</td>
						<td class="text-start text-nowrap">
							NA
						</td>
						<td class="text-start text-nowrap">
							Yes
						</td>
					</tr>

				</tbody>
			</table>
			<!--end::Table-->
		</div>
		<div class="row">
			<div
				class="col-sm-12 col-md-5 py-lg-4 d-flex align-items-center justify-content-center justify-content-md-start">
				<div class="dataTables_length">
					<label>
						<select class="form-select form-select-sm form-select-solid">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</label>
				</div>
			</div>
			<div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
				<div class="paging_simple_numbers">
					<ul class="pagination">
						<li class="paginate_button page-item previous disabled">
							<a href="#" data-dt-idx="0" tabindex="0" class="page-link">
								<i class="previous"></i>
							</a>
						</li>
						<li class="paginate_button page-item active">
							<a href="#" data-dt-idx="1" tabindex="0" class="page-link">1</a>
						</li>
						<li class="paginate_button page-item next disabled">
							<a href="#" data-dt-idx="2" tabindex="0" class="page-link">
								<i class="next"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--end::Card body-->
</div>