<div class="card shadow-sm mb-5">
    <div class="card-header">
        <h3 class="card-title">Review</h3>         
    </div>
    <div class="card-body">
         
        <div class="panel panel-flat">           
            <div class="panel-body" style="border: 1px solid #eee; border-radius: 4px; padding: 10px;">
                

        <div  class="col-lg-12">
            <fieldset  class="no-margin-bottom">
                <legend  class="fw-semibold" style="font-size: 12px; line-height: 21px;">Selected Session Preference:</legend>
                <hr  class="hr_mrg_0">
                <ul  style="padding-left: 5px !important;">
                    <label  class="mb-4 mrg_top_10">
                        <b  style="font-weight: 600 !important; font-size: 12px; color: #161616;">Adult Class &amp; Bala Vihar Session Preference for Mk Kk</b></label>
                        <li  style="list-style-type: none; color: #7d7d7d;">Session Choice 1: Sunday 1 (9:15-10:50 AM)</li>
                        <li  style="list-style-type: none; color: #7d7d7d;">Session Choice 2: Friday (06:45-08:20 PM)</li>
                        <li  style="list-style-type: none; color: #7d7d7d;">Session Choice 3: Sunday 2 (12:15-1:50 PM)</li>
                    </ul></fieldset>
                </div>
            </div>           
        </div> 



<div  class="panel panel-white mb-8 mt-4">
    <div  class="review_desktop_view">
        <div  class="panel-heading"><h5  class="panel-title">Sign-Up Code Details</h5> </div>
         <div  class="panel-body" style="border: 1px solid #eee; border-radius: 5px;">
            <div  class="table-responsive">
                <table  class="table table-striped table-bordered table-xxs table-hover mb-0">
                    <thead  class="bg-gray-200">
                        <tr >
                            <th  style="white-space: nowrap; font-weight: 600;">Person Name</th>
                            <th  style="white-space: nowrap; font-weight: 600;"> Sign-Up Code </th>
                            <th  style="white-space: nowrap; font-weight: 600;">School Grade</th>
                            <th  style="white-space: nowrap; font-weight: 600;">Class</th>
                            <th  style="white-space: nowrap; font-weight: 600;">Registration Status</th>
                            <th  style="text-align: right; white-space: nowrap; font-weight: 600;">Amount</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr >
                            <td ><span  data-popup="tooltip" title="" class="text_cap">Mk Kk</span></td>
                            <td ><div  data-popup="tooltip" class="txtover" title="2024-25 Family Annual Pledge"> 2024-25 Family Annual Pledge </div></td>
                            <td ><span  data-popup="tooltip" title="null">NA</span></td>
                            <td ><span  data-popup="tooltip" title="ANNUALPLEDGE">NA</span></td>
                            <td >PENDING</td><td ><span  data-popup="tooltip" class="pull-right text-semibold" title="1000">$1,000.00</span></td>
                        </tr>
                        <tr >
                            <td ><span  data-popup="tooltip" title="" class="text_cap">Son Kk</span></td>
                            <td ><div  data-popup="tooltip" class="txtover" title="Bala Vihar Class"> Bala Vihar Class </div></td>
                            <td ><span  data-popup="tooltip" title="25">5th Grade</span></td>
                            <td ><span  data-popup="tooltip" title="2024-25_BALA_VIHAR_CLASS">SUNDARAM</span></td>
                            <td >PENDING</td><td ><span  data-popup="tooltip" class="pull-right text-semibold" title="0">INCLUDED</span></td>
                        </tr>
                        <tr >
                            <td ><span  data-popup="tooltip" title="" class="text_cap">Son2 Kk</span></td>
                            <td ><div  data-popup="tooltip" class="txtover" title="Bala Vihar Class"> Bala Vihar Class </div></td>
                            <td ><span  data-popup="tooltip" title="25">5th Grade</span></td>
                            <td ><span  data-popup="tooltip" title="2024-25_BALA_VIHAR_CLASS">SUNDARAM</span></td>
                            <td >PENDING</td><td ><span  data-popup="tooltip" class="pull-right text-semibold" title="0">INCLUDED</span></td>
                        </tr>
                        <tr >
                            <td ><span  data-popup="tooltip" title="" class="text_cap">Son3 Kk</span></td>
                            <td ><div  data-popup="tooltip" class="txtover" title="Bala Vihar Class"> Bala Vihar Class </div></td>
                            <td ><span  data-popup="tooltip" title="26">6th Grade</span></td>
                            <td ><span  data-popup="tooltip" title="2024-25_BALA_VIHAR_CLASS">SUNDARAM</span></td>
                            <td >PENDING</td><td ><span  data-popup="tooltip" class="pull-right text-semibold" title="0">INCLUDED</span></td>
                        </tr>
                        <tr >
                            <td ><span  data-popup="tooltip" title="" class="text_cap">Son4 Kk</span></td>
                            <td ><div  data-popup="tooltip" class="txtover" title="Bala Vihar Class"> Bala Vihar Class </div></td>
                            <td ><span  data-popup="tooltip" title="25">5th Grade</span></td>
                            <td ><span  data-popup="tooltip" title="2024-25_BALA_VIHAR_CLASS">SUNDARAM</span></td>
                            <td >PENDING</td>
                            <td ><span  data-popup="tooltip" class="pull-right text-semibold" title="0">INCLUDED</span></td>
                        </tr>
                        <tr >
                            <td  colspan="5" align="right" style="padding-right: 65px;"><label  class="text-semibold" style="font-weight: 500;">Total Amount</label></td>
                            <td  colspan="2"><span  class="pull-right text-semibold" style="font-weight: 500;">$1,000.00</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 


<div  align="right" class="col-md-12 mt-10">
    <a  routerlink="/program-registration" type="button" data-kt-stepper-action="back" class="btn btn-sm btn-light border border-primary border-active active text-primary backbtn1 mr-10" ng-reflect-router-link="/program-registration" href="/program-registration"> Back </a>
    <button  type="button" data-kt-stepper-action="next" class="btn btn-primary btn-sm" disabled=""> Save &amp; Next </button></div>




    </div>
    
</div>