.image {
    width:135px;
    border:1px solid #eee;
    border-radius:5px;
    padding:5px;
  }

  #file{
    display:none;
  }

  .cardcss {
    border:1px solid #eee;
    border-radius:5px !important;
  }