.cardcss {
    border: 1px solid #eee;
    border-radius: 5px;
}

@media (max-width:992px) {
    .d-flex1 {
        display: block !important;
    }
}

.table thead {
    position: sticky !important;
    top: 0px !important;
}