.form-check-input {
    width: 1.3rem !important;
    height: 1.3rem !important;
    top: -1px !important;
    vertical-align: middle !important;
    border-radius: 3px !important;
    border: 1px solid #a8a8a8 !important;
  }

  .table > thead {
    vertical-align: bottom !important;
    position: sticky !important;
    top: 0px !important;
  }

  .templatePopup_wrap{
    width: 100%;
  }

  .overlay_template{
    width:100%;
    background:rgba(0,0,0,0.4);
    position: fixed;
    left:0;
    top:0;
    height:100%;
    z-index: 999;
  }

  .template_popup_window{
    background-color: #fff;
    width:99%;
    border-radius: 4px;
    z-index: 9999;
    position: absolute;
    top: 20%;
    margin: 0 auto;
    left: 0.5%;
    padding: 12px 11px;
  }

  .close_icon{
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 14px;
    color: #000;
  }
  .heading td{
    font-weight: bold !important;
  }

  .item {
    background:rgb(255, 255, 255) !important;
  }

  ::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-color: #ff6950 !important;
    background-color: #ff6950 !important;
}

::ng-deep .bold_txt{
  font-weight: bold !important;
}

.alpha_order{
  margin-right: 25px;
  margin-top: 7px;
}

.alpha_order button{
  margin-right: 5px;
  border: 1px solid #e4614b;
  background: #ff6950;
  color: #fff;
}

.order_active{
  background: #009ef7 !important;
  border: 1px solid #4aa8de !important;
}