
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
      <div class="row">
      <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2" >
        <app-sidebar/>

      </div>
      <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10">
     <div class="row">
      <div class="col-lg-12 ">
       <app-header></app-header>
        <hr>
      </div>
     </div>
     <!-- IDHI ARDAM CHESUKONI   layout explain chei bro life time settlemenmt -->
     <div class="row">
      <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 p-15 ml-5">
        <router-outlet></router-outlet>
        <hr>
      </div>
     </div>
     <div class="row">
      <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12" >
        <app-footer/>
      </div>
     </div>
      </div>
    </div>
    </div>
  </div>
</div>
