<div class="row mt-8">
    <div class="col-lg-12">
        <h3 class="table-title">Program  Details</h3> <!-- Table Title -->
    </div>
    <div class="col-lg-12 mt-2">
        <div *ngFor="let program of programDetailsResponseList">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>{{ program.programCode }} - {{ program.description }}</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>
          
                <table class="custom-table">
                  <thead>
                    <tr>
                      <th>Person ID</th>
                      <th>Name</th>
                      <th>Signup Code </th>
                      <th>Class Assignment</th>
                      <th>Sub Class Assignment</th>
                      <th>Session Assignment</th>
                      <th>Payment Status</th>
                      <th>Registration Status</th>
                      <th>Created Date</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detail of program.responseProgramDetailsList">
                      <td>{{ detail.personID }}</td>
                     
                      <td>{{ detail.firstName }}&nbsp;{{ detail.lastName }}</td>
                      <td>{{ detail.signupCodeDescription }}</td>
                      <td>{{ detail.classAssignment || 'N/A' }}</td>
                      <td>{{ detail.subClassAssignment || 'N/A' }}</td>
                      <td>{{ detail.sessionAssignmentDescription || 'N/A' }}</td>
                      <td>{{ detail.paymentStatus }}</td>
                      <td>{{ detail.registrationStatus }}</td>
                      <td>{{ detail.createdDate | date:'MM/dd/yyyy' }}</td>
                      <td>{{ detail.amount | currency:'USD' }}</td>
                    </tr>
                  </tbody>
                </table>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          
          
          
    </div>
</div>
