<div class="flex-column col-lg-12" data-kt-stepper-element="content">
    <div class="col-lg-12 d-flex dflex">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 p-2 mb-4">
            <span class="fw-semibold" style="font-size:16px;">
                Payment Details :
            </span>
            <div class="col-lg-12 mt-2" style="border:1px solid #ccc;border-radius:5px;">
                <div class="table-responsive">
                    <table class="table table-hover mb-0 pb-0">
                        <thead style="border-bottom: 1px solid #ccc;">
                            <tr>
                                <th class="fw-semibold tablepad fs-6">Registration</th>
                                <th class="fw-semibold tablepad fs-6" style="text-align: right;"> Amount</th>
                            </tr>
                        </thead>
                        <tbody> 
                            <tr class="px-sm-4" *ngFor="let payList of disctingRec(paymentListDetailsList?.userProgramList, 'signUpCodeDescription'); index as i">
                                <td class="tablepad" *ngIf="(payList.classes=='ANNUALPLEDGE')" style="color:#7d7d7d !important;padding:6px 10px !important;">
                                    <div data-popup="tooltip" title=""
                                        >
                                        {{payList.signUpCodeDescription}}
                                    </div>
                                </td>
                                <td class="tablepad" *ngIf="(payList.classes=='ANNUALPLEDGE' && annualPledgeFlag == false)" style="padding:6px 10px !important;">
                                    <span data-popup="tooltip" [title]="payList.displayamount"
                                        class="pull-right">${{payList.displayamount | number:'1.2-2'}}</span>
                                </td>
                                <td class="tablepad" *ngIf="(payList.classes=='ANNUALPLEDGE' && annualPledgeFlag == true)" style="padding:6px 10px !important;">
                                    <span data-popup="tooltip" [title]="payList.displayamount"
                                    class="pull-right">${{'0' | number:'1.2-2'}}</span>
                                </td>
                            </tr>
                            <tr *ngFor="let total  of totalDiscting"> 
                                <td class="tablepad" style="color:#7d7d7d !important;padding:6px 10px !important;"><span >{{total.label}} </span></td>
                                <td class="tablepad" style="padding:6px 10px !important;">
                                    <span class="pull-right ">{{(total.category==2 && total.displayamount == 0)? 'INCLUDED' :'$'+(total.value | number:'1.2-2')}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="tablepad fs-5" colspan="2" style="padding:6px 10px !important;border-bottom:1px solid #ccc;background:#f4f4f4;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                                    <span class="pull-right fw-semibold" style="font-size:12px;">${{TotalAmtData | number:'1.2-2'}}</span>
                                    <label class="pull-right fw-semibold mr-10" style="font-size:12px;">Total Amount</label>
                                </td>
                            </tr>
                            <tr *ngIf="ccCardPay=='CC'">
                                <td class="tablepad fs-5" colspan="2" style="padding:6px 10px !important;border-bottom:1px solid #ccc;background:#f4f4f4;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                                <span class="pull-right fw-semibold" style="font-size:12px;">${{paymentListDetailsList.totalPledgeAmountWithConv | number:'1.2-2'}}</span>
                                <label class="pull-right fw-semibold mr-10" style="font-size:12px;">Total Amount with 3% Fee</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- <div class="col-lg-12">
                <div class="mt-10"><label class="text-semibold text-danger">Liability Release</label></div>
                <span class="text-justify">
                    Participants as well as their agents or invitee shall hold harmless
                    and indemnify Chinmaya Mission Washington Regional Center (here after
                    referred to as the Mission), including its officers, employees, volunteers,
                    contractors, agents or members from and against any claim, loss, injury, damage,
                    liability or any expenses including but not limited to attorney fees, court costs
                    etc, arising out of or in any way resulting from acts or omissions of the Mission’s
                    officers, employees, volunteers, agents, contractors, members, invitees for the
                    duration of the program. This paragraph includes, but is not limited to defense
                    and indemnity for any claim, suit, compliant or cross-compliant which may be
                    brought against the Mission by any person or organization in conjunction with
                    this agreement, regardless whether the Mission is negligent actively, passively,
                    or in any way at all. Portions of this agreement that may be rendered
                    unenforceable under the existing law at the time will not render other
                    legally enforceable parts null or void.
                </span>
            </div> -->
            <!-- 
            <div class="col-lg-12">
                <div class="form-group mt-10">
                    <label class="checkbox-inline">
                        <input type="checkbox" class="styled" (change)="acceptAggre($event);">
                        I Agree and Accept<span class="ml-5  text-danger">*</span>
                    </label>
                </div>
            </div> -->
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 p-2">
            <span class="fw-semibold" style="font-size:16px;" *ngIf="paymentListDetailsList?.paymentInstallmentInfoList!=null">
                Payment Option :
            </span>
            <div>
                <div class="form-group mb-6 paymentoption mt-2" *ngIf="paymentListDetailsList?.paymentInstallmentInfoList!=null">
                    <label class="radio-inline fs-5 fsize mrgbtm" style="margin-right: 20px;">
                        <input type="radio" autocomplete="off" class="styled" (change)="paymentModeSelect('fullAmt')" name="paymentOpt" value="fullAmt" [(ngModel)]="payFullAmt" style="margin-right:10px;">
                        Pay in Full
                    </label>

                    <label class="radio-inline fs-5 fsize">
                        <input type="radio" autocomplete="off" class="styled" (change)="paymentModeSelect('partAmt')" name="paymentOpt" value="partAmt" [(ngModel)]="payFullAmt" style="margin-right:10px;">
                        Pay in Installments
                    </label>
                </div>

                <!--   <div class="row col-lg-12">
                    <div class="form-group mb-5 mt-10 col-6 col-sm-6 col-md-7 col-lg-6">
                        <label class="radio-inline fs-5 fsize fsize mrgbtm">
                            <input type="radio" class="styled" (change)="paymentModeSelect('fullAmt')" name="paymentOpt" value="fullAmt" [(ngModel)]="payFullAmt">
                            Pay in Full
                        </label>
                    </div>

                    <div class="form-group mt-5 mt-10 col-6 col-sm-6 col-md-5 col-lg-6" *ngIf="paymentListDetailsList?.paymentInstallmentInfoList!=null">
                        <label class="radio-inline fs-5 fsize fsize mrgbtm">
                            <input type="radio" class="styled" (change)="paymentModeSelect('partAmt')" name="paymentOpt" value="partAmt" [(ngModel)]="payFullAmt">
                            Pay in Installments
                        </label>

                        </div>
                </div> -->

                <span class="fw-semibold" style="font-size:16px;">Payment Method: </span>
                <div class="paymentmethod mt-2" *ngIf="payFullAmt=='fullAmt'">
                    <div class="form-group mt-2">      
                        <label class="radio-inline fs-5 fsize mrgbtm" style="margin-right:20px;">
                            <input type="radio" autocomplete="off" name="radio-inline-left" (change)="cardValue();" value="CC"
                            [(ngModel)]="ccCardPay" class="styled" style="margin-right:10px;">
                            <span>
                                Credit Card
                                (VISA/Mastercard/Discover)
                            </span>
                        </label>

                        <span class="mb-2" *ngIf="ccCardPay=='CC'" style="font-size:12px; width: 75%; display: block; margin-left:30px;color: #484848;">
                            <b class="text-danger"><u>Note:</u></b> {{convienceFee?.convenienceFee}}% convenience fee will be
                            applied for credit card
                            payments.
                        </span>
                        <div class="col-lg-12" *ngIf="(ccCardPay=='CC')">
                            <div class="text-center" style="margin-top:10px;">
                                <!-- <img src="assets/images/e-check.png" *ngIf="ccCardPay=='E-Check'" class="mb-4" width="50%" alt="cardimg"> -->
                                <img src="assets/images/cards.png" *ngIf="ccCardPay=='CC'"  class="mb-4" width="50%" styl="margin-top: 20px;" alt="cardimg">
                            </div>
                        </div>
                        <label class="radio-inline mrg_left fs-5 fsize">
                            <input type="radio" autocomplete="off" name="radio-inline-left" (change)="cardValue();"  value="E-Check" class="styled"
                                    [(ngModel)]="ccCardPay" style="margin-right:10px;">
                                E-Check 
                        </label>
                        <div class="col-lg-12" *ngIf="(ccCardPay=='E-Check')">
                            <div class="text-center" style="margin-top:10px;">
                                <img src="assets/images/e-check.png" *ngIf="ccCardPay=='E-Check'" class="mb-4" width="50%" alt="cardimg">
                                <!-- <img src="assets/images/cards.png" *ngIf="ccCardPay=='CC'"  class="mb-4" width="50%" styl="margin-top: 20px;" alt="cardimg"> -->
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-row-bordered paymentmethod col-lg-12 mt-4" *ngIf="paymentListDetailsList?.deferredPaymentInstallmentInfo!=null && (ccCardPay=='CC' || ccCardPay=='E-Check')" style="border:1px solid #ccc;border-radius:5px;">
                        <table class="table table-row-bordered table-xxs table-hover mb-0">
                            <thead class="bg-gray-200">
                                <tr>
                                    <th class="fw-semibold" width="30%" style="vertical-align:middle;">Installment Date</th>
                                    <th class="fw-semibold" width="40%" *ngIf="ccCardPay!='CC'" style="vertical-align:middle;"> Installment Amount</th>
                                    <th class="fw-semibold text-center" width="40%" style="vertical-align:middle;" *ngIf="ccCardPay=='CC'">Total Amount with 3% Fee</th>
                                    <th class="fw-semibold" width="30%" style="vertical-align:middle;">Schedule Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr> 
                                    <td>
                                        <div data-popup="tooltip" title="" class="txtover" data-original-title="">
                                        {{paymentListDetailsList?.immediatePaymentInstallmentInfo?.scheduleTransactionDate | date: 'MM/dd/YYYY'}}
                                        </div>
                                    </td>
                                    <td *ngIf="ccCardPay!='CC'" align="center" class="green_text"><span data-popup="tooltip" title="" data-original-title="">${{paymentListDetailsList?.immediatePaymentInstallmentInfo?.scheduleTransactionAmount | number:'1.2-2'}}</span></td>
                                    <td *ngIf="ccCardPay=='CC'" align="center" class="green_text">${{paymentListDetailsList?.immediatePaymentInstallmentInfo?.scheduleTransactionAmountWithConv | number:'1.2-2'}}</td>
                                    <td>{{paymentListDetailsList?.immediatePaymentInstallmentInfo?.scheduleType}}</td>
                                </tr>

                                <tr *ngIf="paymentListDetailsList?.deferredPaymentInstallmentInfo!=null">
                                    <td>
                                        <div data-popup="tooltip" title="" class="txtover" data-original-title="">
                                        {{paymentListDetailsList?.deferredPaymentInstallmentInfo?.scheduleTransactionDate | date: 'MM/dd/YYYY'}}
                                        </div>
                                    </td>
                                    <td *ngIf="ccCardPay!='CC'" align="center" class="green_text"><span data-popup="tooltip" title="" data-original-title="">${{paymentListDetailsList?.deferredPaymentInstallmentInfo?.scheduleTransactionAmount | number:'1.2-2'}}</span></td>
                                    <td *ngIf="ccCardPay=='CC'" align="center" class="green_text">${{paymentListDetailsList?.deferredPaymentInstallmentInfo?.scheduleTransactionAmountWithConv | number:'1.2-2'}}</td>
                                    <td>{{paymentListDetailsList?.deferredPaymentInstallmentInfo?.scheduleType}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pay Full END--->

                    <!-- <div class="col-lg-12" >
                            <div class="form-group">
                                <div class="col-lg-8 pad_left_rem" style="padding-left: 0px;">
                                    <label class="radio-inline">

                                    </label>
                                </div>
                                <div class="col-lg-4">
                                    <label class="radio-inline text-semibold">

                                    </label>
                                </div>
                            </div>
                        </div>
                    -->
                    <!-- <div class="col-lg-12" *ngIf="(ccCardPay=='CC' || ccCardPay=='E-Check')">
                        <div class="text-center" style="margin-top:10px;">
                            <img src="assets/images/e-check.png" *ngIf="ccCardPay=='E-Check'" class="mb-4" width="50%" alt="cardimg">
                            <img src="assets/images/cards.png" *ngIf="ccCardPay=='CC'"  class="mb-4" width="50%" styl="margin-top: 20px;" alt="cardimg">
                        </div>
                    </div> -->
                    <div *ngIf="ccCardPay=='CC'">
                        <button  id="pay_proceed_btn_cc_full" [disabled]="!proceedPayBtnCC"
                            billing_company_name_attr="hide" billing_name="Mohan G" billing_street_line1="Usa"
                            billing_street_line2_attr="hide" callback="oncallback" billing_locality="LOwa"
                            billing_region="IL" billing_postal_code="32423" billing_phone_number="4523343534"
                            billing_email_address="mohan1@soft.in" method="sale" allowed_methods="visa, mast, disc"
                            api_access_id="" location_id="" 
                            version_number="2.0" total_amount="25.75" utc_time="" order_number="3852" signature=""
                            consumer_id="3852" xdata_1=" CSGC_2023" xdata_2="$25.00" xdata_3="20221110379" save_token="true"
                            class="pay-button adm-srchbtn-fnt btn btn-primary btn-sm pull-right text-semibold btn-sm fortebtn fs-7 mt-8"
                            style="padding:8px 15px;"
                            data-id="modal0" billing_country="US">Pay Now</button>

                        <!-- <button class="btn btn-primary pull-right text-semibold btn-sm" [disabled]="!proceedPayBtn" type="submit">Proceed to
                                Payment</button> -->
                        <!-- <button  class="btn btn-primary pull-right mr-10 btn-sm" (click)="backtoSignatureTab();">Back</button> -->
                    </div>

                    <div *ngIf="ccCardPay=='E-Check'">
                        <button  id="pay_proceed_btn_echeck_full" sec_code="WEB" [disabled]="!proceedPayBtnEcheck"
                            billing_company_name_attr="hide" billing_name="Mohan G" billing_street_line1="Usa"
                            billing_street_line2_attr="hide" callback="oncallback" billing_locality="LOwa"
                            billing_region="IL" billing_postal_code="32423" billing_phone_number="4523343534"
                            billing_email_address="mohan1@soft.in" method="sale" allowed_methods="visa, mast, disc"
                            api_access_id="" location_id="" 
                            version_number="2.0" total_amount="25.75" utc_time="" order_number="3852" signature=""
                            consumer_id="3852" xdata_1=" CSGC_2023" xdata_2="$25.00" xdata_3="20221110379" save_token="true"
                            style="padding:8px 15px" 
                            class="pay-button adm-srchbtn-fnt btn btn-primary pull-right text-semibold btn-sm fortebtn mt-8 fs-7"
                            data-id="modal0" billing_country="US">Pay Now</button>

                        <!-- <button class="btn btn- pull-right text-semibold btn-sm" [disabled]="!proceedPayBtn" type="submit">Proceed to
                                Payment</button> -->
                        <!-- <button  class="btn btn-primary pull-right mr-10 btn-sm" (click)="backtoSignatureTab();">Back</button> -->
                    </div>
                </div>

                <div *ngIf="payFullAmt=='partAmt' && paymentListDetailsList?.paymentInstallmentInfoList!=null">
                    <div>
                        <div class="form-group mb-6 paymentoption mt-2">
                            <label class="radio-inline fs-5 fsize mrgbtm" style="margin-right:20px;">
                                <input type="radio" autocomplete="off" name="radio-inline-left" (change)="cardValue();" value="CC"
                                    [(ngModel)]="ccCardPay" class="styled" style="margin-right:10px;">
                                <span>
                                    Credit Card
                                    (VISA/Mastercard/Discover)
                                </span>
                            </label>

                            <span class="mb-2" *ngIf="ccCardPay=='CC'" style="font-size:12px; width: 75%; display: block; margin-left:30px;color: #484848;">
                                <b class="text-danger"><u>Note:</u></b> {{convienceFee?.convenienceFee}}% convenience fee will be
                                applied for credit card
                                payments.
                            </span>
                            <div class="col-lg-12" *ngIf="(ccCardPay=='CC')">
                                <div class="text-center" style="margin-top:15px;">
                                    <!-- <img src="assets/images/e-check.png" *ngIf="ccCardPay=='E-Check'" class="mb-4" width="50%" alt="cardimg"> -->
                                    <img src="assets/images/cards.png" *ngIf="ccCardPay=='CC'" styl="margin-top: 20px;"  class="mb-4" width="50%" alt="cardimg">
                                </div>
                            </div>
                            <label class="radio-inline fs-5 fsize mrg_left" >
                                <input type="radio" autocomplete="off" name="radio-inline-left" value="E-Check" (change)="cardValue();" class="styled"
                                    [(ngModel)]="ccCardPay" style="margin-right:10px;">
                                E-Check
                            </label>
                            <div class="col-lg-12" *ngIf="(ccCardPay=='E-Check')">
                                <div class="text-center" style="margin-top:15px;">
                                    <img src="assets/images/e-check.png" *ngIf="ccCardPay=='E-Check'" class="mb-4" width="50%" alt="cardimg">
                                    <!-- <img src="assets/images/cards.png" *ngIf="ccCardPay=='CC'" styl="margin-top: 20px;"  class="mb-4" width="50%" alt="cardimg"> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div  class="table-responsive col-lg-12 mt-4" *ngIf="paymentListDetailsList?.paymentInstallmentInfoList!=null && paymentListDetailsList?.paymentInstallmentInfoList.length>0 && payFullAmt=='partAmt' && (ccCardPay=='CC' || ccCardPay=='E-Check')" style="border:1px solid #ccc;border-radius:5px;">
                        <table class="table table-xxs table-hover mb-0 table-row-bordered">
                            <thead class="bg-gray-200">
                                <tr>
                                    <th class="fw-semibold" width="30%" style="vertical-align:middle;">Installment Date</th>
                                    <th class="fw-semibold" width="40%" style="vertical-align:middle !important;" *ngIf="ccCardPay!='CC' && payFullAmt=='partAmt'"> Installment Amount</th>
                                    <th class="text-center fw-semibold" width="40%" *ngIf="ccCardPay=='CC' && payFullAmt=='partAmt'" style="vertical-align:middle !important;">Installment Amt. <br> with 3% Fee</th>
                                    <th class="fw-semibold" width="30%" style="vertical-align:middle;">Schedule Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of paymentListDetailsList?.paymentInstallmentInfoList;">
                                    <td>
                                        <div data-popup="tooltip" title="" class="txtover" data-original-title="">
                                        {{list.scheduleTransactionDate | date: 'MM/dd/YYYY'}}
                                        </div>
                                    </td>
                                    <td *ngIf="ccCardPay!='CC' && payFullAmt=='partAmt'" align="center" class="green_text"><span data-popup="tooltip" [title]="list.scheduleTransactionAmount" data-original-title="">${{list.scheduleTransactionAmount | number:'1.2-2'}}</span></td>
                                    <td *ngIf="ccCardPay=='CC' && payFullAmt=='partAmt'" align="center" class="green_text">${{list.scheduleTransactionAmountWithConv | number:'1.2-2'}}</td>
                                    <td>{{list.scheduleType}}</td>
                                </tr>
                                <tr *ngIf="paymentListDetailsList?.deferredPaymentInstallmentInfo!=null">
                                    <td>
                                        <div data-popup="tooltip" title="" class="txtover" data-original-title="">
                                        {{paymentListDetailsList?.deferredPaymentInstallmentInfo?.scheduleTransactionDate | date: 'MM/dd/YYYY'}}
                                        </div>
                                    </td>
                                    <td *ngIf="ccCardPay!='CC' && payFullAmt=='partAmt'" align="center" class="green_text"><span data-popup="tooltip" title="" data-original-title="">${{paymentListDetailsList?.deferredPaymentInstallmentInfo?.scheduleTransactionAmount | number:'1.2-2'}}</span></td>
                                    <td *ngIf="ccCardPay=='CC' && payFullAmt=='partAmt'" align="center" class="green_text">${{paymentListDetailsList?.deferredPaymentInstallmentInfo?.scheduleTransactionAmountWithConv | number:'1.2-2'}}</td>
                                    <td>{{paymentListDetailsList?.deferredPaymentInstallmentInfo?.scheduleType}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="col-lg-12" *ngIf="(ccCardPay=='CC' || ccCardPay=='E-Check')">
                        <div class="text-center" style="margin-top:15px;">
                            <img src="assets/images/e-check.png" *ngIf="ccCardPay=='E-Check'" class="mb-4" width="50%" alt="cardimg">
                            <img src="assets/images/cards.png" *ngIf="ccCardPay=='CC'" styl="margin-top: 20px;"  class="mb-4" width="50%" alt="cardimg">
                        </div>
                    </div> -->
                    <div *ngIf="ccCardPay=='CC'">
                        <button id="pay_proceed_btn_cc" [disabled]="!proceedPayBtnCC" billing_company_name_attr="hide" billing_name="Mohan M" billing_street_line1="fsdf" billing_street_line2_attr="hide" callback="oncallback" billing_locality="sdf" billing_region="IL"
                        billing_postal_code="45453" billing_phone_number="(345)-345-3453" billing_email_address="HariOm@soft.in"
                        method="sale" allowed_methods="visa, mast, disc"
                        api_access_id="" location_id="" 
                        version_number="2.0" total_amount="343.33" utc_time="" order_number="4002"
                        signature="cdab9c194d9abedfe1fdfa3c164b18c5"
                        consumer_id="4002"
                        xdata_1="CSBV2023-24"
                        xdata_2="$1000.00"
                        xdata_3="20230610916"
                        xdata_4="40028704516"
                        save_token="true" billing_country="US" style="padding:8px 15px"  class="fs-7 pay-button adm-srchbtn-fnt btn btn-primary btn-sm pull-right text-semibold btn-sm fortebtn mt-8" data-id="modal0">Pay Now</button>

                                        <!-- <button class="btn btn-primary pull-right text-semibold btn-sm" [disabled]="!proceedPayBtn" type="submit">Proceed to
                            Payment</button> -->
                        <!-- <button  class="btn btn-primary pull-right mr-10 btn-sm" (click)="backtoSignatureTab();">Back</button> -->
                    </div>

                    <div *ngIf="ccCardPay=='E-Check'">
                        <button id="pay_proceed_btn_echeck" sec_code="WEB"  [disabled]="!proceedPayBtnEcheck" billing_company_name_attr="hide" billing_name="Mohan M" billing_street_line1="fsdf" billing_street_line2_attr="hide" callback="oncallback" billing_locality="sdf" billing_region="IL"
                        billing_postal_code="45453" billing_phone_number="(345)-345-3453" billing_email_address="HariOm@soft.in"
                        method="sale" allowed_methods="visa, mast, disc"
                        api_access_id="" location_id="" 
                        version_number="2.0" total_amount="343.33" utc_time="" order_number="4002"
                        signature="cdab9c194d9abedfe1fdfa3c164b18c5"
                        consumer_id="4002"
                        xdata_1="CSBV2023-24"
                        xdata_2="$1000.00"
                        xdata_3="20230610916"
                        xdata_4="40028704516"
                        save_token="true" billing_country="US"  style="padding:8px 15px" class="fs-7 pay-button adm-srchbtn-fnt btn btn-primary pull-right text-semibold btn-sm fortebtn mt-8" data-id="modal0">Pay Now</button>

                                        <!-- <button class="btn btn-primary pull-right text-semibold btn-sm" [disabled]="!proceedPayBtn" type="submit">Proceed to
                            Payment</button> -->
                            <!-- <button  class="btn btn-primary pull-right mr-10 btn-sm" (click)="backtoSignatureTab();">Back</button> -->
                    </div>
                </div>
                <button class="btn btn-sm btn-light border border-primary border-active active text-primary backbtn1 mr-10 mt-8" (click)="backtoSignatureTab();">Back</button>
            </div>

        </div>
    </div>
</div>