.form-control, .form-select {
    border-radius:5px !important;
  }
  
  .text_align_right{
    text-align: right;
  }

  .pull-right{
    float:right;
  }

  .table > :not(caption) > * > * {
    padding: 0.75rem 0.75rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}