<div class="card card-flush cardborder">
	<div class="card-header align-items-center float-end  px-4 bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
		<div class="card-title float-sm-end">
			<div class="d-flex align-items-center position-relative my-1">
				<h3 class="panel-title">
                    Program Registration 
				</h3>
			</div>
		</div>
	</div>
    <div class="card-body p-4">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <fieldset class="border p-4">
                        <legend class="float-none fs-5 w-auto p-4 pb-0 mb-0">Search a Family</legend>
                        <div class="row mb-2">
                            <div class="col-lg-4">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Family ID:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control form-control-sm" placeholder="Family ID">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-4">
                                <label class="fw-semibold fs-6 mt-2 mb-2">First Name:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control form-control-sm" placeholder="First Name">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-4">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Last Name:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control form-control-sm" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-4">
                                <label class="fw-semibold fs-6 mt-2 mb-2">Home Phone:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control form-control-sm" placeholder="Home Phone">
                            </div>
                        </div>
                    </fieldset>
                    <div class="d-flex justify-content-center mt-4">
                        <button type="button" class="btn btn-sm btn-danger backbtn1 me-2" style="font-size: 13px;">
                            <i class="icon-cancel-circle2 fs-6"></i> Cancel 
                        </button>
                        
                        <button type="button" class="btn btn-sm btn-primary" style="font-size: 13px;">
                            <i class="icon-search4 fs-6"></i> Search
                        </button>
                    </div>

                    <div class="mt-8">
                        <fieldset class="border p-4">
                            <legend class="float-none fs-5 w-auto p-4 pb-0 mb-0">Select Family Record</legend>
                            <div class="table-responsive px-2">
                                <table class="table table-responsive align-middle table-row-dashed fs-6 gy-5 dataTable">
                                    <thead>
                                        <tr class="fw-bold fs-7 gs-0">
                                            <th class="text-nowrap pt-3 pb-3">
                                                <div class="form-check form-check-sm form-check-solid">
                                                    <label class="text-nowrap">
                                                        <input type="checkbox" value="1" class="form-check-input">
                                                    </label>
                                                </div>
                                            </th>
                                            <th class="min-w-150px required text-nowrap">Family ID</th>
                                            <th class="min-w-150px required text-nowrap">First Name</th>
                                            <th class="min-w-150px required text-nowrap">Last Name</th>
                                            <th class="min-w-150px text-nowrap">Home Phone</th>
                                            <th class="min-w-150px required text-nowrap">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-gray-600 fw-semibold">
                                        <tr>
                                            <td class="text-nowrap">
                                                <div class="form-check form-check-sm form-check-solid">
                                                    <label class="text-center">
                                                        <input type="checkbox" value="1" class="form-check-input">
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="text-nowrap">
                                                <a href="javascript:(void:0)">123</a>
                                            </td>
                                            <td class="text-nowrap">
                                                John
                                            </td>
                                            <td class="text-nowrap">
                                                Doe
                                            </td>
                                            <td class="text-nowrap">
                                                (571)-111-2222
                                            </td>
                                            <td class="text-nowrap">
                                                john@gmail.com
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>

                        <div class="d-flex justify-content-center mt-4">
                            <button type="button" class="btn btn-sm btn-primary" style="font-size: 13px;">
                                <i class="icon-pencil7 fs-6"></i> Register
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <fieldset class="border p-4">
                        <legend class="float-none fs-5 w-auto p-4 pb-0 mb-0">New Family</legend>
                        <div class="mb-3">
                            <label class="form-label fw-semibold">First Name:</label>
                            <input type="text" class="form-control form-control-sm" placeholder="First Name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Last Name:</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Last Name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Email ID</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Email ID">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Gender</label>
                            <select class="form-select form-select-sm cursor-pointer">
                                <option selected>Select</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Home Phone:</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Home Phone">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Mobile Phone</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Mobile Phone">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Marital Status</label>
                            <select class="form-select form-select-sm cursor-pointer">
                                <option selected>Select</option>
                                <option>Married</option>
                                <option>Unmarried</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Home Address</label>
                            <textarea class="form-control form-control-sm" rows="2" cols="2" placeholder="Home Address"></textarea>
                        </div>
                    </fieldset>

                    <div class="d-flex justify-content-center mt-4">
                        <a routerLink="/programregistration/family-reg-workflow" class="btn btn-sm btn-primary" style="font-size: 13px;">
                            <i class="icon-pencil7 fs-6"></i> Register
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>