<div class="card card-flush cardborder" *ngIf="urlIsEmpty!='' && urlIsEmpty!=undefined">
    <div class="card-header align-items-center float-end  px-4 bg-white"
         style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
        <div class="card-title float-sm-end">
            <div class="d-flex align-items-center position-relative my-1">
                <h3 class="panel-title">Program Registration : {{selectedProgram?.description}} </h3>
            </div>
        </div>
        <div class="card-title float-sm-end"></div>
    </div>
<div class="card-body p-4">
    <div class="desktopView"> 
        <div class="row1">
            <ng-container  *ngFor="let program of programRegistrationList;let id=index">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 steppers">
                    <div class="d-grid">
                        <button class="btn hover-scale btndiv" [ngClass]="getProgramClass(program)" style="cursor: default; pointer-events: none;">{{program}}</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    
    <div class="mobileMenu">
        <div class="row1">
        <ng-container  *ngFor="let program of programGroupMenu[(currentTabIndexVal==0||currentTabIndexVal==1||currentTabIndexVal==2)?0:(currentTabIndexVal==3 || currentTabIndexVal==4 || currentTabIndexVal==5 )?1:(currentTabIndexVal==6 || currentTabIndexVal==7 || currentTabIndexVal==8)?2:3];let ids=index">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 steppers">
                <div class="d-grid">
                    <button class="btn hover-scale btndiv" [ngClass]="getProgramClass(program)" style="cursor: default; pointer-events: none;">{{program}}</button>
                </div>
            </div>
            </ng-container>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
</div>

<div *ngIf="urlIsEmpty=='' || urlIsEmpty==undefined">
 <router-outlet></router-outlet>
</div>