
<div class="card card-flush cardborder">
	<div class="card-header align-items-center float-end  px-4 bg-white"
		style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
		<!--begin::Card title-->
		<div class="card-title float-sm-end">
			<!--begin::Search-->
			<div class="d-flex align-items-center position-relative my-1">
				<h3 class="panel-title">
                    Program Registration </h3>
			</div>
			<!--end::Search-->
		</div>
		<div class="card-title float-sm-end">
			<!--begin::Search-->
			 
			<!--end::Search-->
		</div>
		<!--end::Card title-->
	</div>

	<!--begin::Card body-->
	<div class="card-body p-4">

  

		 
        <div class="row1 mb-3">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 steppers">
                <div  class="d-grid">
                    <button  class="btn hover-scale btndiv btncolor">Registration</button>
                </div>
            </div><!--ng-container-->
                    <div  class="col-lg-2 col-md-4 col-sm-6 col-xs-12 steppers">
                        <div  class="d-grid">
                            <button  class="btn hover-scale btndiv btn-secondary">Additional Details</button>
                        </div>
                        </div><!--ng-container-->
                        <div  class="col-lg-2 col-md-4 col-sm-6 col-xs-12 steppers">
                            <div  class="d-grid">
                                <button  class="btn hover-scale btndiv btn-secondary">Health Information</button>
                            </div>
                            </div>
                            <div  class="col-lg-2 col-md-4 col-sm-6 col-xs-12 steppers">
                                <div  class="d-grid">
                                    <button  class="btn hover-scale btndiv btn-secondary">Time Slots SignUp</button>
                                </div>
                                </div>
                            <div  class="col-lg-2 col-md-4 col-sm-6 col-xs-12 steppers">
                                <div  class="d-grid">
                                    <button  class="btn hover-scale btndiv btn-secondary">Review</button></div></div><!--ng-container-->
                                    <div  class="col-lg-2 col-md-4 col-sm-6 col-xs-12 steppers">
                                        <div  class="d-grid">
                                            <button  class="btn hover-scale btndiv btn-secondary">Consent</button></div></div><!--ng-container-->
                                            <div  class="col-lg-2 col-md-4 col-sm-6 col-xs-12 steppers">
                                                <div  class="d-grid">
                                                    <button  class="btn hover-scale btndiv btn-secondary">Payment</button></div></div>
          </div>

          <router-outlet></router-outlet>
 

	<!--end::Card body-->   

</div>

</div>

































