@media (max-width:769px) {
    .asd {
        margin-top:10px !important;
    }
}

 
.form-control, .form-select {
    border-radius:5px !important;
  }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fafafa;
    opacity: 1;
}

.text_transform_cap{
  text-transform: capitalize !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    #kt_app_content_container {
      margin-top: 20px !important;
    }
  }



@media (max-width: 767px) {
.divsize{
    margin-left: 9px !important;
}
}
@media (max-width: 992px) {
.divsize{

    margin-left: 9px !important;
}
}

@media (max-width: 1200px) {
.divsize{
    margin-left: 9px !important;

}
}

@media (max-width: 360px) {
  .MblShowHide{
      display: block !important;
  }  
  .DivDesk{
      display: none !important;
  }
}
@media (max-width: 767px) {
  .MblShowHide{
      display: block !important;
  }  
  .DivDesk{
      display: none !important;
  }
}

#ChilParentdDiv1{
  display:block;
}
@media (max-width: 992px) {
  .MblShowHide{
      display: block !important;
  }  
  .DivDesk{
      display: none !important;
  }

  #ChilParentdDiv1{
    display:none;
  }
}
@media (max-width: 1200px) {
  .MblShowHide{
      display: block !important;
  }  
  .DivDesk{
      display: none !important;
  }
}

.error_clr{
  color:red;
}