<div class="card card-flush cardborder">
    <div class="card-header align-items-center float-end py-2 bg-white"
        style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
        <!--begin::Card title-->
        <div class="card-title float-sm-end">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <button type="button" class="btn btn-primary btn-xs mb-5" routerLink="/family/familyMemberList/false">
                    <i class="bi bi-arrow-left" style="font-size:16px"></i>
                </button>
                <h3 class="panel-title">
                    <img src="assets/chinmaya_media/images/SVG-color/Add Family Registration Details-icon.svg"
                        style="width: 25px;"> Add Family Registration Details
                </h3>
            </div>
            <!--end::Search-->
        </div>
    </div>

    <!--begin::Card body-->
    <div class="card-body pt-0" [formGroup]="familyMemberDetailsForm">
        <div class="row mt-3">
            <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                <label class="col-form-label required fw-semibold fs-6">First Name</label>
                <input type="text" name="firstName" class="form-control form-control-sm required"
                    placeholder="First Name" formControlName="firstName">
                <div class="help-block with-errors text-danger mt-2"></div>
            </div>
            <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                <label class="col-form-label required fw-semibold fs-6">Middle Name</label>
                <input type="text" name="middleName" class="form-control form-control-sm" placeholder="Middle Name"
                    formControlName="middleName">
                <div class="help-block with-errors text-danger mt-2"></div>
            </div>
            <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                <label class="col-form-label required fw-semibold fs-6">Last Name</label>
                <input type="text" name="lastName" class="form-control form-control-sm required" placeholder="Last Name"
                    formControlName="lastName">
                <div class="help-block with-errors text-danger mt-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">Registrant Type</label>
                    <select class="form-select form-select-sm" aria-label="Select example" formControlName="personType">
                        <option value="">- Select -</option>
                        <option *ngFor="let personType of personTypeList" [value]="personType.code">{{personType.code}}
                        </option>

                    </select>
                    <div class="help-block with-errors text-danger mt-2"></div>
                </div>
            </div>
            <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">Gender</label>
                    <select class="form-select form-select-sm" aria-label="Select example" id="example"
                        formControlName="gender">
                        <option value="">- Select -</option>
                        <option value="">Male</option>
                        <option value="">Female</option>
                    </select>
                    <div class="help-block with-errors text-danger mt-2"></div>
                </div>
            </div>
            <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">Date of Birth (MM/DD/YYYY)</label>
                    <input class="form-control form-control-sm flatpickr-input" placeholder="MM/DD/YYYY" type="date"
                        formControlName="dateOfBirth">
                </div>
                <div class="help-block with-errors text-danger mt-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">Status</label>
                    <select class="form-select form-select-sm" aria-label="Select example">
                        <option value="">- Status-</option>
                        <option [value]="status.code" *ngFor="let status of statusList">{{status.code}}</option>
                    </select>
                    <div class="help-block with-errors text-danger mt-2"></div>
                </div>
            </div>
            <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">Marrital Status</label>
                    <select class="form-select form-select-sm" aria-label="Select example">
                        <option>- Select-</option>
                        <option [value]="status.code" *ngFor="let status of maritialStatusList">{{status.code}}</option>

                    </select>
                    <div class="help-block with-errors text-danger mt-2"></div>
                </div>
            </div>
            <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">Relation with Primary
                        Contact</label>
                    <select class="form-select form-select-sm" aria-label="Select example">
                        <option>Select Relation with Primary Contact</option>
                        <option value="">Spouse</option>
                        <option value="">Parent</option>
                        <option value="">Grand Parent</option>
                        <option value="">Aunt</option>
                        <option value="">Uncle</option>
                    </select>
                    <div class="help-block with-errors text-danger mt-2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                <div class="row">
                    <div class="col-lg-6 mt-2">
                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-semibold fs-6 required">Chapter Code</label>
                            <select class="form-select form-select-sm" aria-label="Select example">
                                <option value="">- Select-</option>
                                <option *ngFor="let chapter of chapterCodes" [value]="chapter.code">
                                    {{chapter.description}}</option>
                            </select>
                        </div>
                        <div class="help-block with-errors text-danger mt-2"></div>
                    </div>
                    <div class="col-lg-6 mt-2">
                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-semibold fs-6 required">Does this Individual
                                currently live at the given family address? </label>
                            <select class="form-select form-select-sm" aria-label="Select example">
                                <option>- Select-</option>
                                <option value="">Yes</option>
                                <option value="">No</option>
                            </select>
                        </div>
                        <div class="help-block with-errors text-danger mt-2"></div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-lg-4 mt-2">
                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-semibold fs-6 required">Address</label>
                            <div class="input-group">
                                <textarea class="form-control form-control-sm" aria-label="With textarea"
                                    placeholder="Address" formControlName="address"></textarea>
                            </div>
                        </div>
                        <div class="help-block with-errors text-danger mt-2"></div>
                    </div>
                    <div class="col-lg-4 mt-7 asd">
                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                            <div class="input-group mt-8 asd">
                                <textarea class="form-control form-control-sm" aria-label="With textarea"
                                    placeholder="Address Line1" formControlName="address2"></textarea>
                            </div>
                        </div>
                        <div class="help-block with-errors text-danger mt-2"></div>
                    </div>
                    <div class="col-lg-4 mt-7 asd">
                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                            <div class="input-group mt-8 asd">
                                <textarea class="form-control form-control-sm" aria-label="With textarea"
                                    placeholder="Address Line2" formControlName="address3"></textarea>
                            </div>
                        </div>
                        <div class="help-block with-errors text-danger mt-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 fv-row fv-plugins-icon-container mt-2">
                <div class="row">
                    <label class="col-form-label required fw-semibold fs-6 required">Individual Passport Size
                        Photo</label>
                    <div class="image-input image-input-empty mt-2" data-kt-image-input="true">
                        <!--begin::Image preview wrapper-->
                        <div class="image-input-wrapper w-125px h-125px"
                            style="background-image: url('assets/media/svg/avatars/blank.svg');border:1px solid #ccc;">
                        </div>
                        <!--end::Image preview wrapper-->

                        <!--begin::Edit button-->
                        <label
                            class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                            data-kt-image-input-action="change" data-bs-toggle="tooltip" data-bs-dismiss="click"
                            title="Change avatar">
                            <i class="ki-duotone ki-pencil fs-6"><span class="path1"></span><span
                                    class="path2"></span></i>

                            <!--begin::Inputs-->
                            <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                            <!--end::Inputs-->
                        </label>
                        <!--end::Edit button-->

                        <!--begin::Cancel button-->
                        <span
                            class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                            data-kt-image-input-action="cancel" data-bs-toggle="tooltip" data-bs-dismiss="click"
                            title="Cancel avatar">
                            <i class="ki-outline ki-cross fs-3"></i>
                        </span>
                        <!--end::Remove button-->
                    </div>
                    <span class="mt-1">
                        <span class="text-danger text-semibold">Note:</span> Upload Flyer with format - jpg, jpeg, png,
                        etc.
                    </span>
                    <!--end::Image input-->
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">City</label>
                    <input type="text" class="form-control form-control-sm" placeholder="City" name="city"
                        formControlName="city">
                    <div class="help-block with-errors text-danger mt-2"></div>
                </div>
                <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">State</label>
                    <select class="form-select form-select-sm" aria-label="Select example" formControlName="state">
                        <option value="">- Select State-</option>
                        <option *ngFor="let state of stateList" [value]="state.code">{{state.description}}</option>
                    </select>
                    <div class="help-block with-errors text-danger mt-2"></div>
                </div>
                <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">Zip Code</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Zip Code" name="zip_code"
                        formControlName="zipCode">
                    <div class="help-block with-errors text-danger mt-2"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">Home Phone</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Home Phone" name="first_name"
                        formControlName="homePhone">

                    <label class="mt-1">
                        <input type="checkbox">
                        <small class="fw-semibold text-danger ms-2">Use in case of emergency</small>
                    </label>
                </div>
                <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">Mobile Phone</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Mobile Phone"
                        name="mobile_phone" formControlName="phoneNumber">
                    <label class="mt-1">
                        <input type="checkbox">
                        <small class="fw-semibold text-danger ms-2">Use in case of emergency</small>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">Work Phone</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Work Phone" name="work_phone"
                        formControlName="workPhone">

                    <label class="mt-1">
                        <input type="checkbox">
                        <small class="fw-semibold text-danger ms-2">Use in case of emergency</small>
                    </label>
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                </div>
                <div class="col-lg-6 mt-2 fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-semibold fs-6 required">Email</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Email" name="email"
                        formControlName="emailAddress">
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mt-5">
                <span class="text-danger fw-semibold">
                    Note: If you do not have work phone, Please enter your Mobile phone again.
                </span>
            </div>
        </div>

        <div class="col-lg-12 mt-4">
            <div class="row">
                <div class="col-lg-6 mt-4">
                    <div class="card shadow-sm">
                        <div class="p-5">
                            <h5 class="text-uppercase fs-6 fw-semibold mb-0">Parent Relationship (for Child Record)</h5>
                        </div>
                        <hr class="mx-sm-2 m-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label fw-semibold fs-6">Relationship 1</label>
                                    <select class="form-select form-select-sm" aria-label="Select example">
                                        <option>- Select-</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 mt-13 fv-row fv-plugins-icon-container">
                                    <select class="form-select form-select-sm" aria-label="Select example">
                                        <option>- Select State-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mt-4 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label fw-semibold fs-6 required">Relationship2</label>
                                    <select class="form-select form-select-sm" aria-label="Select example">
                                        <option>- Select-</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 mt-17 fv-row fv-plugins-icon-container">
                                    <select class="form-select form-select-sm" aria-label="Select example">
                                        <option>- Select State-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mt- fv-row fv-plugins-icon-container">
                                    <label class="col-form-label fw-semibold fs-6 required">Please declare any legal
                                        custody agreement</label>
                                    <select class="form-select form-select-sm" aria-label="Select example">
                                        <option>- Select-</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="card shadow-sm">
                        <div class="p-5">
                            <h5 class="text-uppercase fs-6 fw-semibold mb-0">Third Party Emergency Contacts</h5>
                        </div>
                        <hr class="mx-sm-2 m-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label fw-semibold fs-6">Emergency Contact 1</label>
                                    <input type="text" class="form-control form-control-sm"
                                        placeholder="Emergency Contact 1" name="emergency_contact1">
                                </div>
                                <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label fw-semibold fs-6">Phone 1</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="Phone 1"
                                        name="phone1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mt-4 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label fw-semibold fs-6">Emergency Contact 2</label>
                                    <input type="text" class="form-control form-control-sm"
                                        placeholder="Emergency Contact 2" name="emergency_contact2">
                                </div>
                                <div class="col-lg-6 mt-4 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label fw-semibold fs-6">Phone 2</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="Phone 2"
                                        name="phone2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="py-5">
                <div class="d-flex align-items-center rounded py-5 px-5 bg-light-primary ">
                    <i class="ki-duotone ki-information-5 fs-3x text-warning me-5">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                    <div class="text-gray-700 fs-6">
                        a) This email address used for any communication related to the programs that this individual is
                        regestered for. To Unsubscribe please contact the respective program coordinator.
                        <br><br>
                        b) The information provided will be used for Mission purpose only. Including Mission
                        publications and websited unless otherwise specified by a written request to the Mission from
                        the Member For privacy, the names will not be included on website.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-center">
                <!--begin::Filter menu-->
                <div class="m-0">

                    <a href="#" class="btn btn-primary btn-sm mb-2 mt-4" style="margin-right:5px;">
                        <i class="icon-floppy-disk fs-4"></i>Save
                    </a>

                    <a href="#" class="btn btn-primary btn-sm mb-2 mt-4" style="margin-right:5px;">
                        <i class="icon-floppy-disks fs-4"></i>Save & Add another Number
                    </a>

                    <a href="#" routerLink="/family/allFamilyMembers" class="btn btn-primary btn-sm mb-2 mt-4" style="margin-right:5px;">
						<i class="icon-backward fs-4"></i>
						<span class="fs-6">Back</span>
					</a> 
                        
                    <a href="manage_family.html" class="btn btn-danger btn-sm mb-2 mt-4">
                        <i class="icon-cancel-circle2 fs-4"></i>Cancel
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>