
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$demo1-primary: mat.define-palette(mat.$indigo-palette);
$demo1-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$demo1-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$demo1-theme: mat.define-light-theme((
  color: (
    primary: $demo1-primary,
    accent: $demo1-accent,
    warn: $demo1-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($demo1-theme);

/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
// @import "./assets/css/style.rtl";
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

// Keenicons - High quality and pixel perfect font icons available in 3 styles, duotone, outline and solid for Metronic elements
@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";
@import "./assets/chinmaya_media/icons/icomoon/styles.css";
@import "./assets/sass/components/accordion.scss";
@import "./assets/sass/components/variables.scss";
@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";
// @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400&display=swap');



// * {
//     font-family: 'Catamaran', sans-serif;
// }

/* Add a custom CSS file or include these styles in your existing CSS file */
// input[type="text"],
// textarea,
// select,
// option {
//     font-weight: bold !important;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table-responsive {
  border-radius: 5px;
}

.card-header:first-child {
  border-radius: none !important;
}

#kt_app_main {
  background-color: #f5f8fa !important;
}

.card .card-header {
  min-height: 45px !important;
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    --bs-modal-width: 1200px !important;
  }
}

.mat-elevation-z8 {
  box-shadow: none !important;
}

div.mat-mdc-select-panel {
	border: 1px solid #ccc;
	background: #fff !important;
  padding:0px !important;
}

.mat-mdc-focus-indicator:hover {
  background-color: none !important;
}

.mat-mdc-option { 
  min-height: 40px !important;
}

.mat-mdc-option:hover {
  background-color: none !important;
} 


    .mat-mdc-tab-header {
      background-color: #607D8B !important;
      border-color: #607D8B !important;
      border-radius: 5px 5px 0px 0px;
    }

    .mat-mdc-table thead {
      position: sticky !important;
    }
  
    .form-check.form-check-sm .form-check-input:checked {
      border: 2px solid #f46c00 !important;
      background-color: #f46c00 !important;
    }
  
  .form-check-input:hover {
    cursor: pointer;
  }

  @supports (top: max(0%)) {
    .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
        display: none;
    }
}

.mat-header-cell {
  cursor: pointer;
}

.mat-sort-header-container {
  width:100% !important;
}

.mdc-tab-indicator {
  display: block !important;
}

.mat-mdc-tab-label-container {
  flex-grow: 0 !important;
  overflow: hidden;
}

.mat-mdc-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.mat-mdc-header-row {
  background-color: #CDDDFF;
}

.mdc-tab {
  padding: 15px 5px !important;
}

.mat-mdc-tab-label-container { 
  border-bottom-style: none !important;
}

.mdc-tab--active .mdc-tab__text-label {
  color: #fff !important;
}

table {
  border-collapse: initial !important;
}

.mdc-tab__text-label {
  color: #f1f1f1 !important;
  font-weight: 500 !important;
}

.mat-tab-link:not(.mat-tab-label-active):focus {
  background: none !important;
  transition: none !important;
  transform: none !important; 
  animation-duration: 0ms !important; 
}

.mat-mdc-row {
  font-family: Inter, Helvetica, "sans-serif" !important;
}

.mat-mdc-text-field-wrapper {
  padding: 0px 10px !important;
}

.mdc-notched-outline__leading, .mdc-notched-outline__trailing { 
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
}

.mat-mdc-paginator { 
  padding:5px;
}

.mat-mdc-table tbody { 
  border-bottom: 1px solid #ddd;
  padding:5px;
}

.mat-mdc-tab .mdc-tab__text-label {
  font-size: 14px !important;
}

.mdc-tab {
  min-width: 125px !important;
}

.mat-mdc-tab-ripple:hover 
.mat-ripple:hover 
.mdc-tab:hover 
.mat-mdc-tab:hover 
.mat-mdc-focus-indicator:hover 
.ng-star-inserted:hover {
  background-color: none !important;
}

#mat-tab-label-0-2:hover {
  background-color: none !important;
}

.mdc-tab-indicator--active {
  background-color: transparent !important;
  animation: 0ms !important;
}

.mat-mdc-tab .mdc-tab__ripple::before { 
  background-color: transparent !important;
  transition: none !important;
  transform: none !important; 
  animation-duration: 0ms !important; 
}

.mat-mdc-tab .mdc-tab__ripple::after { 
  background-color: transparent !important;
  transition: none !important;
  transform: none !important; 
  animation-duration: 0ms !important; 
}

.mat-mdc-tab .mdc-tab__ripple:hover { 
  background-color: none !important;
}

.mat-mdc-tab:not(.mdc-tab--stacked) {
  height: auto !important;
}

.form-check.form-check-sm .form-check-input {
  height: 1.3rem !important; 
  width: 1.3rem !important;
  border-radius: 3px;
  border: 2px solid #4f4f4f !important;
}

.form-check.form-check-solid .form-check-input:not(:checked) {
  background-color: transparent !important;
}

.form-check.form-check-sm .form-check-input:checked {
  border: 2px solid #f46c00 !important;
  background-color: #f46c00 !important;
}

.form-check-input:hover {
cursor: pointer;
}


//mat-tabs

.mat-header-cell {
  cursor: pointer;
}

.mat-sort-header-container {
  width:100% !important;
}

.mdc-tab-indicator {
  display: block !important;
}

.mat-mdc-tab-label-container {
  flex-grow: 0 !important;
  overflow: hidden;
  background-color: #f4f5f8 !important;
  border-radius: 5px;
  border: none !important;
}

.mat-mdc-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  background: #f4f5f8 !important;
}

.mat-mdc-header-row {
  background-color: #CDDDFF;
}

.mat-mdc-tab {
  padding: 10px 5px !important;
  background-color: #f4f5f8 !important;
}

.mdc-tab--active {
  background: #fff !important;
  color: #fff !important;
}

.mdc-tab--active .mdc-tab__text-label {
  color: #fff !important;
}

.mdc-tab__text-label {
  color: #474860 !important;
  font-weight: 500 !important;
}

//mat tabs

.mat-mdc-tab-header-pagination-chevron {
  border-color: #fff !important;
}

.form-check.form-check-sm .form-check-input {
    height: 1.3rem !important; 
    width: 1.3rem !important;
    border-radius: 3px;
    border: 2px solid #4f4f4f !important;
    margin-top: 2px;
  }

  .form-check.form-check-solid .form-check-input:not(:checked) {
    background-color: transparent !important;
  }

  .mat-mdc-row {
    font-family: Inter, Helvetica, "sans-serif" !important;
  }

  .mdc-notched-outline__leading, .mdc-notched-outline__trailing { 
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
  }

  .mat-mdc-paginator { 
    padding:5px;
  }

  .mat-mdc-tab .mdc-tab__text-label {
    font-size: 14px !important;
  }

  .mdc-tab {
    min-width: 100px !important;
  }

  .mdc-tab--active {
    background-color: #697B9B !important;
    border-radius: 5px !important;
  }

  mdc-tab--active:hover {
    background-color: #f46c00 !important;
  }

  .mat-mdc-tab-group {
    margin-bottom: 15px !important;
    margin-top: 10px;
  }

  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
    flex-grow: 1;
    border-right: 1px solid #d9d6d6;
    padding: 10px 20px 10px 10px !important;
    border-radius: 0px;
    margin: 2px;
  }

  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab:last-child {
    border-right: none !important;
  }

  .mat-mdc-tab-header-pagination-controls-enabled .mat-mdc-tab-header-pagination {
    display: flex;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    background: #697B9B !important;
  }

  .mat-mdc-tab-header {
    box-shadow: 0px 1px 5px 0px #5b5b5b !important;
    border-radius: 5px;
  }

  