<ul class="nav nav-tabs nav-pills shadow-sm border-0 flex-md mb-3 mb-md-0 fs-6" style="border: 1px solid #ddd !important;  padding: 5px;  border-radius: 5px;flex-direction: column;">
    <li class="nav-item me-0">
        <a routerLink="/config/program/signupCodeTab/signup-details" class="nav-link active fw-semibold" data-bs-toggle="tab" href="#kt_vtab_pane_1">Signup Code Details</a>
    </li>
    <li class="nav-item me-0">
        <a routerLink="/config/program/signupCodeTab/prerequisities" class="nav-link fw-semibold" data-bs-toggle="tab" href="#kt_vtab_pane_2">Pre Requisities</a>
    </li>
    <li class="nav-item me-0">
        <a routerLink="/config/program/signupCodeTab/payment-processing" class="nav-link fw-semibold" data-bs-toggle="tab" href="#kt_vtab_pane_3">Payment Processing</a>
    </li>
    <li class="nav-item me-0">
        <a routerLink="/config/program/signupCodeTab/choice-details" class="nav-link fw-semibold" data-bs-toggle="tab" href="#kt_vtab_pane_4">Choice Details</a>
    </li>
    <li class="nav-item me-0">
        <a routerLink="/config/program/signupCodeTab/pledge-structure" class="nav-link fw-semibold" data-bs-toggle="tab" href="#kt_vtab_pane_5">Pledge Structure</a>
    </li>
    <li class="nav-item me-0">
        <a  routerLink="/config/program/signupCodeTab/class-codes" class="nav-link fw-semibold" data-bs-toggle="tab" href="#kt_vtab_pane_6">Class Codes</a>
    </li>
    <li class="nav-item me-0">
        <a routerLink="/config/program/signupCodeTab/registration-steps" class="nav-link fw-semibold" data-bs-toggle="tab" href="#kt_vtab_pane_7">Registration Steps</a>
    </li>
</ul>