    <!--begin::Products-->
        <div class="card card-flush h-xl-100 cardtop" style="border-radius:5px;">
        
            <!--begin::Body-->
            <div class="card-body p-0">
                <!--begin::Tab Content-->
                <div class="tab-content">
                    <!--begin::Tap pane-->
                    <div class="tab-pane fade active show" id="kt_stats_widget_16_tab_1" role="tabpanel" aria-labelledby="#kt_stats_widget_16_tab_link_1">
                        <!--begin::Table container-->
                        <div class="card card-flush">
                            <div class="card-header align-items-center float-end py-2 bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
                                <div class="row" style="width:100%;">
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container"></div>
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold required">Organization Code</label>
                                            <select class="form-select form-select-sm" aria-label="Select example">
                                                <option value="">- Select -</option>
                                                <option value="">Chinmaya Mission</option>
                                                <option value="">Chinmaya Somnath, Chantilly, VA</option>
                                                <option value="">Chinmayam, Silver Spring, MD</option>
                                                <option value="">Fredrick Chapter, Fredrick, MD</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-4" style="width:100%;">
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container"></div>
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold required">Program Code</label>
                                            <select class="form-select form-select-sm" aria-label="Select example">
                                                <option value="">- Select -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3" style="width:100%;">
                                    <div class="card-footer p-5" style="border-top: 1px solid var(--bs-card-border-color) !important;">
                                        <div class="row">
                                            <div class="d-flex justify-content-center">
                                                <div class="m-0">
                                                    <a href="#" class="btn btn-primary btn-sm my-1 fs-6" style="margin-right:5px;">
                                                        <i class="icon-add fs-4"></i> Create Program
                                                    </a>
                                                        
                                                    <a href="#" class="btn btn-primary btn-sm my-1 fs-6" style="margin-right:5px;">
                                                        <i class="icon-pencil7 fs-4"></i> Modify Program
                                                    </a>

                                                    <a href="#" class="btn btn-primary btn-sm my-1 fs-6" style="margin-right:5px;">
                                                        <i class="icon-eye fs-4"></i> View Program
                                                    </a>
                                                    
                                                    <a href="#" class="btn btn-danger btn-sm my-xxl-1 fs-6">
                                                        <i class="icon-cancel-circle2 fs-4"></i> Cancel
                                                    </a>                                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-header align-items-center float-end px-4 bg-white" style="border-bottom: 1px solid var(--bs-card-border-color) !important;">
                                <!--begin::Card title-->
                                <div class="card-title float-sm-end">
                                    <!--begin::Search-->
                                    <div class="d-flex align-items-center position-relative my-1">
                                        <h3 class="panel-title fw-semibold">
                                            <img src="assets/chinmaya_media/images/SVG-color/Create Configuration Details-icon.svg" style="width: 25px;"> Create Configuration Details
                                        </h3>
                                    </div>
                                    <!--end::Search-->
                                </div>
                            </div>
                    
                            <!--begin::Card body-->
                            <div class="card-body p-6">
                                <div class="row mt-3">
                                    <div class="col-lg-4 mt-1 fv-row fv-plugins-icon-container">
                                        
                                    </div>
                                    <div class="col-lg-4 mt-1 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label required fw-semibold">Do you want open a "New Configuration" ?</label>
                                            <select class="form-select form-select-sm" aria-label="Select example">
                                                <option value="">New Coinfiguration</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 mt-4 fv-row fv-plugins-icon-container">
                                        
                                    </div>
                                </div>
                                <hr>
                                                                                   
                                
                                <div class="row mt-3">
                                    <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold"> Do You Want To Clone from previous configuration</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 mt-4 fv-row fv-plugins-icon-container">
                                        <div class="d-flex fv-row fv-plugins-icon-container">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="width:50%;">
                                                <!--begin::Radio-->
                                                <div class="form-check form-check-custom form-check-solid col-lg-3">
                                                    <input class="form-check-input" type="radio" name="conditions" value="" id="all_conditions" checked="checked">
                                                    <label class="form-check-label" for="all_conditions">Yes</label>
                                                </div>
                                                <!--end::Radio-->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="width:50%;">
                                                <!--begin::Radio-->
                                                <div class="form-check form-check-custom form-check-solid col-lg-3">
                                                    <input class="form-check-input" type="radio" name="conditions" value="" id="any_conditions">
                                                    <label class="form-check-label" for="any_conditions">No</label>
                                                </div>
                                                <!--end::Radio-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row mt-3">
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold required">Organization Code</label>
                                            <select class="form-select form-select-sm" aria-label="Select example">
                                                <option value="">- Select -</option>
                                                <option value="">Chinmaya Mission</option>
                                                <option value="">Chinmaya Somnath, Chantilly, VA</option>
                                                <option value="">Chinmayam, Silver Spring, MD</option>
                                                <option value="">Fredrick Chapter, Fredrick, MD</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold required">Previous Configuration Details</label>
                                            <select class="form-select form-select-sm" aria-label="Select example">
                                                <option value="">- Select -</option>
                                                <option value="">2020-21 CMWRC Family Membership</option>
                                                <option value="">2020-21 CHYK Membership Registration</option>
                                                <option value="">2019-20 CMWRC Family Membership</option>
                                                <option value="">2018-19 CMWRC Family Membership</option>
                                                <option value="">2017-18 CMWRC Family Membership</option>
                                                <option value="">Test 2017-18 CMWRC Family Membership</option>
                                                <option value="">2017-18 CHYK Membership Registration</option>
                                                <option value="">2016-17 CMWRC Family Membership</option>
                                                <option value="">2015-16 CMWRC Family Membership</option>
                                                <option value="">2014-15 CMWRC Family Membership</option>
                                                <option value="">Annual Fundriser 2014</option>
                                                <option value="">CMWRC Membership (Historical)</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <label class="col-form-label required fw-semibold fs-6">Previous Year Program Code</label>
                                        <input type="text" name="" class="form-control form-control-sm" placeholder="Previous Year Program Code">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold required">Select the Program-Year for New Program</label>
                                            <select class="form-select form-select-sm" aria-label="Select example">
                                                <option value="">- Select Program Year -</option>
                                                <option value="">2020-2021</option>
                                                <option value="">2021-2022</option>
                                                <option value="">2022-2023</option>
                                                <option value="">2023-2024</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <label class="col-form-label required fw-semibold fs-6">Enter the New Program Code</label>
                                        <input type="text" name="fname" class="form-control form-control-sm" placeholder="Program Code">
                                    </div>
                                    
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <label class="col-form-label required fw-semibold fs-6">Enter the Description for New Program</label>
                                        <textarea rows="1" cols="1" aria-label="With textarea" placeholder="Program Description" class="form-control form-control-sm"></textarea>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold required">Enter the Start-Date of New Program </label>
                                            <input class="form-control form-control-sm flatpickr-input" placeholder="Program Start Date" type="date">
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold required">Enter the End-Date of New Program </label>
                                            <input class="form-control form-control-sm flatpickr-input" placeholder="Program Start Date" type="date">
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold required">Enter the Registration-Start-Date of New Program </label>
                                            <input class="form-control form-control-sm flatpickr-input" placeholder="Registration Start Date" type="date">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold required">Enter the Registration-End-Date of New Program </label>
                                            <input class="form-control form-control-sm flatpickr-input" placeholder="Registration End Date" type="date">
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <label class="col-form-label fw-semibold required">Program for the year</label>
                                            <select class="form-select form-select-sm" aria-label="Select example">
                                                <option value="">- Select Program Year -</option>
                                                <option value="">2024-2025</option>
                                                <option value="">2023-2024</option>
                                                <option value="">2022-2023</option>
                                                <option value="">2021-2022</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 mt-2 fv-row fv-plugins-icon-container">
                                        <label class="col-form-label required fw-semibold fs-6">Program Code</label>
                                        <input type="text" name="" class="form-control form-control-sm" placeholder="Program Code">
                                    </div>
                                </div>
                                
                                <div id="Note" class="col-lg-12 mt-8" style="display: block;">
                                    <span class="text-danger"><span class="fw-semibold">Note:</span> Fields with * are required.</span>
                                </div>
                                
                            </div>
                            <div class="card-footer p-5" style="border-top: 1px solid var(--bs-card-border-color) !important;">
                                <div class="row">
                                    <div class="d-flex justify-content-center">
                                        <div class="m-0">
                                            <a href="#" class="btn btn-primary btn-sm my-1 fs-6" style="margin-right:5px;">
                                                <i class=" icon-spinner9 fs-4"></i> Clone Program
                                            </a>
                                                
                                            <a href="#" class="btn btn-primary btn-sm my-1 fs-6" style="margin-right:5px;">
                                                <i class="icon-floppy-disk fs-4"></i> Save &amp; Next
                                            </a>
                                            
                                            <a href="#" class="btn btn-danger btn-sm my-1 fs-6">
                                                <i class="icon-cancel-circle2 fs-4"></i> Cancel
                                            </a>                                                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Table container-->
                    </div>
                    <!--end::Tap pane-->
                    <!--end::Table container-->
                </div>
                <!--end::Tab Content-->
            </div>
            <!--end: Card Body-->
        </div>
        <!--end::Content container-->

        <script>
			$("#kt_datepicker_1").flatpickr();
		</script>