.nav .nav-item button.active {
    background-color: transparent;
    color: var(--bs-danger) !important;
  }
  .nav .nav-item button.active::after {
    content: "";
    border-right: 4px solid var(--bs-danger);
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
    border-radius: 5px 0 0 5px;
  }
  
  .active-link {
    background-color: var(--bs-nav-pills-link-active-bg) !important;
    color: #fff !important;
  }
  
  .nav-tabs .nav-link:hover {
    color: #fff !important;
    transition: color 0s ease !important;
  }

  .nav-pills .nav-link { 
    padding: 8px !important;
    border-radius: 5px !important;
    min-width:140px !important;
  }

  .bg-secondary not:active-link {
    background-color: #eee !important;
  }

