<div class="card m-2" style="border:1px solid #eee;">
    <div class="card-header pe-4 ps-4">
        <!--begin::Title-->
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-gray-800">Family Members</span>          
        </h3>
        <!--end::Title-->
        <!--begin::Toolbar-->
        <div class="card-toolbar my-1">
            <!--begin::Select-->
            <div class="d-flex">
                <span class="align-items-start fw-semibold flex-column">
                    <span class="card-label fw-bold fs-5" style="color:#77933C;">Family ID: 1234</span>          
                </span>
                <span class="align-items-start fw-semibold flex-column ms-6">
                    <span class="card-label fw-bold fs-5" style="color:#F79646;">Family Name: Smith</span>          
                </span>
            </div>
            <!--end::Select-->
        </div>
    </div>
    <!--begin::Card body-->
    <div class="card-body p-4"> 
          
    </div>
</div>