<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
        <!--begin::Card title-->
        <div class="card-title m-0">
            <h3 class="fw-bold m-0">Registration Processing</h3>
        </div>
        <!--end::Card title-->
    </div>
    <!--begin::Card header-->
    <!--begin::Content-->
    <div id="kt_account_settings_profile_details" class="collapse show">
        <!--begin::Form-->
        <form id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
            <!--begin::Card body-->
            <div class="card-body border-top p-9" data-select2-id="select2-data-135-v1zv">

                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                    <!--begin::User-->
                    <div class="d-flex flex-column">
                        <!--begin::Name-->
                        <div class="d-flex align-items-center mb-2">
                            <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">Filters :</a>                        
                        </div>
                        <!--end::Name-->
                       
                    </div>
                    <!--end::User-->
                    
                </div>
                <!--begin::Input group-->

                <fieldset style="border: 2px gray;">
                  <legend>Registration Status</legend>
                  <div class="row">
                    <!--begin::Label-->
                    <label class="col-lg-3 col-form-label required fw-semibold fs-6">Registration Status :</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-9 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
                        <!--begin::Options-->

<div class="row">
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
  <!--begin::Option-->
  <label class="form-check form-check-custom form-check-inline me-5 is-valid text-nowrap m-2">
    <input class="form-check-input" name="communication[]" type="checkbox" value="1">
    <span class="fw-semibold ps-2 fs-6">PENDING</span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
 <!--begin::Option-->
 <label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
    <input class="form-check-input" name="communication[]" type="checkbox" value="2">
    <span class="fw-semibold ps-2 fs-6">ACCEPTED</span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
    <!--begin::Option-->
    <label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
        <input class="form-check-input" name="communication[]" type="checkbox" value="2">
        <span class="fw-semibold ps-2 fs-6">WAITLISTED</span>
    </label>
    <!--end::Option-->
</div>
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
      
                             <!--begin::Option-->
                             <label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
                                <input class="form-check-input" name="communication[]" type="checkbox" value="2">
                                <span class="fw-semibold ps-2 fs-6">CANCELLED</span>
                            </label>
                            <!--end::Option-->

</div>
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
          <!--begin::Option-->
          <label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
            <input class="form-check-input" name="communication[]" type="checkbox" value="2">
            <span class="fw-semibold ps-2 fs-6">WITHDRAWN</span>
        </label>
        <!--end::Option-->
</div>
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
    
</div>
</div>





                        <div class="d-flex align-items-center mt-3">
                          
                           
                           
                       
                        </div>
                        <!--end::Options-->
                    <div class="fv-plugins-message-container invalid-feedback"></div></div>
                    <!--end::Col-->
                </div>
                </fieldset>
               
                <!--end::Input group-->

                <!--begin::Input group-->
                <div class="row">
                    <!--begin::Label-->
                    <label class="col-lg-3 col-form-label required fw-semibold fs-6">Payment Status :</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-9 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
                        <!--begin::Options-->

<div class="row">
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
  <!--begin::Option-->
  <label class="form-check form-check-custom form-check-inline me-5 is-valid text-nowrap m-2">
    <input class="form-check-input" name="communication[]" type="checkbox" value="1">
    <span class="fw-semibold ps-2 fs-6">PARTIALLY PAID
    </span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
 <!--begin::Option-->
 <label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
    <input class="form-check-input" name="communication[]" type="checkbox" value="2">
    <span class="fw-semibold ps-2 fs-6">PAID</span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
    <!--begin::Option-->
    <label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
        <input class="form-check-input" name="communication[]" type="checkbox" value="2">
        <span class="fw-semibold ps-2 fs-6">BALANCE DUE
        </span>
    </label>
    <!--end::Option-->
</div>
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
      
                             <!--begin::Option-->
                             <label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
                                <input class="form-check-input" name="communication[]" type="checkbox" value="2">
                                <span class="fw-semibold ps-2 fs-6">NO DUES
                                </span>
                            </label>
                            <!--end::Option-->

</div>
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
         
</div>
<div class="col-lg-2 col-xs-2 col-sm-6 col-md-6 col-6">
    
</div>
</div>





                        <div class="d-flex align-items-center mt-3">
                          
                           
                           
                       
                        </div>
                        <!--end::Options-->
                    <div class="fv-plugins-message-container invalid-feedback"></div></div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->


   <!--begin::Input group-->
   <div class="row">
    <!--begin::Label-->
    <label class="col-lg-3 col-form-label fw-semibold fs-6">Session Choice 1 :</label>
    <!--end::Label-->
    <!--begin::Col-->
    <div class="col-lg-9 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
        <!--begin::Options-->

<div class="row">
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline me-5 is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="1">
<span class="fw-semibold ps-2 fs-6">Sunday 9:15 AM – 10:45 AM

</span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="2">
<span class="fw-semibold ps-2 fs-6">Sunday 12:15 PM – 1:50 PM</span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="2">
<span class="fw-semibold ps-2 fs-6">FRIDAY 6:45 PM – 8:20 PM
</span>
</label>
<!--end::Option-->
</div> 
</div>





        <div class="d-flex align-items-center mt-3">
          
           
           
       
        </div>
        <!--end::Options-->
    <div class="fv-plugins-message-container invalid-feedback"></div></div>
    <!--end::Col-->
</div>
<!--end::Input group-->



   <!--begin::Input group-->
   <div class="row">
    <!--begin::Label-->
    <label class="col-lg-3 col-form-label fw-semibold fs-6">Session Choice 2 :</label>
    <!--end::Label-->
    <!--begin::Col-->
    <div class="col-lg-9 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
        <!--begin::Options-->

<div class="row">
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline me-5 is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="1">
<span class="fw-semibold ps-2 fs-6">Sunday 9:15 AM – 10:45 AM

</span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="2">
<span class="fw-semibold ps-2 fs-6">Sunday 12:15 PM – 1:50 PM</span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="2">
<span class="fw-semibold ps-2 fs-6">FRIDAY 6:45 PM – 8:20 PM
</span>
</label>
<!--end::Option-->
</div> 
</div>





        <div class="d-flex align-items-center mt-3">
          
           
           
       
        </div>
        <!--end::Options-->
    <div class="fv-plugins-message-container invalid-feedback"></div></div>
    <!--end::Col-->
</div>
<!--end::Input group-->



   <!--begin::Input group-->
   <div class="row">
    <!--begin::Label-->
    <label class="col-lg-3 col-form-label fw-semibold fs-6">Session Choice 3 :</label>
    <!--end::Label-->
    <!--begin::Col-->
    <div class="col-lg-9 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
        <!--begin::Options-->

<div class="row">
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline me-5 is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="1">
<span class="fw-semibold ps-2 fs-6">Sunday 9:15 AM – 10:45 AM

</span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="2">
<span class="fw-semibold ps-2 fs-6">Sunday 12:15 PM – 1:50 PM</span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="2">
<span class="fw-semibold ps-2 fs-6">FRIDAY 6:45 PM – 8:20 PM
</span>
</label>
<!--end::Option-->
</div>
 
</div>





        <div class="d-flex align-items-center mt-3">
          
           
           
       
        </div>
        <!--end::Options-->
    <div class="fv-plugins-message-container invalid-feedback"></div></div>
    <!--end::Col-->
</div>
<!--end::Input group-->



   <!--begin::Input group-->
   <div class="row">
    <!--begin::Label-->
    <label class="col-lg-3 col-form-label fw-semibold fs-6">Assigned Session :
    </label>
    <!--end::Label-->
    <!--begin::Col-->
    <div class="col-lg-9 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
        <!--begin::Options-->

<div class="row">
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline me-5 is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="1">
<span class="fw-semibold ps-2 fs-6">Sunday 9:15 AM – 10:45 AM

</span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="2">
<span class="fw-semibold ps-2 fs-6">Sunday 12:15 PM – 1:50 PM</span>
</label>
<!--end::Option-->

</div>
<div class="col-lg-4">
<!--begin::Option-->
<label class="form-check form-check-custom form-check-inline is-valid text-nowrap m-2">
<input class="form-check-input" name="communication[]" type="checkbox" value="2">
<span class="fw-semibold ps-2 fs-6">FRIDAY 6:45 PM – 8:20 PM
</span>
</label>
<!--end::Option-->
</div>
 
</div>





        <div class="d-flex align-items-center mt-3">
          
           
           
       
        </div>
        <!--end::Options-->
    <div class="fv-plugins-message-container invalid-feedback"></div></div>
    <!--end::Col-->
</div>
<!--end::Input group-->

   
           
           
                <!--begin::Input group-->
                <div class="row mb-2">
                    <!--begin::Label-->
                    <label class="col-lg-3 col-form-label fw-semibold fs-6">
                        <span class="">Sign-Up Code :
                        </span> 
                    </label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-5 fv-row fv-plugins-icon-container" data-select2-id="select2-data-134-801d">
                        <select name="country" aria-label="Select a Country" data-control="select2" data-placeholder="Select a country..." class="form-select form-select-sm fw-semibold select2-hidden-accessible" data-select2-id="select2-data-10-9p9o" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                            <option value="" data-select2-id="select2-data-12-o9lb">Select an Option...</option>                             
                        </select> 
                    <div class="fv-plugins-message-container invalid-feedback"></div></div>
                    <div class="4"></div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                 <!--begin::Input group-->
                 <div class="row mb-2">
                    <!--begin::Label-->
                    <label class="col-lg-3 col-form-label fw-semibold fs-6">
                        <span class="">Class :
                        </span> 
                    </label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-5 fv-row fv-plugins-icon-container" data-select2-id="select2-data-134-801d">
                        <select name="country" aria-label="Select a Country" data-control="select2" data-placeholder="Select a country..." class="form-select form-select-sm fw-semibold select2-hidden-accessible" data-select2-id="select2-data-10-9p9o" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                            <option value="" data-select2-id="select2-data-12-o9lb">Select an Option...</option>                             
                        </select> 
                    <div class="fv-plugins-message-container invalid-feedback"></div></div>
                    <div class="4"></div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                 <!--begin::Input group-->
                 <div class="row mb-2">
                    <!--begin::Label-->
                    <label class="col-lg-3 col-form-label fw-semibold fs-6">
                        <span class="">Current School Grade :
                        </span> 
                    </label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-5 fv-row fv-plugins-icon-container" data-select2-id="select2-data-134-801d">
                        <select name="country" aria-label="Select a Country" data-control="select2" data-placeholder="Select a country..." class="form-select form-select-sm fw-semibold select2-hidden-accessible" data-select2-id="select2-data-10-9p9o" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                            <option value="" data-select2-id="select2-data-12-o9lb">Select an Option...</option>                             
                        </select> 
                    <div class="fv-plugins-message-container invalid-feedback"></div></div>
                    <div class="4"></div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                 <!--begin::Input group-->
                 <div class="row mb-2">
                    <!--begin::Label-->
                    <label class="col-lg-3 col-form-label fw-semibold fs-6">
                        <span class="">Rising School Grade :
                        </span> 
                    </label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-5 fv-row fv-plugins-icon-container" data-select2-id="select2-data-134-801d">
                        <select name="country" aria-label="Select a Country" data-control="select2" data-placeholder="Select a country..." class="form-select form-select-sm fw-semibold select2-hidden-accessible" data-select2-id="select2-data-10-9p9o" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                            <option value="" data-select2-id="select2-data-12-o9lb">Select an Option...</option>                             
                        </select> 
                    <div class="fv-plugins-message-container invalid-feedback"></div></div>
                    <div class="4"></div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->

                <!--begin::Input group-->
                <div class="row mb-2">
                    <!--begin::Label-->
                    <label class="col-lg-3 col-form-label  fw-semibold fs-6">Family ID :
                    </label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-5 fv-row fv-plugins-icon-container">
                        <input type="text" name="company" class="form-control form-control-sm" placeholder="Family ID">
                    <div class="fv-plugins-message-container invalid-feedback"></div></div>
                    <div class="4"></div>
                    <!--end::Col-->
                </div>
               <!--end::Input group-->

   <!--begin::Input group-->
   <div class="row mb-2">
    <!--begin::Label-->
    <label class="col-lg-3 col-form-label fw-semibold fs-6">First Name :
    </label>
    <!--end::Label-->
    <!--begin::Col-->
    <div class="col-lg-5 fv-row fv-plugins-icon-container">
        <input type="text" name="company" class="form-control form-control-sm" placeholder="First Name">
    <div class="fv-plugins-message-container invalid-feedback"></div></div>
    <div class="4"></div>
    <!--end::Col-->
</div>
<!--end::Input group-->

 <!--begin::Input group-->
 <div class="row mb-2">
    <!--begin::Label-->
    <label class="col-lg-3 col-form-label fw-semibold fs-6">Last Name :
    </label>
    <!--end::Label-->
    <!--begin::Col-->
    <div class="col-lg-5 fv-row fv-plugins-icon-container">
        <input type="text" name="company" class="form-control form-control-sm" placeholder="Last Name">
    <div class="fv-plugins-message-container invalid-feedback"></div></div>
    <div class="4"></div>
    <!--end::Col-->
</div>
<!--end::Input group-->

 <!--begin::Input group-->
 <div class="row mb-2">
    <!--begin::Label-->
    <label class="col-lg-3 col-form-label fw-semibold fs-6">Home Phone :
    </label>
    <!--end::Label-->
    <!--begin::Col-->
    <div class="col-lg-5 fv-row fv-plugins-icon-container">
        <input type="text" name="company" class="form-control form-control-sm" placeholder="Home Phone">
    <div class="fv-plugins-message-container invalid-feedback"></div></div>
    <div class="4"></div>
    <!--end::Col-->
</div>
<!--end::Input group-->

 
            </div>
            <!--end::Card body-->
            <!--begin::Actions-->
            <div class="card-footer d-flex justify-content-end py-6 px-9">

                <div class="row">
                    <div class="d-flex justify-content-center">
                        <!--begin::Filter menu-->
                        <div class="m-0">
                            <a href="" class="btn btn-danger btn-sm me-2 ">
                                <i class="icon-cancel-circle2 fs-4"></i> Cancel
                            </a>
        
                            <a  class="btn btn-primary btn-sm" style="margin-right:5px;" routerLink="/registration-processing/registration-search-results">
                                <i class="icon-search4 fs-4"></i> Search
                            </a>
         
                        </div>
                    </div>
                </div>
 
            </div>
            <!--end::Actions-->
        <input type="hidden"></form>
        <!--end::Form-->
    </div>
    <!--end::Content-->
</div>