//
// Theme style
//

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "./core/layout/base/layout";
@import "layout/layout";

.menu-link1:hover {
    background: #f2f2f2;
    border-radius: 5px;
}

.symbol1 {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 3px;
  }

  .btn-sm {
    padding: 7px 15px !important;
  }

  .app-container {
		padding-left: 20px !important;
    padding-right: 20px !important;
	}

  .form-check-input {
    width: 17px !important;
    height: 17px !important;
    margin-top: 1px !important;
    border-radius: 3px !important;
  }